[2022-02-01 03:21] BenjaminRuston commented on #426
@ilianagenkova,,, I have been adding the umbrella issue to a sub-epic pipeline.  Think it the correct spot and hope to work with you on some of this soon.

[2022-02-01 15:39] srherbener opened #773 "Recent ioda PR (set chunk size limit) impacted two converter tests"
## Current behavior (describe the bug)

The recent ioda PR (jcsda-internal/ioda/pull/583) put a limit of 10000 on a variable's chunk size. This impacted two tests in ioda-converters that we didn't catch before merging in the ioda PR.

The failing tests are:
[code]

and the error messages for both are:
[code]

which come about due to the new limit of 10000 on the chunk size.

## To Reproduce

Build

[2022-02-01 17:03] #773 closed

[2022-02-01 22:48] nicholasesposito commented on #521
Attached are the newest versions. Generated with the newest nomenclature (not using @ in the variable names). REHU and RAWHU have been added where necessary. FLVLST and FLVL have been split, as have TMDB and TMDBST
[nc_aircft_aircar.zip](https://github.com/JCSDA-internal/ioda-converters/files/7982403/nc_aircft_aircar.zip)

[2022-02-03 18:44] BenjaminRuston commented on #468
closing thanks!

[2022-02-03 18:44] #468 closed

[2022-02-03 18:52] BenjaminRuston commented on #479
@YoulongXia-NOAA moving this from new issue (limbo) to backlog (it will be worked on).  Has the initial converter been completed and now an update to IODA v2 is needed?  @amfox37  do you know?

[2022-02-03 18:56] BenjaminRuston commented on #479
@YoulongXia-NOAA and @amfox37  I now see issue #629 which is close so going to close this issue.  Please reopen if this in incorrect.

[2022-02-03 18:56] #479 closed

[2022-02-03 18:59] BenjaminRuston commented on #488
@gthompsnJCSDA closing this as the IODA convention check should catch this correct?

[2022-02-03 18:59] #488 closed

[2022-02-03 19:00] BenjaminRuston commented on #491
@rmclaren and @gthompsnJCSDA closing this one as well as I think this was fixed

[2022-02-03 19:00] #491 closed

[2022-02-03 19:37] BenjaminRuston commented on #500
@nicholasesposito I"m closing this issue for now as the files have been added and the ctest were passing.

please update and reopen if this is incorrect.

[2022-02-03 19:37] #500 closed

[2022-02-03 19:42] BenjaminRuston commented on #503
@nicholasesposito is this done?  How is this issue different from #501 ,, appears you've knocked some of these out and they just haven't closed.

[2022-02-03 19:43] BenjaminRuston commented on #502
@nicholasesposito OK,, guess I"m figuring it out.. One set of issues for prepBUFR and one set for BUFR dump files?  But it appears this work is done?  Please close if this is so.

[2022-02-03 19:45] BenjaminRuston commented on #504
moved to backlog, please update, close consolidate as you see fit!

[2022-02-03 19:47] BenjaminRuston commented on #510
@HamidehGMAO this is still in play?  Moving to backlog.

[2022-02-03 19:50] BenjaminRuston commented on #512
@PraveenKumar-NOAA assume this is still in play, moving from the limbo of `new issues` into the going to be addressed `backlog`

[2022-02-03 19:53] nicholasesposito commented on #471
Not entirely sure what happened here. Closing this one and keeping #470

[2022-02-03 19:53] #471 closed

[2022-02-03 19:55] BenjaminRuston commented on #374
@emilyhcliu your call is this still its own issue.  This seems a bit broad and vague to me.  Is it covered by other issues, or is there something more specific?

[2022-02-03 19:57] BenjaminRuston commented on #391
going to close this as think it's covered by other issues.  please re-open is you feel this is in error.

[2022-02-03 19:59] BenjaminRuston commented on #395
@gthompsnJCSDA there is no movement on this, closing until a plan is made

[2022-02-03 20:02] BenjaminRuston commented on #597
@gthompsnJCSDA and/or @rmclaren  is this covered by another existing issue?  move to icebox for the time being.

[2022-02-03 20:04] nicholasesposito commented on #503
I was usually keeping them open until I was sure they were 100% done but it's about that close anyway so I will close it.

[2022-02-03 20:04] #503 closed

[2022-02-03 20:04] #501 closed

[2022-02-03 20:05] nicholasesposito commented on #502
Still working out issues with Pressure. Will close once that is done following a PR to add the file to the IODA-converter repository.

[2022-02-03 20:26] rmclaren commented on #395
Please keep this issue open.

[2022-02-03 20:27] rmclaren commented on #391
Still need to do this. Just had other priorities.

[2022-02-03 20:28] rmclaren commented on #374
I'm going to close this issue.

[2022-02-03 20:28] #374 closed

[2022-02-03 20:58] HamidehGMAO commented on #510
I don't remember if anyone worked on this, but I'll double check!

[2022-02-04 01:42] BenjaminRuston commented on #395
@rmclaren again an issue can be added or opened when there is a plan for when it's going to be addressed.  Would be good to distribute the work if we can, is there anyone else who could be added to the issue to work on it?

[2022-02-04 03:53] nicholasesposito commented on #521
Final update before code sprint. Only change made to NC004010 splitting the QMRK variable into four, like it is in the bufr. [nc_aircft_aircar.zip](https://github.com/JCSDA-internal/ioda-converters/files/7999906/nc_aircft_aircar.zip)

[2022-02-04 13:28] YoulongXia-NOAA commented on #710
@BenjaminRuston, please do not close. This ioda converter is being tested by the user and not merged into the develop branch. I am waiting for the users' feedback.

[2022-02-04 16:07] PraveenKumar-NOAA commented on #512
It has been completed along with rest of the ADPUPA BUFR subsets NC002002,
NC002003, NC002004, NC002005, and NC004005. A PR has been issued for all of
these and merged successfully a few months ago.

Let me know if you have any questions.

Thank you,
Praveen Kumar
***@***.***/NCEP/EMC
5830 University Research Ct., Rm. 2069
College Park, MD 20740
Phone: (301) 683-3715
Mobile: (201) 657-3096

On Thu

[2022-02-04 16:09] ClaraDraper-NOAA commented on #710
@YoulongXia-NOAA. Thanks for working on this. We're using the converter as is, and I think it's ready to be merged into the develop branch.

[2022-02-04 16:18] YoulongXia-NOAA commented on #710
@ClaraDraper-NOAA, Okay. Understood. I will test within the ioda-bundle framework and create a pull request soon. Thank you.

[2022-02-04 16:21] ClaraDraper-NOAA commented on #710
Thanks Youlong!

[2022-02-04 17:42] BenjaminRuston commented on #512
closed per @PraveenKumar-NOAA  comment above

[2022-02-04 17:42] #512 closed

[2022-02-04 21:36] fabiolrdiniz opened #779 "[Bug] Issue with valid_range definition when using the netCDF4 python package"
## Current behavior (describe the bug)
The netCDF4 python library is complaining when reading the variables with `valid_range` attribute saved. An example of the error message can be seen below:

[code]

Currently, that attribute is being saved like:

[code]

but I believe that the package is expecting a list with two elements, for example:

[code]

[2022-02-07 19:09] #779 closed

[2022-02-08 01:16] BenjaminRuston commented on #595
@CoryMartin-NOAA what data types is this for?  all of them, or just satellite we may want to add it to one of the appropriate NOAA EPICs

[2022-02-08 01:19] BenjaminRuston opened #783 "add multi thread support for ATMS converter"
## Description
The ATMS converter from raw HDF5 or netCDF4 files should have multi threading support added

## Requirements
python3 and h5py libraries

## Acceptance Criteria (Definition of Done)
successfully produce a IODA file both for the ctest case and for a series of files

[2022-02-08 13:36] CoryMartin-NOAA commented on #595
@BenjaminRuston all of them

[2022-02-08 16:50] nicholasesposito commented on #397
With the newest changes in the bufr2ioda.x code, Panoply will not have the capability to read the data and is no longer good to use as a validation tool.

[2022-02-08 16:50] #397 closed

[2022-02-09 20:37] emilyhcliu opened #786 "Create Subset 044 - HIMAWARI YAML for IRLW"
## Description

## Requirements

[2022-02-09 21:13] jeromebarre opened #787 "Create a new group for observation smoothing"
With L2 retrieval assimilation more things than usual have to be passed to the operator.
See jedi doc https://jointcenterforsatellitedataassimilation-jedi-docs.readthedocs-hosted.com/en/latest/inside/jedi-components/ufo/obsops.html#averaging-kernel-operator

The averaging kernel and a priori vector are now stored in the MetaData group but they are not meta data _per se_. They are vectors to take i

[2022-02-10 15:43] AshleyStanfield-NOAA opened #788 "Create Subset 030 - GOES-R YAML for IRLW"
## Description

## Requirements

[2022-02-10 15:46] AshleyStanfield-NOAA opened #789 "Create Subset 024 - INSAT YAML for IRLW"
## Description

## Requirements

[2022-02-10 15:48] AshleyStanfield-NOAA opened #790 "Create Subset 064 - METEOSAT YAML for IRLW"
## Description

## Requirements

[2022-02-10 15:49] AshleyStanfield-NOAA opened #791 "Create Subset 080 - NOAA-15/18/19 YAML for AVHRR IRLW"
## Description

## Requirements

[2022-02-11 05:52] YanHao-NOAA opened #792 "Bufr2ioda yaml file index issue"
## Description

**Query string must return 1 target. Are you missing an index? */IDMSMDBS/BBYSTSL/DBSS.**
But there is only one IDMSMDBS/BBYSTSL/DBSS in the query.
If we use query: "*/IDMSMDBS/BBYSTSL/DBSS[1]", then it will pass.
The "index" problem needs to be addressed.

[2022-02-11 21:06] PraveenKumar-NOAA commented on #578
GSI and IODA 2D profiles for single station data: eastward_wind vs pressure, northward_wind vs pressure, and temperature vs pressure.
![GSI_Plot-4_stnID=16429](https://user-images.githubusercontent.com/63739712/153669977-a910a1fb-7bb4-49ef-b890-267018fb0f0d.png)
![IODA_Plot-4_stnID=16429](https://user-images.githubusercontent.com/63739712/153669990-83512b85-ac46-4e2d-b5c4-6018f28fe3b1.png)
![GSI_P

[2022-02-14 19:51] #326 closed

[2022-02-15 18:45] srherbener commented on #787
@jeromebarre I think it would be fine to add a new group, and I think a new group would be better than overloading the ObsError group. If others agree and you want to go that route, we should submit the new group name to the JEDI Conventions team and get it added to that documentation.

[2022-02-16 23:53] AshleyStanfield-NOAA commented on #791
Thus far, the YAML file appears to be working and matching up with equal counts (23,232).

### Heat Maps showing report locations:

### SZA Comparisons

### Wind Speed Comparisons:

### Pressure Comparisons:

![Yaml80_pres_Map_80_yaml](https://user-images.githubusercontent.com/92459593/154377142-02225b20-2d08-47e9-85d5-348f02593874.png) ![Yaml80_pres_Map_80_v2](https://user-images.githubuserconten

[2022-02-17 00:27] AshleyStanfield-NOAA commented on #786
Currently, we have a mismatch in the number of counts found in NC00504* data when compared to data provided for validation.
46745 (After YAML creation using specifically NC050044) vs 34034 (V2 Validation File, *ahi). This mismatch does not appear to be a characteristic of needing to concatenate, for example multiple NC05004# files together), but rather something else entirely.

We currently find t

[2022-02-17 22:20] srherbener commented on #783
Here are some sample input files on Orion:
[code]

And this is the feature branch with the code: `feature/atms_multi_threaded_converter`

[2022-02-18 00:01] srherbener commented on #783
@BenjaminRuston I found and fixed an issue with the `concat_obs_data` function that was causing issues with any variables that were 2D (or higher rank). I pushed these changes to github.

That fixed a problem with data getting scrambled, but did not fix the problem in the large file with garbage in the `ObsValue/brightness_temperature` variable. That issue still exists, and I think it is related t

[2022-02-18 03:38] ilianagenkova commented on #789
@AshleyStanfield-NOAA and @emilyhcliu , we don't assimilate Indian AMVs data, so NC00502* subsets don't have to be converted.

@emilyhcliu , should @AshleyStanfield-NOAA  add you to these issues as an assignee so you could find these easier.?

[2022-02-18 20:38] #710 closed

[2022-02-24 05:51] fcvdb opened #803 "Document how the GNSSRO flag is set by the various data providers."
In NOAA operational GNSSRO BUFR files, the Quality Flags for RO (QFRO descriptor 0 33 039 from Table 9 of the ROMSAF GNSSRO BUFR file [documentation](https://www.romsaf.org/romsaf_bufr.pdf) ) is coded into a 16-but integer. Setting one bit of this flag providing an indication of the quality of the occultation to which the flag is attached to. Some bits have minor meaning (eg: 7), while some others

[2022-02-24 15:15] huishao-r commented on #803
@fcvdb Thanks for this. @haydenlj this is for the fortran decoder.

[2022-02-24 15:31] fcvdb commented on #803
@haydenlj The tarball with the data and this README is on S4 in:

`/data/users/fvandenberghe/gpsro_count/gdasx_gpsro.20220120-29.tar `

Let me know if you have any question.

[2022-02-24 15:54] haydenlj commented on #803
Thanks, I'll go through this. I'm hoping to have it working soon

[2022-02-24 20:44] ADCollard opened #804 "Create IODA Converter for Aircraft Bias Correction Files"
## Description
Following the examples from satellite bias correction, develop converter to convert GSI aircraft bias correction files from GSI format to IODA format

## Requirements

Code to create aircraft bias correction coefficient files for input to aircraft bias correction testing in UFO.  The initial file to be produced would be for the 2020121500 case so that it can be tested as an extensio

[2022-02-24 21:32] haydenlj opened #805 "Python/FORTRAN converter testing and comparison"
## Description
Test the output of the Python converter and compare to the FORTRAN converter
Test the effect of the quality control flags on the output profiles

## Requirements

Compare output profiles
Test addition of qc flags to the Python converter

## Acceptance Criteria (Definition of Done)
Successful test of features/converters
Successful addition of QC flags to the Python converter

## Depe

[2022-02-24 22:22] haydenlj commented on #803
I don't see a gnssro_bufr2ioda executable in /build/ioda-bundle/bin/  Is it called something else or have I missed something when building?

[2022-02-25 15:53] jamiebresch commented on #803
Here is all it needs to compile `gnssro_bufr2ioda.f90`.
`ifort -o gnssro_bufr2ioda gnssro_bufr2ioda.f90 -I${NETCDF}/include -L${NETCDF}/lib -lnetcdff -lnetcdf -L${JEDI_OPT}/modules/clang-12.0.5/bufr/noaa-emc-11.5.0/lib -lbufr_d_DA`. Change `clang-12.0.5` to the compiler used on your machine, or locate the path of `libbufr_d_DA.a`.

[2022-02-28 20:19] haydenlj commented on #805
Python and Fortran converters have been setup

[2022-03-01 14:52] dmerkova commented on #804
This is a format for aircrat bias correction file
taillist(j),idx_tail(j),(predr(ip),ip=1,npredt),(ostatsx(ip),ip=1,npredt),  (varx(ip),ip=1,npredt),timelist(j)
example
tail id         tail list#       pred1            pred2           pred3         ostat1           ostat2            ostat3           var1              var2
var3     timestamp
CNJCA110    1469    -0.085416    -0.026256     0.005796

[2022-03-01 19:16] huishao-r commented on #599
Close this issue. Please resume this if this is still valid.

[2022-03-01 19:17] BenjaminRuston commented on #599
@PraveenKumar-NOAA  is this still relevant or subsumed by a more recent issue

[2022-03-01 19:18] BenjaminRuston commented on #628
@jiaruidong2017 since you made successful test should we close and open new issue as needed

[2022-03-01 19:20] huishao-r commented on #630
@amfox37 @YoulongXia-NOAA Would you please check whether this issue is still active? We are planning to close this one if issues are idled too long. Please advice.

[2022-03-01 19:21] huishao-r commented on #631
@YoulongXia-NOAA is this one still valid? We plan to close issues if they are not active. Please let us know.

[2022-03-01 19:22] rhoneyager commented on #657
Closing since the new spack-based stack should resolve.

[2022-03-01 19:22] #657 closed

[2022-03-01 19:22] #733 closed

[2022-03-01 19:24] huishao-r commented on #704
@emilyhcliu Is this still valid? We'll close inactive issues. Please advice.

[2022-03-01 19:25] huishao-r commented on #728
@YoulongXia-NOAA It seems this issue is complete. I am going to close this issue. Please resume this if it is active.

[2022-03-01 19:25] #728 closed

[2022-03-01 19:26] YoulongXia-NOAA commented on #631
@huishao-r , please close this issue as it has been completed. Thank you.

[2022-03-01 19:27] huishao-r commented on #730
@HamidehGMAO Is the PR in already. I'll close this. Please resume it if it is active.

[2022-03-01 19:27] #730 closed

[2022-03-01 19:28] rhoneyager commented on #730
Closed by https://github.com/JCSDA-internal/ioda-converters/pull/731

[2022-03-01 19:28] YoulongXia-NOAA commented on #630
@huishao-r , this issue is still active. I need to update it when it is ready to merge. I am still working for this issue.

[2022-03-01 19:28] emilyhcliu commented on #704
@huishao-r yes

[2022-03-01 19:29] YoulongXia-NOAA commented on #728
@huishao-r , this issue has been solved. Please close it. Thank you.

[2022-03-01 19:31] BenjaminRuston commented on #791
@AshleyStanfield-NOAA are you still working through this?  If complete please close, and if you would like to create a new issue for further development or problems which arise should be fine.

[2022-03-01 19:33] BenjaminRuston commented on #790
@AshleyStanfield-NOAA assuming this one still being worked on so moving out of limbo `New Issues` and into going to be worked on which is `Backlog`

[2022-03-01 19:35] BenjaminRuston commented on #789
@AshleyStanfield-NOAA again promoting this out of `new issues`

[2022-03-01 19:37] BenjaminRuston commented on #792
@emilyhcliu and @ADCollard ,, are you aware of this issue

[2022-03-01 19:43] huishao-r commented on #447
Closed this issue since it is not active. Please reopen it if this is active again.

[2022-03-01 19:43] #447 closed

[2022-03-01 19:52] #744 closed

[2022-03-01 19:58] emilyhcliu commented on #792
@YanHao-NOAA Is this indexing problem still an issue for you?

[2022-03-01 20:00] emilyhcliu commented on #789
@AshleyStanfield-NOAA We do not use INSAT in our operational system.  Do not need to do INSAT.

[2022-03-01 20:01] #631 closed

[2022-03-01 20:02] BenjaminRuston commented on #789
closing per advice from @AshleyStanfield-NOAA , can reopen a new issue if ever needed in the future

[2022-03-01 20:02] #789 closed

[2022-03-01 20:09] YoulongXia-NOAA commented on #630
adpsfc snow yaml file has been developed and merged into Ron's feature/query but not in ioda-converter develop branch yet. The yaml for the new EMC developed xx015 snow depth data was developed and tested, but feture/query seems not handle missing station ID issue (string). The bufr file for xx015 data need to solve missing station ID issue when obsproc team start to produce bufr file. This needs

[2022-03-01 20:11] YoulongXia-NOAA commented on #630
The ioda file including variable names and format also need to be checked by using ioda-validation.x and fixed finally. This is the near-future work.

[2022-03-01 20:13] jiaruidong2017 commented on #628
Thanks Ben for reminder.

[2022-03-01 20:13] #628 closed

[2022-03-01 20:39] rmclaren commented on #792
This issue exists in code that is still under development, so I'm not sure its appropriate to have an github issue for it. And no it has not been addressed yet.

Please feel free to close this one.

[2022-03-01 20:53] emilyhcliu commented on #792
I would suggest we keep this issue open.

[2022-03-01 21:16] AshleyStanfield-NOAA commented on #790
`Backlog` is great. It is indeed still being worked on, but was found to have count mismatch issues with the provided validation data. Some further tweaking is needed and should be deployed very soon.

[2022-03-01 21:16] AshleyStanfield-NOAA commented on #788
Still being worked on, but was found to have count mismatch issues with the provided validation data. Some further tweaking is needed and should be deployed very soon.

[2022-03-02 14:32] PraveenKumar-NOAA commented on #599
This is still relevant and coming to this one soon. This will be the next step once we finish writing yamls for the sonde data, combined with the progress of _bufr2ioda.x_ and QC procedures in the  Obsproc codes.

[2022-03-03 18:40] zcstanley opened #808 "SMAP 9km IODA converter should not depend on directory structure"
## Description
The SMAP 9km IODA converter handling of date and time currently depend on the directory structure. More specifically, it depends on the number of '\_' symbols in the path where SMAP data is stored. Lines 107-109 in smap9km_ssm2ioda.py  read the file name and split by '_' to find the part of the file name where the information about date and time are stored.

107         str_split =

[2022-03-03 19:54] BenjaminRuston opened #809 "convert TROPICS satellite data to IODA"
## Description
Create a python based converter for TROPICS satellite data to IODA format

## Requirements

python h5py

## Acceptance Criteria (Definition of Done)
a successful IODA formatted output file is created

[2022-03-03 20:04] YoulongXia-NOAA commented on #808
@zcstanley, this is the reason why I cut datetime from file name  and also keep the original long file name as I cannot find where I can input from data file. If you have any idea to read datetime from h5 file, please let me know so that I can modify it.

[2022-03-03 21:53] zcstanley commented on #808
@YoulongXia-NOAA I haven't been able to find the date/time in metadata either. You probably saw the same thing I did, that the h5 files have attribute names for the date/time, but these attributes are empty. I just thought I would check in with you to make sure we both found the same thing.

[2022-03-03 22:01] YoulongXia-NOAA commented on #808
Yes, we saw the same thing @zcstanley. We need to think about and discuss it in the future.

[2022-03-03 22:03] ClaraDraper-NOAA commented on #808
@zcstanley If we absolutely have to take the date from the filename, perhaps you could code it to count back from the end of the filename (or use some other method that does not make assumptions about the directory structure).

Is there an observation time variable that we could use?

[2022-03-03 23:43] ClaraDraper-NOAA commented on #808
@zcstanley Thanks for figuring this out, I would have been surprised if there weren't at least times for the obs themselves. I can't quite follow their terminology  - is there a single value of rangeBeginningDateTime for each file? If so, I think this is what we want.

[2022-03-04 00:28] zcstanley commented on #808
@ClaraDraper-NOAA Yes there is a single value of rangeBeginningDateTime. Sounds good, thanks.

[2022-03-04 15:51] #597 closed

[2022-03-04 17:35] AshleyStanfield-NOAA commented on #786
### Further update to detail the mismatch in counts:
The mismatch in counts between yaml generated files and the GSI-reference data appears to be a result of some removal/culling from the reference data. Overlaying these results on top of one another, the GSI reference has locations/data unique to both NC005044 and to NC005046. I cannot confirm if NC005045 is included or not, as there is too much

[2022-03-04 19:36] nicholasesposito opened #811 "Fill out "Issue with IODA variable name matching" document for ADPSFC and AIRCFT data."
## Description
There are number of mnemonics and variables that are not listed in the [WMO element table](https://confluence-test.ecmwf.int/display/ECC/WMO%3D37+element+table). In order to finish the AIRCFT and ADPSFC bufr and prepbufr yamls, names that follow conventions should be discussed and finalized. I filled in the ["Issue with IODA variable name matching" document](https://docs.google.com/

[2022-03-04 20:07] nicholasesposito commented on #758
After lots of investigation, it was determined that the "group_by" function in the yamls was necessary to generate the correct outputs to the IODA files. Once that was done, the eastward wind and northward wind were exact matches. Specific Humidity IODA had more data points total than GSI. Temperature was the exact same. Pressure in IODA had 49% of the GSI number of data points. It was determined

[2022-03-04 20:45] rhoneyager opened #813 "Sprint: Implement the JEDI Data Conventions in the Converters"
This epic tracks the IODA-converters code sprint for March 2022.

[2022-03-04 21:14] rhoneyager opened #814 "Create the issue template for this sprint"

[2022-03-07 16:06] #814 closed

[2022-03-08 15:01] rhoneyager opened #819 "Produce an example for the sprint"
The ioda-converters data conventions sprint could use an example of a converter that passes most of the ioda-validate checks.

Not all checks will be passed, since the OBS file dimension names need to be changed. This is covered in another issue (ioda#620).

[2022-03-08 15:03] rhoneyager opened #820 "Fix occasionally failing test: test_iodaconv_mopitt_co"
test_iodaconv_mopitt_co fails on S4 and on other HPCs. It works on AWS CI. This indicates that some of the converter logic is bad and should be fixed.

[2022-03-08 15:06] rhoneyager opened #821 "Fix occasionally failing test: test_iodaconv_atms_nc4"
test_iodaconv_atms_nc4 is failing on some systems like S4. It passes AWS CI. This should be investigated and the converter should be fixed.

[2022-03-08 15:08] rhoneyager opened #822 "Fix occasionally failing tests: test_iodaconv_generic_bufr_raob and test_iodaconv_generic_bufr_raob_multi_files"
test_iodaconv_generic_bufr_raob and test_iodaconv_generic_bufr_raob_multi_files fail on some systems yet pass AWS CI. We should find the reason(s) for failure and address.

[2022-03-08 16:37] rhoneyager opened #823 "Fix ioda branch selection for the sprint CI"
Basically, we are merging our PRs to a staging branch (```feature/sprint-ioda-converters```). Instead of having clone.sh default to develop, can we have it check out the ```feature/sprint-ioda-converters``` staging branch when no matching branch is found in ioda?

[2022-03-08 17:47] #819 closed

[2022-03-08 17:47] #823 closed

[2022-03-08 17:47] rhoneyager commented on #823
A fix was added directly into the staging branch. New PRs should pick up on this change.

[2022-03-08 19:30] CoryMartin-NOAA opened #826 "Update dimensions written by the Python library"
## Description
The dimensions should be "Location" and "Channel", not "nlocs" and "nchans". Other valid dimensions are described in the JEDI Data Conventions table.

[2022-03-08 20:14] CoryMartin-NOAA opened #827 "Make ioda_conv_engines library handle datetime strings"
## Description
Make it transparent for the user by converting all ISO strings to datetime objects.

## Requirements

Works for existing converters and can write to IODA Python API.

## Acceptance Criteria (Definition of Done)

## Dependencies
Python `ioda_obs_space` API needs to handle DateTime objects.

[2022-03-08 20:35] YanHao-NOAA opened #828 "Remove a NetCDF file in iodaconv/src/marine"
There is a file 20200720.nc in folder ioda-bundle/iodaconv/src/marine, which seems not belonging to here.
Should this file be removed?

[2022-03-08 20:57] rhoneyager opened #829 "gmao_obs2ioda.py is never tested in ioda-converters"
See title. This was noticed in our code sprint. The script should be tested somewhere, but it isn't. If it is dead code, then it should be removed.

[2022-03-08 21:23] bhuang95 opened #831 "Upgrade converter for chem/aeronet_aod, aeronet_aaod to follow the JEDI Data Conventions"
Update the converter identified in the title (hereafter referred to as the **target converter**) to follow the JEDI Data Conventions.

*** This issue is dependent on issue https://github.com/JCSDA-internal/ioda-converters/issues/847 .

- Update variable names
- Ensure variable units match the units in the conventions table
- Update the global attributes dictionary as needed
- Run the converter tes

[2022-03-08 21:52] nicholasesposito opened #832 "Upgrade converter for ArgoClim to follow the JEDI Data Conventions"
Update the converter identified in the title (hereafter referred to as the **ArgoClim**) to follow the JEDI Data Conventions.

- Update variable names
- Ensure variable units match the units in the conventions table
- Update the global attributes dictionary as needed
- Run the converter test to make sure it runs (but will fail because of unupdated test reference)
- Run ```ioda-validate.x``` on you

[2022-03-08 23:31] fcvdb opened #833 "Upgrade converter for ascat_ssm2ioda.py to follow the JEDI Data Conventions"
Update the converter identified in the title (hereafter referred to as the **target converter**) to follow the JEDI Data Conventions.

- Update variable names
- Ensure variable units match the units in the conventions table
- Update the global attributes dictionary as needed
- Run the converter test to make sure it runs (but will fail because of unupdated test reference)
- Run ```ioda-validate.x``

[2022-03-09 00:37] HamidehGMAO commented on #829
Hmm, I believe @aerorahul did this work to convert the gmao's ocean obs to ioda format, But I have no where I can find this datasets. Rahul, Do you have any suggestion how to test this? should we have one test for each data (sss, sst,..)? and how I can access this data?

[2022-03-09 01:25] fcvdb commented on #833
- [ ] Build the ioda-bundle with the corresponding ioda-converter branch (`feature/sprint-ioda-converters_fcvdb`) with the commands:

`ecbuild -DMPIEXEC_EXECUTABLE=/opt/slurm/bin/srun -DMPIEXEC_NUMPROC_FLAG="-n" -DBUILD_PYTHON_BINDINGS=ON -DBUILD_IODA_CONVERTERS=ON /path/to/bundle`
and
`make -j 4`

- [ ] Run the converter:

`cd build/ioda-bundle/iodaconv/tests`
`build/ioda-bundle/bin/ascat_ssm2iod

[2022-03-09 17:12] PraveenKumar-NOAA opened #836 "Upgrade converter for Marine/smos to follow the JEDI Data Conventions"
Update the Marine/smos_sss2ioda.py converter identified in the title (hereafter referred to as the **marine converter**) to follow the JEDI Data Conventions.

- Update variable names
- Ensure variable units match the units in the conventions table
- Update the global attributes dictionary as needed
- Run the converter test to make sure it runs (but will fail because of unupdated test reference)
-

[2022-03-09 17:16] PraveenKumar-NOAA opened #837 "Upgrade converter for Marine/smap to follow the JEDI Data Conventions"
Update the Marine/smap_sss2ioda.py converter identified in the title (hereafter referred to as the marine converter) to follow the JEDI Data Conventions.
- Update variable names
- Ensure variable units match the units in the conventions table
- Update the global attributes dictionary as needed
- Run the converter test to make sure it runs (but will fail because of unupdated test reference)
- Run `

[2022-03-09 17:29] gthompsnJCSDA opened #839 "Upgrade converter for conventional/metar_csv2ioda.py to follow the JEDI Data Conventions"
Update the converter identified in the title to follow the JEDI Data Conventions.

- Updated variable names
- Ensured variable units match the units in the conventions table
- Updated the global attributes dictionary as needed
- Ran the converter test to make sure it runs
- Ran ```ioda-validate.x``` on your output file and verify that there are no errors or warnings
- Updated test reference file
-

[2022-03-09 18:19] PraveenKumar-NOAA commented on #836
Variable name "sea_surface_salinity" is not listed in the Data Conventions table, the table has only "salinity".  Both has the same dimension "Location".

[2022-03-09 19:20] aerorahul commented on #829
@HamidehGMAO @travissluka @guillaumevernieres

I had contributed this script for converting ocean and ice observations used in the GEOS S2S system.
These observations were used for cycling SOCA with MOM6 using these set of observations.  A logical next step would have been to compare analysis statistics between SOCA MOM6 system and GEOS S2S system.
This would have highlighted the differences due t

[2022-03-09 19:46] HamidehGMAO commented on #829
@aerorahul Thanks a lot for the information. I will take a look and let you know if I have any questions. Thanks

[2022-03-09 19:49] PraveenKumar-NOAA commented on #836
Changed "sea_surface_salinity" to "salinity", "nlocs" to "Location", and unit "PSU" to "g kg-1".

[2022-03-09 20:27] aerorahul commented on #829
@HamidehGMAO

[getGMAOOceanObs.sh](https://github.com/aerorahul/mom6-tools/blob/develop/scripts/getGMAOOceanObs.sh) calls  [ocean_obs.py](https://github.com/GEOS-ESM/UMD_Etc/blob/main/UMD_utils/ocean_obs.py)

I think one can skip the GEOS tag above and directly clone the [UMD_Etc](https://github.com/GEOS-ESM/UMD_Etc) repository and use it.  It doesn't look like it has been updated for a while.

Th

[2022-03-09 20:48] #828 closed

[2022-03-09 21:00] HamidehGMAO commented on #829
Right! Thanks for the clarification. I found some obs on discover, I'll grab a couple of sample files and create a test for them.
Thanks!

[2022-03-09 21:45] PraveenKumar-NOAA commented on #837
Changed "sea_surface_salinity" to "salinity", "nlocs" to "Location", and unit "PSU" to "g kg-1".

[2022-03-09 22:07] BenjaminRuston opened #841 "update the ATMS hdf5 converter to the IODA conventions"
The ATMS hdf5 IODA converter needs updates to bring it in line with the latest IODA conventions.

This will need changes to both the `ioda-converter` and `ioda` repositories themselves.

[2022-03-09 22:13] YoulongXia-NOAA opened #842 "Upgrade converter for land/ghcn, imsfv3, owp, smap, smap9km, and smos to follow the JEDI Data Conventions"
Update the converter identified in the title (hereafter referred to as the **target converter**) to follow the JEDI Data Conventions.

- Update variable names
- Ensure variable units match the units in the conventions table
- Update the global attributes dictionary as needed
- Run the converter test to make sure it runs (but will fail because of unupdated test reference)
- Run ```ioda-validate.x``

[2022-03-09 22:19] #826 closed

[2022-03-09 22:25] PraveenKumar-NOAA opened #843 "Upgrade converter for Marine/hgodas to follow the JEDI Data Conventions"
Update the Marine/hgodas_sst2ioda.py converter identified in the title (hereafter referred to as the **target converter**) to follow the JEDI Data Conventions.

- Update variable names
- Ensure variable units match the units in the conventions table
- Update the global attributes dictionary as needed
- Run the converter test to make sure it runs (but will fail because of unupdated test reference)

[2022-03-09 23:25] bhuang95 opened #845 "Upgrade converter for chem/modis_aod to follow the JEDI Data Conventions"
Update the converter identified in the title (hereafter referred to as the **target converter**) to follow the JEDI Data Conventions.

- Update variable names
- Ensure variable units match the units in the conventions table
- Update the global attributes dictionary as needed
- Run the converter test to make sure it runs (but will fail because of unupdated test reference)
- Run ```ioda-validate.x``

[2022-03-09 23:26] bhuang95 opened #846 "Upgrade converter for chem/viirs_aod to follow the JEDI Data Conventions"
Update the converter identified in the title (hereafter referred to as the **target converter**) to follow the JEDI Data Conventions.

- Update variable names
- Ensure variable units match the units in the conventions table
- Update the global attributes dictionary as needed
- Run the converter test to make sure it runs (but will fail because of unupdated test reference)
- Run ```ioda-validate.x``

[2022-03-09 23:35] bhuang95 opened #847 "Update ioda-validate.x ObsSpace.yam file for Chem/aeronet_aod/aaod, modis_aod and viirs_aod with new JEDI ioda conventions"
ioda/share/ioda/yaml/validation/ObsSpace.yaml for ioda-validate.x was updated for Chem/aeronet_aod/aaod (#831 ), modis_aod (#845 ) and viirs_aod (#846 ) converters. Major changes include:
(1) Add variable "absorptionAeronetOpticalDepth" for aeronet_aaod2ioda.py
(2) AOD and AAOD dimensions were changed from ["Location"] to ["Location", "Channel"]
(3) Set AOD and AAOD units to "1"
(4) Add three Meta

[2022-03-09 23:44] fcvdb commented on #833
The `ioda-converters/src/land/ascat_ssm2ioda.py `converters and the corresponding ctest output file `ioda-converters/test/testoutput/ascat_ssm.nc `have been updated to the latest [IODA conventions](https://docs.google.com/spreadsheets/d/1fHb2QIHOwgp4d6plyn9Dj9HZFZsDRxcPaUV6hdTb5BU/edit#gid=0) as of 2022/03/09.

Two additions were made to the `ioda/share/ioda/yaml/validation/ObsSpace.yaml`:
[code]

[2022-03-10 15:55] YoulongXia-NOAA commented on #842
In this task, 6 ioda converters modified are: imsfv3_scf2ioda.py,  smap9km_ssm2ioda.py,  smos_ssm2ioda.py, ghcn_snod2ioda.py  owp_snow_obs.py,  smap_ssm2ioda.py. The modifications include: nlocs => Location, deleting some attribute sentences causing warning messages, deleting PreQC flag units (unitless), changing snow depth unit from mm into m by completing the unit conversion in the code, etc.  N

[2022-03-10 16:14] YoulongXia-NOAA commented on #842
Additional task for this code sprint,  **land/afwa_snod2ioda.py**  with **grib1** format data input will be removed based on the user's request and unsupported pygrib. The **land/ ims_scf2ioda.py** with **grib2** format data input will be replaced with netCDF format data input for IMS snow cover file if possible.

[2022-03-10 16:33] gthompsnJCSDA opened #852 "Sprint: Upgrade converters that use bufr2ioda.x to follow the JEDI Data Conventions"
The list of yaml below is a partial list of those using ```bufr2ioda.x``` application to convert BUFR to IODA of various conventional data.  Each of these need to be update to follow JEDI data conventions.  Also a ```units``` attribute was considered required in the earlier version of ```budfr2ioda.x``` but it must now be optional since a variable with no units at all should simply skip this attri

[2022-03-10 17:23] YoulongXia-NOAA commented on #842
I also need **satellite ID** number for **SMAP, SMOS, and IMS (??)**, as well as their corresponding **sensor ID** numbers.

[2022-03-10 21:43] #839 closed

[2022-03-10 22:27] emilyhcliu opened #855 "Upgrade converter for (gsincdiag part for satellite radiance data) for to follow the JEDI Data Conventions"
Update the converter identified in the title (hereafter referred to as the **target converter**) to follow the JEDI Data Conventions.

- Update variable names
- Ensure variable units match the units in the conventions table
- Update the global attributes dictionary as needed
- Run the converter test to make sure it runs (but will fail because of unupdated test reference)
- Run ```ioda-validate.x``

[2022-03-10 22:29] emilyhcliu commented on #855
Updates are implemented in feature branch: [feature/sprint-ioda-converters-emily](https://github.com/JCSDA-internal/ioda-converters/commits/feature/sprint-ioda-converters-emily)

Run test as the following:
ctest -VV -R test_iodaconv_gsidiag_rad

Run IODA Validator as the following:
./bin/ioda-validate.x ../ioda/share/ioda/yaml/validation/ObsSpace.yaml ./iodaconv/test/testrun/amsua_aqua_obs_2018041

[2022-03-11 16:18] AshleyStanfield-NOAA commented on #786
A hypothesis was made some time back that the count mismatches were due to spectral type not matching up.
Using the NC005046 set as an example, we can show that this does not be the solution we're looking for.

NC005046 has 51,626 points; All of which are spectype = 3
GIS Reference data has 34,034 points, of which 16,586 are of spectype = 3.

From this, we can gather that limiting the data by spec

[2022-03-11 17:39] CoryMartin-NOAA commented on #827
Closed through PR #840

[2022-03-11 17:39] #827 closed

[2022-03-11 17:40] emilyhcliu opened #860 "Upgrade converter for (gsincdiag for conventional data) to follow the JEDI Data Conventions"
Update the converter identified in the title (hereafter referred to as the **target converter**) to follow the JEDI Data Conventions.

- Update variable names
- Ensure variable units match the units in the conventions table
- Update the global attributes dictionary as needed
- Run the converter test to make sure it runs (but will fail because of unupdated test reference)
- Run ```ioda-validate.x``

[2022-03-11 17:46] emilyhcliu commented on #860
Updates are implemented in feature branch: [feature/sprint-ioda-converters-emily](https://github.com/JCSDA-internal/ioda-converters/commits/feature/sprint-ioda-converters-emily)

Run test as the following:
ctest -VV -R test_iodaconv_gsidiag_conv_
ctest -VV -R test_iodaconv_gsidiag_conv_uv

Run IODA Validator as the following:
./bin/ioda-validate.x ../ioda/share/ioda/yaml/validation/ObsSpace.yaml .

[2022-03-11 20:05] gthompsnJCSDA opened #862 "Upgrade converters shown in list in Description section to follow the JEDI Data Conventions"
Update the converters identified in the list below to follow the JEDI Data Conventions.

- [ ] amdar_bufr2ioda.py
- [ ] buoy_bufr2ioda.py
- [ ] ship_bufr2ioda.py
- [ ] synop_bufr2ioda.py
- [ ] decode_bufr_LDM_raob.py

## Notifications

@rhoneyager

[2022-03-11 23:44] srherbener opened #864 "Python API is producing local times instead of UTC times when writing MetaData/dateTime from python datetime objects"
The conversion path going from a python datetime object into the output ioda file is producing local times instead of UTC times.

This was discovered in #844 (ATMS converter), but is probably present in more than this one case.

## Notifications

Fill in a list of GitHub handles here. People here are not *assigned*, but instead receive notifications
about this issue's progress.

Notifications shou

[2022-03-13 05:28] ilianagenkova commented on #786
@AshleyStanfield-NOAA , thanks for recording these attempts to resolve the mismatched counts.
@emilyhcliu , let's set a meeting between the 3 of us to decide if new validation set could be generated, or to get info on what went into the validation data set. thanks!

[2022-03-14 13:13] CoryMartin-NOAA commented on #864
Darn. Ok I'll take a look later today.

[2022-03-14 15:16] gthompsnJCSDA opened #865 "SPRINT: Upgrade converters (see long list below) to follow the JEDI Data Conventions"
A number of testinput yaml files are used with bufr2ioda.x application and need to be updated to use the JEDI Data Conventions.  This is the list that will get merged into staging branch ```feature/sprint-ioda-converters```

- [x] bufr_adpsfc.yaml
- [x] bufr_filtering.yaml
- [x] bufr_filter_split.yaml
- [x] bufr_read_2_dim_blocks.yaml
- [x] bufr_read_wmo_radiosonde.yaml
- [x] bufr_satwnd_new_forma

[2022-03-14 22:37] haydenlj commented on #805
Tested difference for MetOp and COSMIC satellites

[2022-03-15 15:34] gthompsnJCSDA opened #869 "Upgrade converter for (CONVERTER NAME) to follow the JEDI Data Conventions"
A number of testinput yaml files are used with bufr2ioda.x application and need to be updated to use the JEDI Data Conventions. This is the list that will get merged into staging branch feature/sprint-ioda-converters

- [ ]  bufr_airs_v2.yaml
- [ ]  bufr_amsua_v2.yaml
- [ ]  bufr_atms_v2.yaml
- [ ]  bufr_avhrr_v2.yaml
- [ ]  bufr_cris_v2.yaml
- [ ]  bufr_hirs_v2.yaml
- [ ]  bufr_hrs.yaml
- [ ]  bu

[2022-03-15 17:04] #864 closed

[2022-03-15 21:26] nicholasesposito opened #870 "Upgrade converter for JPSS VIIRS/MODIS ocean color Level2 to follow the JEDI Data Conventions"
Update the converter identified in the title (hereafter referred to as the **viirs_modis_l2_oc2ioda.py**) to follow the JEDI Data Conventions.

- Update variable names
- Ensure variable units match the units in the conventions table
- Update the global attributes dictionary as needed
- Run the converter test to make sure it runs (but will fail because of unupdated test reference)
- Run ```ioda-val

[2022-03-15 22:12] haydenlj opened #871 "Add optional QC to python GNSS converter"
Add optional QC to python GNSS converter

[2022-03-15 22:14] haydenlj opened #872 "Remove satellite dependence of QC check"
Remove satellite dependence of QC check

[2022-03-21 13:42] gthompsnJCSDA opened #876 "Upgrade converter for (decode_bufr_LDM_raob.py) to follow the JEDI Data Conventions"
## Description

In addition to updating the existing converter for JEDI Data Conventions, also changing its name to be more consistent with others in the ```conventional``` subdirectory to become ```sonde_bufr2ioda.py```.  Also making numerous updates to streamline the code to be more similar to the others.

## Notifications

@rhoneyager and @BenjaminRuston

[2022-03-21 20:26] haydenlj opened #877 "Fix bit order in QC check GNSSRO converter"
Fix bit order in QC check GNSSRO converter

[2022-03-22 03:10] emilyhcliu commented on #860
@rhoneyager
Update "satelliteChannelCentreFrequency" to "sensorCentralFrequency"
Update "satelliteDerivedWindComputationMethod" to "windComputationMethod"

Resolved conflict.
Update related test output file.

Done!

[2022-03-22 19:14] #877 closed

[2022-03-22 19:23] YoulongXia-NOAA opened #882 "Remove converter for afwa_snod2ioda.py and ims_scf2ioda.py"
Update the converter identified in the title (hereafter referred to as the **target converter**) to follow the JEDI Data Conventions.

- These two ioda-converters input grib1/grib2 file
- ioda-converters will not support such a data file as an input due to that pygrib is not well supported
- The land DA users have asked the developer to remove them
- clean land converters during the code sprint

#

[2022-03-22 19:29] YoulongXia-NOAA commented on #882
@rhoneyager @srherbener, before I worked the other converters, let me to clean land converters first. As I talked for netCDF IMS snow cover data, it only has 4km snow cover data, I need to use python projection to produce latitude and longitude,  such a process will take a longer time and produce large size data. I do not have an idea how to handle it right now. I will work with land DA users and

[2022-03-23 14:55] emilyhcliu opened #885 "Reduce the size of the ADPUPA test file and update dimension keyword"
This issue updates the following for feature/query_cxx branch
(1) Replace "nlocs" with "Location"   -- to meet JEDA convention
(2) Reduce the size of the ADPUPA.prepbufr test data  --- to speed up the standard test
(3) Update the test output files related to (2)

[2022-03-23 19:07] YoulongXia-NOAA commented on #882
PR was merged. The issue was closed.

[2022-03-23 19:07] #882 closed

[2022-03-23 19:09] YoulongXia-NOAA commented on #842
The PR was merged and the issue was addressed.  Now it was closed.

[2022-03-23 19:09] #842 closed

[2022-03-23 19:10] YoulongXia-NOAA opened #886 "Upgrade converter for tropomi_no2_nc2ioda.py to follow the JEDI Data Conventions"
Update the converter identified in the title (hereafter referred to as the **target converter**) to follow the JEDI Data Conventions.

- Update variable names
- Ensure variable units match the units in the conventions table
- Update the global attributes dictionary as needed
- Run the converter test to make sure it runs (but will fail because of unupdated test reference)
- Run ```ioda-validate.x``

[2022-03-23 19:18] YoulongXia-NOAA commented on #886
I am working on tropomi_no2_nc2ioda.py previously worked by Cory Martin. The first is the name. Now the converter uses
obsvars = {
    'nitrogendioxide_tropospheric_column': 'nitrogen_dioxide_in_tropospheric_column',
    'nitrogendioxide_total_column': 'nitrogen_dioxide_in_total_column',
}

I found some references below:
https://space.oscar.wmo.int/variables/view/no2_tropospheric_column.
no2Tropos

[2022-03-23 19:39] YoulongXia-NOAA commented on #886
Additionally, these variables cannot be found in this table (https://docs.google.com/spreadsheets/d/1fHb2QIHOwgp4d6plyn9Dj9HZFZsDRxcPaUV6hdTb5BU/edit#gid=0).

quality assurance value, troposphere layer index,  air mass factor total,  air mass factor troposphere, tropospheric averaging kernel precision, averaging kernel precision

These variable names need to be defined.

[2022-03-23 19:48] YoulongXia-NOAA commented on #886
Based on the definition from https://confluence.ecmwf.int/display/ECC/WMO%3D15+element+table for averaging kernel value, we can define averagingKernelPrecision and troposphericAveragingKernelPrecision.

[2022-03-23 20:11] YoulongXia-NOAA commented on #886
@CoryMartin-NOAA, another difficulty is  float averaging_kernel_level_1  and pressure_level_1 with many levels. Now for each level, it was defined a variable with number to represent different levels. Obviously, it should be a 2-D variable with (Location, Level). Any thoughts for this case?

[2022-03-23 21:04] CoryMartin-NOAA commented on #886
@YoulongXia-NOAA @jeromebarre started to work on this, I think he came to the conclusion that we need the IODA Fortran API to be modified before this file can match conventions (for those levels that you just mentioned)

[2022-03-23 21:40] YoulongXia-NOAA commented on #886
@CoryMartin-NOAA, if @jeromebarre started to work on this, I will stop to work on this converter. I still have another task. Can I close this issue?

[2022-03-23 22:58] jeromebarre commented on #886
I will take care of this in the next months.

[2022-03-23 23:01] jeromebarre commented on #886
averagingKernelPrecision is useless in the DA framework in my opinion. Those variables should be dropped.

I provided an updated version to @rhoneyager and @gthompsnJCSDA couple of months ago but this was never updated. As far as I understand, the idea was to use the opportunity of the last code sprint to makes updates. But I think it's preferable if the table should be updated from my original su

[2022-03-23 23:06] jeromebarre commented on #886
This was the whole reason why we hold off on not updating the converters during the last code sprint. Modifications on UFO should be made to accept more than 1D arrays or flattening the AK and pressure coordinates matrices to be passed in UFO and reconstruct the in the operator. So far I don't know which solution is the best.

[2022-03-23 23:11] jeromebarre commented on #886
To finish this issue extends to other trace gas observations with averaging kernel (so basically most of L2 products). So we should hold off creating new converters until we have solved this issue of 2D arrays.

The issue was documented before here https://github.com/JCSDA-internal/ufo/issues/1720 back in December.

[2022-03-23 23:43] #886 closed

[2022-03-25 21:48] nicholasesposito opened #888 "Upgrade ObsSpace.yaml for AIRCFT variables"
## Description

There are a number of variables in the AIRCFT bufr and prepbufr files that were not yet listed in the ObsSpace.yaml file. I added them.

## Requirements
None

## Acceptance Criteria (Definition of Done)
It will be finished when the names and associated attributes are accepted and merged.

## Dependencies
None

[2022-03-28 20:17] fcvdb commented on #783
The serial converter is properly working. Multithreading the process is of lower priority and will be revisited later in 2022.

[2022-03-28 20:17] #783 closed

[2022-03-28 22:31] fcvdb commented on #809
The Tropics IODA converter is in branch [https://github.com/JCSDA-internal/ioda-converters/tree/feature/tropics_satellite_ioda_converter](https://github.com/JCSDA-internal/ioda-converters/tree/feature/tropics_satellite_ioda_converter). It has been tested and will be merged soon.

[2022-03-29 23:41] #841 closed

[2022-03-29 23:44] BenjaminRuston commented on #809
pull request being submitted now

[2022-03-30 13:58] gthompsnJCSDA opened #890 "Upgrade converters for Marine: GODAE to follow the JEDI Data Conventions"
## Description

Update the python converters (listed below) for marine godae ship, track, profile, and argo float to follow the JEDI Data Conventions.  These converters are part of the ```src/marine``` directory.

- [x] godae_ship2ioda.py
- [x] godae_trak2ioda.py
- [x] godae_profile2ioda.py
- [x] godae_bgc_argo2ioda.py

[2022-03-30 16:48] srherbener opened #892 "Create a ioda-converters-data repo"
## Description

Currently test files are checked in and managed directly in the ioda-converters repo (like we used to do a long time ago). There are many test files now (~200MB worth) and EMC has expressed interest in tier2 testing which entails much larger test files. So, it seems that now is a good time to switch ioda converters over to our current scheme of using a companion data repo (ioda-con

[2022-03-31 18:26] YoulongXia-NOAA opened #894 "Upgrade converter for hgodas_insitu2ioda.py, ndbc_hfradar2ioda.py, and glider2ioda.py to follow the JEDI Data Conventions"
Update the converter identified in the title (hereafter referred to as the **target converter**) to follow the JEDI Data Conventions.

- Update variable names
- Ensure variable units match the units in the conventions table
- Update the global attributes dictionary as needed
- Run the converter test to make sure it runs (but will fail because of unupdated test reference)
- Run ```ioda-validate.x``

[2022-03-31 18:29] YoulongXia-NOAA commented on #894
Dear all, I will start to work two converters for marine directory.  This message just lets you know to avoid duplicate works.

[2022-03-31 19:01] #626 closed

[2022-04-01 14:23] jeromebarre commented on #424
Again what is the status on this? Should we close? Or move this to AOP2022. I suggest we create a EMC pipeline for AOP 2022. See other O3 related issues.

[2022-04-01 14:28] #435 closed

[2022-04-01 14:31] #424 closed

[2022-04-04 16:55] jiaruidong2017 opened #897 "[Bug] How to remove the missing values from bufr2ioda converter"
## Current behavior (describe the bug)

The bufr2ioda converter kept the missing values for total snow depth with the valid lat/lon values. However, these missing snow depth values caused big problems in using the UFO buddy check filter. I am wondering, can the bufr2ioda converter remove these missing snow depth values?

## To Reproduce

Hera

Example can be found in the following directory:
/scra

[2022-04-04 17:28] YoulongXia-NOAA commented on #897
@jiaruidong2017. could you give me a permission to copy yaml file to take a look?  "When checked the output file (ncdump -v totalSnowDepth adpsfc_snow.nc), many missing values " _," were found." **This is normal for converter output and do not worry them.**

[2022-04-04 17:32] YoulongXia-NOAA commented on #897
@jiaruidong2017, I just added several persons related to  your issue and let them how this issue is progressed.

[2022-04-04 17:46] jiaruidong2017 commented on #897
@YoulongXia-NOAA I just changed the file permission.

[2022-04-04 18:11] YoulongXia-NOAA commented on #897
@jiaruidong2017, I used either bufr2ioda.x [FORTAN] or bufr2ioda_cxx.x [C code}  to test my yaml  bufr_snow_adpsfc_JiaruiTest.yaml (mimic your yaml with some new update), range limit seems not work for me too as my negative value does not limit out. I thought that they may remove this function (I will double check with Ron and let you know). My run test out is Jiarui_test.nc in /scratch1/NCEPDEV/d

[2022-04-04 22:17] jiaruidong2017 commented on #897
Thanks Ronald Mclaren and @YoulongXia-NOAA. This issue has been addressed.

[2022-04-05 16:54] travissluka commented on #829
@HamidehGMAO have you had a chance to create a test for these obs? @gthompsnJCSDA is bothering me about this.

[2022-04-05 20:09] jiaruidong2017 commented on #897
@YoulongXia-NOAA will bring it to ioda hour and reengineering meeting and see if others agree with doing filtering in converter section.

[2022-04-05 20:34] HamidehGMAO commented on #829
@travissluka I was able to create the obs files, but I had some issues while running the test. I'll take another look.

[2022-04-05 20:36] YoulongXia-NOAA commented on #897
@jiaruidong2017, thank you. I recalled that Emily, Ryan, and Stephen decided all filtering will be done in UFO. at least for nearly all converters. However, for your special case, if they agree that I can add filtering in ioda-converter yaml file, I will add it as you did. We need to a common solution. I will update it when I get the their input.

[2022-04-05 21:03] YoulongXia-NOAA commented on #897
@jiaruidong2017,  for your development and test case, add a filter in ioda-converter yaml file is fine. For the future ops land DA purpose, we need a common solution (is filter included in ioda-converter or UFO?). Besides I need to Besides there are 24,882 missing values out of 25,643 for your test. I want to get more info.  Is your bufr file the bufr file used for ops gdas or the bufr file you cr

[2022-04-05 21:07] gthompsnJCSDA commented on #829
If you want, then I can handle this as part of our sprint for ```feature/sprint-ioda-converters``` and update the script to handle the new Data Conventions and we can wait to implement the test until this branch is ready for merging to develop.  I just need to get an obs file on Orion and I can take this on myself.

[2022-04-05 22:48] jiaruidong2017 commented on #897
@YoulongXia-NOAA The bufr files were the operational products, and will be used for the future operational land DA.

[2022-04-06 11:16] HamidehGMAO commented on #829
@gthompsnJCSDA Thanks for your offer. I go through this today, if I couldn't figure it out. I send you a sample of obs file to take over this. Thanks!

[2022-04-06 16:10] HamidehGMAO commented on #829
@gthompsnJCSDA  Thanks for the clarification. I didn't know you have been working on this. Please find attached 2 samples of gmao-ocean obs files. Please let me know if you have any questions. https://drive.google.com/drive/folders/1N4tkuA4c981QOsSmMP2N3NE4j128T88j?usp=sharing

[2022-04-06 17:25] gthompsnJCSDA commented on #829
If it matters at all, the 20180415 dataset contains these 3 variables:
[code]

and the 20120101 file has those 3 variables plus ```seaIceFraction``` but neither sample contains other variables that the converter is hopefully capable of using, which are
[code]

[2022-04-06 18:14] PraveenKumar-NOAA commented on #598
There is no need for the unit tests as @rmclaren changed his approach, hence closing this issue.

[2022-04-06 18:14] #598 closed

[2022-04-06 19:41] HamidehGMAO commented on #829
Yeah! It's a very sparse data set. It's hard to see if there is a date that we have all these measurements, and the [ocean_obs.py](https://github.com/GEOS-ESM/UMD_Etc/blob/main/UMD_utils/ocean_obs.py) is outdated. some of the obs directories are not valid any more. for example there is no such directory as /gpfsm/dnb42/projects/p17/gvernier/SAND_BOXES/sea_ice_da/ICE_BRIDGE/ in the ocean_obs.py any

[2022-04-06 20:13] gthompsnJCSDA opened #898 "Upgrade marine converters for hgodas_adt2ioda and rads_adt2ioda to follow the JEDI Data Conventions"
## Description

Upgrade the two marine converters (python) called ```hgodas_adt2ioda.py``` and ```rads_adt2ioda.py``` to follow the JEDI Data Conventions.

These codes were updated and partially rewritten to unify the code better with numerous other marine converters.  In the long run these codes should now be easier to maintain going forward.

[2022-04-07 20:07] #805 closed

[2022-04-07 22:22] #871 closed

[2022-04-07 22:23] gthompsnJCSDA opened #902 "Upgrade converter for SatWinds (amv_nesdis_ascii2ioda.py) to follow the JEDI Data Conventions"
Update the SatWinds AMV converter ```amv_nesdis_ascii2ioda.py``` to follow the JEDI Data Conventions.  This is a converter started by Ben R and Lindsey H for atmospheric motion vectors (AMV) files on a FTP server at NESDIS.  The files are simple ascii with columns (space-separated) and can easily be read and converted to IODA.

[2022-04-07 22:44] haydenlj opened #903 "Completion of Python satwinds ASCII to Ioda converter"
New python converter for satwinds ascii data from nesdis. Converts ascii to ioda. Include ctests and verification input and output files

[2022-04-12 15:57] rhoneyager commented on #770
We have a find_package(eccodes) call in the top-level CMakeLists.txt. Does it allow us to specify components?

Moving to AOP22. Crossovers with stack maintenance and jedi-cmake maintenance.

[2022-04-13 15:09] PraveenKumar-NOAA commented on #843
Successfully merged to the feature/sprint-ioda-converters branch.

[2022-04-13 15:09] #843 closed

[2022-04-13 15:09] PraveenKumar-NOAA commented on #836
Successfully merged to the feature/sprint-ioda-converters branch. Completed and closed.

[2022-04-13 15:09] #836 closed

[2022-04-13 15:10] PraveenKumar-NOAA commented on #837
Successfully merged to the feature/sprint-ioda-converters branch. Completed and closed.

[2022-04-13 15:10] #837 closed

[2022-04-13 15:12] PraveenKumar-NOAA commented on #524
Successfully merged to the ioda-converters. Completed and closed.

[2022-04-13 15:12] #524 closed

[2022-04-13 15:13] PraveenKumar-NOAA commented on #526
Successfully merged to the ioda-converters. Completed and closed.

[2022-04-13 15:13] #526 closed

[2022-04-13 15:13] PraveenKumar-NOAA commented on #527
Successfully merged to the ioda-converters. Completed and closed.

[2022-04-13 15:13] PraveenKumar-NOAA commented on #528
Successfully merged to the ioda-converters. Completed and closed.

[2022-04-13 15:13] #528 closed

[2022-04-13 15:18] PraveenKumar-NOAA commented on #513
Work is in progress for this issue and I created a yaml containing GSI mnemonics for this adpupa subset. Going to create a PR soon.

[2022-04-13 15:38] #865 closed

[2022-04-13 15:48] CoryMartin-NOAA commented on #693
This was closed by #688

[2022-04-13 15:48] #693 closed

[2022-04-13 15:51] YoulongXia-NOAA commented on #897
I checked with Emily @emilyhcliu, she suggested that filtering should be done in UFO rather than ioda-converter.  Please open an issue in UFO and fix it there. You can close this ticket.

[2022-04-13 15:52] YoulongXia-NOAA commented on #897
@jiaruidong2017 , not in ioda converter and it should be done in UFO. Find your solution there.

[2022-04-13 15:52] #579 closed

[2022-04-13 16:26] huishao-r commented on #803
The ioda converters for RO in python and Fortran have been updated by @haydenlj to incorporate different flags. I am closing this issue for now. Please reopen it under AOP22 if needed.

[2022-04-13 16:26] #803 closed

[2022-04-13 16:27] huishao-r commented on #872
@haydenlj I believe this is completed. Close it for now. Please let me know if it is not.

[2022-04-13 16:27] #872 closed

[2022-04-13 17:13] jiaruidong2017 commented on #897
Thanks @YoulongXia-NOAA for the info. I think I need to talk this with @emilyhcliu to make sure whether UFO can figure out my issue before I close this ticket.

[2022-04-13 18:50] huishao-r commented on #495
@emilyhcliu since the BUFR work is still going on in AOP22, I unlinked the subepics from AOP21 and we'll add new Epics for AOP22 later. I did the same thing for other NOAA subEpics as well. They stay under Obs subEpics for now. We'll discuss how to arrange them when AOP22 epics kick in.

[2022-04-13 20:14] jeromebarre opened #908 "Upgrade converter for averaging kernel observation to follow the JEDI Data Conventions: NEEDS Fortran API first"
Update the converter identified in the title (hereafter referred to as the **target converter**) to follow the JEDI Data Conventions.

The converters for total or partial columns in composition cannot be updated to current JEDI Data Conventions until the Fortran API is developed

so far two converters are impacted
https://github.com/JCSDA-internal/ioda-converters/blob/develop/src/compo/mopitt_co_n

[2022-04-13 20:41] #809 closed

[2022-04-13 23:11] nicholasesposito commented on #502
The comparisons of GSI vs prepbufr ADPSFC data are provided at #757

[2022-04-13 23:14] nicholasesposito commented on #523
Plots can be found here: #758

[2022-04-14 17:29] PraveenKumar-NOAA commented on #578
GSI vs IODA (generated using bufr2ioda_cxx.x) surface pressure plots for the test data: https://mail.google.com/mail/u/0?ui=2&ik=067cb04b0a&attid=0.0&permmsgid=msg-f:1730104816619806834&th=1802912a0ad0e072&view=att&disp=safehttps://mail.google.com/mail/u/0?ui=2&ik=067cb04b0a&attid=0.0&permmsgid=msg-f:1730104952361948024&th=18029149a5ad9378&view=att&disp=safe

[2022-04-14 17:31] PraveenKumar-NOAA commented on #578
GSI vs IODA (generated using bufr2ioda_cxx.x) surface pressure plots for the test data:
![gsi_ncep_prepbufr_adpupa_psfc](https://user-images.githubusercontent.com/63739712/163442441-b2b1a24c-e684-499f-b6c0-9266f7e59a3f.png)
![ioda_ncep_prepbufr_adpupa_psfc](https://user-images.githubusercontent.com/63739712/163442495-ef374ba3-3c54-4c8d-83df-302a36c6184e.png)

[2022-04-14 17:36] PraveenKumar-NOAA commented on #515
Created an adpupa prepbufr yaml and generated testoutput netcdf file, which has been merged successfully to the feature/query_cxx branch.
Completed.

[2022-04-14 17:49] PraveenKumar-NOAA opened #909 "Write/test yaml converting ADPUPA (NC002002: RAWINSONDE - MOBIL LAND) BUFR to IODA"
## Description
The purpose of the issue is to:
- Write a yaml file that can convert the ADPUPA (NC002002 subset) BUFR file, using mnemonics determined for ADPUPA/NC002002.
- Use the yaml to convert into an IODA-formatted netCDF file
- Add outputs to the ioda-converter testoutput directory
- Add tests to the CMakeLists.txt files
- Have the tests pass

## Requirements
All important mnemonics need to

[2022-04-14 17:51] PraveenKumar-NOAA opened #910 "Write/test yaml converting ADPUPA (NC002003: RAWINSONDE - SHIP) BUFR to IODA"
## Description
The purpose of the issue is to:
- Write a yaml file that can convert the ADPUPA (NC002003 subset) BUFR file, using mnemonics determined for ADPUPA/NC002003.
- Use the yaml to convert into an IODA-formatted netCDF file
- Add outputs to the ioda-converter testoutput directory
- Add tests to the CMakeLists.txt files
- Have the tests pass

## Requirements
All important mnemonics need to

[2022-04-14 17:53] PraveenKumar-NOAA opened #911 "Write/test yaml converting ADPUPA (NC002004: DROPWINSONDE) BUFR to IODA"
## Description
The purpose of the issue is to:
- Write a yaml file that can convert the ADPUPA (NC002004 subset) BUFR file, using mnemonics for ADPUPA/NC002004
- Use the yaml to convert into an IODA-formatted netCDF file
- Add outputs to the ioda-converter testoutput directory
- Add tests to the CMakeLists.txt files
- Have the tests pass

## Requirements
All important mnemonics need to be known.

[2022-04-14 17:54] PraveenKumar-NOAA opened #912 "Write/test yaml converting ADPUPA (NC002005: PIBAL) BUFR to IODA"
## Description
The purpose of the issue is to:
- Write a yaml file that can convert the ADPUPA (NC002005 subset) BUFR file, using mnemonics for ADPUPA/NC002005
- Use the yaml to convert into an IODA-formatted netCDF file
- Add outputs to the ioda-converter testoutput directory
- Add tests to the CMakeLists.txt files
- Have the tests pass

## Requirements
All important mnemonics need to be known.

[2022-04-14 17:55] PraveenKumar-NOAA opened #913 "Write/test yaml converting ADPUPA (NC004005: Flight level reconnaissance (RECCO)) BUFR to IODA"
## Description
The purpose of the issue is to:
- Write a yaml file that can convert the ADPUPA (NC004005 subset) BUFR file, using mnemonics for ADPUPA/NC004005
- Use the yaml to convert into an IODA-formatted netCDF file
- Add outputs to the ioda-converter testoutput directory
- Add tests to the CMakeLists.txt files
- Have the tests pass

## Requirements
All important mnemonics need to be known.

[2022-04-14 18:55] #608 closed

[2022-04-14 18:58] #552 closed

[2022-04-14 18:59] #550 closed

[2022-04-14 18:59] #306 closed

[2022-04-14 19:04] #822 closed

[2022-04-14 19:05] #821 closed

[2022-04-14 19:05] #820 closed

[2022-04-14 19:05] #811 closed

[2022-04-14 21:02] #833 closed

[2022-04-14 21:43] climbfuji commented on #42
@srherbener Now it's even older, still relevant?

[2022-04-15 13:39] #876 closed

[2022-04-15 13:40] #890 closed

[2022-04-15 13:40] #855 closed

[2022-04-15 13:42] #831 closed

[2022-04-15 15:00] #903 closed

[2022-04-15 23:09] srherbener commented on #626
I don't think the work for this has been done yet. Is that correct? If so, are there plans in AOP 22 for this? Thanks!

[2022-04-18 14:04] ericlingerfelt commented on #626
Hi @srherbener, this work has not been done yet.

[2022-04-18 15:00] srherbener commented on #42
The R2D2 effort will eventually address this so I think this issue is redundant. I'm going to close it now.

[2022-04-18 15:02] srherbener commented on #626
Should we keep this open (for AOP 22) or is this going to be covered in another issue/epic in AOP 22? Thanks!

[2022-04-18 15:14] gthompsnJCSDA commented on #902
This should have closed when 900 got merged.

[2022-04-18 15:14] #902 closed

[2022-04-18 15:15] gthompsnJCSDA commented on #898
This should have closed when 899 got merged.

[2022-04-18 15:15] #898 closed

[2022-04-18 15:16] gthompsnJCSDA commented on #894
This should have closed when 896 got merged.

[2022-04-18 15:16] #894 closed

[2022-04-18 15:20] gthompsnJCSDA opened #915 "Upgrade converter gds2_sst2ioda.py to follow the JEDI Data Conventions"
Update the converter ```gds2_sst2ioda.py``` (in ```src/marine```) to follow the JEDI Data Conventions.  If necessary, add new variables to the ```ObsSpace.yaml``` in the ioda repo.

[2022-04-18 16:43] YoulongXia-NOAA commented on #630
@jiaruidong2017, I am asking you to test new snow product. The yaml file is bufr_snow_landsfc_newTest.yaml in /scratch1/NCEPDEV/da/Youlong.Xia/test/test_fromRon on Hera. I have randomly re-checked 4-day data and 4-cycle data (input and output are/scratch2/NCEPDEV/marineda/Youlong.Xia/save/bufr_snowCover_GTS).  Note that they include snowDensity and snowWaterEquivalent. After I checked all values o

[2022-04-18 16:46] YoulongXia-NOAA commented on #630
All, I am reopening this issue to ask Jiarui @jiaruidong2017  to test the new product as we discussed at land DA meeting today. @jiaruidong2017, if there are any problems for my yaml file, please let me know so that I can fix them.

[2022-04-18 16:48] YoulongXia-NOAA commented on #630
Station ID WIGOSId issue has been solved. The data re-check looks reasonable for me. The yaml file and the data produced by it  needs to be tested.

[2022-04-18 23:36] #758 closed

[2022-04-18 23:36] #757 closed

[2022-04-18 23:37] #470 closed

[2022-04-18 23:37] #499 closed

[2022-04-20 15:38] #888 closed

[2022-04-20 16:15] YoulongXia-NOAA commented on #808
Zofia suggests to add two variables for bias-correction:

ncd.groups['Soil_Moisture_Retrieval_Data'].variables['EASE_row_index']
ncd.groups['Soil_Moisture_Retrieval_Data'].variables['EASE_column_index']

I have added to make a test.

[2022-04-20 16:22] YoulongXia-NOAA commented on #808
Avoid to get datetime from the filename, I used the ncd.groups['Soil_Moisture_Retrieval_Data'].variables['tb_time_seconds'] and the reference time since 11:58:55.816 on January 1, 2000 UTC. As new ioda converter upgrade will use dateTime (the seconds since 1970-01-01), this will directly use the addition seconds calculate from reference time and 'tb_time_seconds @zcstanley @ClaraDraper-NOAA. I wil

[2022-04-20 16:26] YoulongXia-NOAA commented on #808
@zcstanley, I polish this issue a bit and it looks more formal.  Thank you for finding this problem and creating such an issue.

[2022-04-20 17:32] barlage commented on #808
On second thought you already know the number of seconds between the reference times so you could just add that value to what's in the hdf file.

[2022-04-20 18:34] YoulongXia-NOAA commented on #808
h5dump -m '%.3f' -d /Soil_Moisture_Retrieval_Data/tb_time_seconds SMAP_L2_SM_P_E_36365_D_20211122T013945_R18240_001.h5 to get the first value is (0): 690817334.931

timestamp (s)     946727935 (T1)                    946728000 (T2)        T1+690817335              T2+ 690817335
UTC                    20000101T11:58:55       20000101T12:00:00        20211122T01:41:09         20211122T01:42:15

Use

[2022-04-20 18:34] YoulongXia-NOAA commented on #808
Yes, I used this method as it is simple.

[2022-04-23 00:47] #808 closed

[2022-04-25 15:13] HamidehGMAO opened #922 "Add a converter for PACE OC data"
## Description
I add a converter to convert PACE ocean color data to the IODA format. As, PACE is not lunched yet, we use the simulated obs from here "https://oceandata.sci.gsfc.nasa.gov/directaccess/PACE/OCI/L2/"

[2022-04-27 18:49] BenjaminRuston opened #925 "bug fix for datetime in SSEC satellite wind decoder"
## Description

the satellite wind decoder for SSEC in the ioda-converter-sprint branch needs an update to the datetime decoding

## Requirements

the fix of this bug will correctly assign the time and allow observation to process in UFO

## Acceptance Criteria (Definition of Done)

IODA satwind file gets created

[2022-04-28 22:13] jeromebarre opened #927 "The MODIS AOD converter cannot be used as is. (hdf4->netcdf)"
https://github.com/JCSDA-internal/ioda-converters/blob/develop/src/compo/modis_aod2ioda.py

The currently the converter takes netcdf as input but the actual input data is hdf4.
https://ladsweb.modaps.eosdis.nasa.gov/missions-and-measurements/science-domain/aerosol/

I understand that IODA might not accommodate for hdf4... but with the information provided in the repo the converter is not very usef

[2022-04-28 22:18] nicholasesposito opened #928 "Upgrade converter for viirs_modis_l3_oc2ioda.py to follow the JEDI Data Conventions"
Update the converter identified in the title (hereafter referred to as the viirs_modis_l3_oc2ioda.py) to follow the JEDI Data Conventions.

- Update variable names
- Ensure variable units match the units in the conventions table
- Update the global attributes dictionary as needed
- Run the converter test to make sure it runs (but will fail because of unupdated test reference)
- Run ```ioda-validat

[2022-04-28 22:20] mpagowski commented on #927
FYI: At GSL  use a FORTRAN MODIS converter that directly reads hdf4 ... but
writes in ioda v1.
Would it be useful to include it in the repo?

On Thu, Apr 28, 2022 at 3:13 PM Jérôme Barré ***@***.***>
wrote:

[2022-04-28 22:58] jeromebarre commented on #927
There are tool to convert hdf4 to hdf4. It takes one line of code. e.g. https://www.hdfeos.org/software/h4toh5-def-download.php
I can succesfully convert the original modis files to hdf5 which can be read by the IODA-converter API.
The problem is that the testinput file provided is not a straight conversion from hdf4 to hdf5 (i.e. netcdf). The groups have been removed so it lead to key error when

[2022-04-28 23:08] jeromebarre commented on #927
So we need to integrate the converter script that produce to the input nc fields or add the h4toh5 binary somewhere (or at least explain this in the header comment section) but need to adapt the converter to read in the groups.

[2022-04-29 13:24] andytangborn commented on #927
I have written a python code to convert the hdf file to the format that the ioda converter can read. The problem was that this step could not work on all of the platforms (including some laptop builds), so we decided to leave it out of the repository. Can this go into the repository without needing be part of a ctest?

[2022-04-29 13:43] jeromebarre commented on #927
@andytangborn we need to understand why this is not working on the CI test environments provided.

[2022-04-29 13:51] andytangborn commented on #927
The code that handles hdf is run_modis2ioda.py, which also calls the ioda converter for MODIS.  I have it in my repository: https://github.com/andytangborn/IODA-Wrappers.   I need to look back through the messages and find who had indicated that the hdf converter was not working for them.  In general, hdf is a problem to handle. Much of the information in the files is in a long text string that ne

[2022-04-29 14:16] jeromebarre commented on #927
@rhoneyager @srherbener @mpagowski do you remember an issue on the git addressing this?

https://github.com/andytangborn/IODA-Wrappers/blob/4e1d2d49806d6e8b018fd4517c5684d196273598/run_modis2ioda.py#L22 call a python script on Orion which is a modified version of the IODA converter... so right now after a first glance I don't understand why all this cannot be in a single converter?

[2022-04-29 14:17] CoryMartin-NOAA commented on #927
I seem to remember it being an issue to install whatever python library was used to convert from HDF4 to HDF5. But I'm not sure.

[2022-04-29 14:18] jeromebarre commented on #927
The imports are the same in the header... so it shouldn't be a problem as far as I can tell.

[2022-04-29 14:26] jeromebarre commented on #927
More importantly what lays in the JCSDA repos should be usable by anyone. This is not the case for this converter.

[2022-04-29 14:39] andytangborn commented on #927
It can be used by anyone, once the hdf files are converted to nc.   This
was the issue before, because not everyone was able to make this step work
on their local platforms. I'm still looking for that message chain.  Daryl
also indicated that the hdf to nc step could be separated from the
converter. Give me a little while to find what was said.

On Fri, Apr 29, 2022 at 10:26 AM Jérôme Barré ***@**

[2022-04-29 14:46] jeromebarre commented on #927
Not true... the conversion to nc is the actual problem we are discussing here...

[2022-04-29 14:53] andytangborn commented on #927
Yes, I understand. What we need is to make that step work on any platform.
Let me update the wrapper so that it uses the latest modis ioda converter,
and you can try that.

On Fri, Apr 29, 2022 at 10:46 AM Jérôme Barré ***@***.***>
wrote:

[2022-04-29 15:58] jeromebarre commented on #927
Discussed this @srherbener. I will create a feature branch using https://hdfeos.org/software/pyhdf.php. If this works fine we will update the containers to include the python package. pyhdf can be installed easily. https://pypi.org/project/pyhdf/

[2022-04-29 16:21] jeromebarre commented on #927
You won't need a wrapper in the future...

[2022-04-29 16:31] jeromebarre commented on #927
This is a different problem than what is discussed. Again this is about the **hdf4 conversion to nc, only..**.

[2022-04-29 17:52] climbfuji commented on #927
Please make sure that any change that gets merged into our repositories that adds a new software dependency is discussed with the infrastructure team first. Ideally by creating an issue in https://github.com/noaa-emc/spack-stack and referencing that issue in the corresponding PR to ioda-converters etc. Thanks!

[2022-04-29 18:05] srherbener commented on #927
The plan is for @jeromebarre to try out the pyhdf module (which seems the most promising way forward) in a feature branch. We would keep that solution in the feature branch (ie, not issue a PR to develop branch) until we can get the stack and containers updated. I agree that once we decide to use pyhdf (or whatever solution) we should submit an issue to spack-stack to track getting the stack and c

[2022-04-29 18:22] climbfuji commented on #927
Thanks, @srherbener that sounds like a good plan. One more Python dependency, yay :-) Note that we already have `h5py` just in case that library can provide the same functionality that you are looking for.

[2022-04-29 18:53] jeromebarre commented on #927
"The h5py package is a Pythonic interface to the **HDF5** binary data format." not HDF4 unfortunately.

[2022-04-29 21:19] jeromebarre commented on #927
Please have a look at
https://github.com/JCSDA-internal/ioda-converters/blob/feature/modis_aod_from_h4/src/compo/modis_aod2ioda.py

this is very straightforward using the pyhdf package which is not problematic to install I think.

[2022-04-29 21:55] srherbener commented on #927
This looks great! I suspect that pyhdf will be okay as a dependency. It's been around since 2003 and the latest update was a year ago (May 2021) so it should be mature and there is some maintenance happening. There is also decent documentation: http://fhs.github.io/pyhdf/modules/SD.html

[2022-04-30 17:58] climbfuji commented on #927
See https://github.com/NOAA-EMC/spack-stack/issues/129.

[2022-05-03 20:28] jeromebarre opened #931 "Optional arguments in the viirs AOD converter are actually required"
https://github.com/JCSDA-internal/ioda-converters/blob/a0bc40bdfbbbe897c2a68417c11abbff612adb71/src/compo/viirs_aod2ioda.py#L204-L213

The first two arguments of the `optional = parser.add_argument_group(title='optional arguments')` are actually required and hence are not optional arguments...

This needs to be corrected. Thanks!

[2022-05-03 21:31] PatNichols opened #932 "Critical slowdown in src/convential/amv_ssec_ascii2ioda.py for multiple files"
## Description

The python script src/convential/amv_ssec_ascii2ioda.py is incredibly slow when reading multiple files. Instead of a near linear increase in time with each new file that is added to the run, the run time increases by a factor >> 1.

## Requirements

Expected behavior is that the runtime should be proportional to the sum total of file sizes. No new software dependencies.

## Accepta

[2022-05-04 21:11] gthompsnJCSDA opened #935 "Upgrade converter for gds2_sst2ioda.py to follow the JEDI Data Conventions"
Update the Python converter ```src/marine/gds2_sst2ioda.py``` to follow the JEDI Data Conventions.

- Update variable names
- Ensure variable units match the units in the conventions table
- Update the global attributes dictionary as needed
- Run the converter test to make sure it runs (but will fail because of unupdated test reference)
- Run ```ioda-validate.x``` on your output file and verify th

[2022-05-04 21:38] #925 closed

[2022-05-06 19:52] #922 closed

[2022-05-07 04:35] emilyhcliu opened #939 "Modify the unit attribute in bufr2ioda converter"
## Description
Modify the unit attribute in bufr2ioda converter to follow JEDI IODA convention.
(1) Make unit attribute an optional input in YAML
(2) Do not write unit attribute for unitless variables (e.g. qc flag, instrument identifier, ...etc)

[2022-05-10 14:38] huishao-r commented on #765
@emilyhcliu This issue has a merged issue #765 associated. However, #765 is about merging two branches (not into develop). I assume this is still an active issue? I moved this to "in progress". However, please close it if this is done. Thanks!

[2022-05-10 16:46] #765 closed

[2022-05-11 19:05] PraveenKumar-NOAA opened #944 "Add 'MINU', BUFR mnemonics for minute, value optional in bufr2ioda converter"
## Description

- BUFR Mnemonics - "MINU" is not present in some of the ADPUPA subsets like NC002001, NC002002, etc.
- IODA expects MINU for DateTime variable, and hence _bufr2ioda_cxx.x_ generates the following error:
_PRE-MAIN-ERROR Exception: ConfigurationNotFound: [minute]
terminate called after throwing an instance of 'eckit::ConfigurationNotFound'
  what():  ConfigurationNotFound: [minute]
A

[2022-05-11 22:45] PraveenKumar-NOAA opened #945 "Check how ADPUPA/prepbufr processing deals with the missing Minute, 'MINU', from ADPUPA/bufr"
## Description

- There are three time-related mnemonics in ADPUPA/prepbufr named:
DHR (in HOUR) - OBSERVATION TIME MINUS CYCLE TIME
RPT (in HOUR) - REPORTED OBSERVATION TIME
HRDR (in HOUR) - PROFILE LVL TIME-CYCLE (FOR RAOB/PIBAL, BASED ON B DFT)

- The prepbufr processing converts the time information to 'DHR' (the difference in HOUR to the analysis time).

- BUFR mnemonics - "MINU" is not prese

[2022-05-17 15:52] PatNichols opened #947 "[Bug] sprint-ioda-converters branch dies if a year field is missing or not aligned properly on read"
## Current behavior (describe the bug)
     When trying to read certain files from hdf5 (atms decoder) an exception is throw when the year field is not properly formatted ( 65536 is the value claimed by the python script).

## To Reproduce
     A file is available to demonstrate this effect. This behavior was noted on AWS-linux but is likely a problem for any python implementation. This run was in

[2022-05-17 20:08] rmclaren commented on #944
The relevant changes can be made to /src/bufr/BufrParser/Exports/Variables/DatetimeVariable.cpp. Basically would work the same way as seconds (to make minutes optional).

[2022-05-24 04:06] PraveenKumar-NOAA commented on #945
Values of DHR, RPT, and HRDR (in Hours) extracted from a netcdf file:

   DHR (nlocs)= 0, 0, 0, 0, -2, -2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -0.5, -0.5, -0.5, -0.5, 0.5, 0.5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
      0, 0, 0, 0, 0, 0, 0, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0, -1, -1, 0, 0,0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, -1, 1,
      1, 0, 0, 0.5, 0.5, 0, 0, 0, 0, 0, 0, 0, 0

[2022-05-25 15:31] gthompsnJCSDA opened #950 "Eccodes-python requires special treatment of BUFR "subsets" especially for sonde data"
## Description
Some countries' weather centers distribute radiosonde data in BUFR format using "subsets" that code up a series of more than one sonde's data into a single BUFR msg.  The existing ```src/conventional/sonde_bufr2ioda.py``` code is not properly decoding these messages.

Re-factor the logic of the converter to loop through the subsets.  Make special usage of the BUFR key called ```subs

[2022-05-25 20:29] PraveenKumar-NOAA opened #952 "Find out how profile level LAT/LON are calculated in ADPUPA prepbufr?"
## Description

- There are both profile level LAT/LON (YDR/XDR) and LAT/LON (YOB/XOB) in ADPUPA prepbufr data.
- But there is no profile level LAT/LON in ADPUPA bufr dump data.
- Profile level LAT/LON is required in ADPUPA prepbufr yaml for bufr2ioda conversion.
- Here, I will find out how profile level LAT/LON are calculated in ADPUPA prepbufr.

## Requirements

- There is no requirement.

## Ac

[2022-05-31 15:54] mjhossen opened #955 "Bug fixing for adt copernicus conversion: copernicus_l4adt2ioda.py"
Conversion problem occurs when converting adt copernicus sea level data obtain from
[code]
Two issues are fixed:
1. key error: keyword 'err' is not available in the data files.
- replace 'err' by 'err_sla' in the python script
2. datetime inconsistency: the date inside the file is one day earlier than the leveling date of the file.
- replace datetime yyyy-mm-ddT12:00:00 in the conversion by a date

[2022-05-31 21:49] emilyhcliu opened #957 "Update YAMLs for AMSU-A based on feature/query_cxx"
## Description
Update YAMLS for AMSU-A based on feature/query_cxx
- [x]  1b amsua
- [x]  db amsua

[2022-05-31 22:06] emilyhcliu opened #959 "Update YAMLS for MHS based on feature/query_cxx"
Update YAMLS for AMSU-A based on feature/query_cxx

 - [x] 1b mhs
 - [x] db mhs

[2022-06-03 19:35] emilyhcliu opened #964 "Restructure the "Transform" functionality in BUFR converter so the variable transforms beyond a constant offset and scaling are possible"
Restructure the "Transform" functionality in BUFR converter so the variable transforms beyond the constant offset and constant scaling are possible.

**Example-1**:  transform scaled radiance to radiance (original measured value) for hyperspectral sensors such as IASI

[code]

**Example-2**: transform Radiance to brightnessTemperature   ( brightnessTemperature = Planck( radiance, frequency, consta

[2022-06-04 17:47] emilyhcliu opened #965 "Add variable type conversion in BUFR converter so the result variable type follows the IODA convention"
## Description
### In current BUFR converter, the output IODA variables inherit the data types queried from the BUFR.  These data types from BUFR are mostly float and string. There is a need to add the variable type conversion capability in BUFR converter so that the output data types follow the IODA convention.

The IODA data type can be found in the [Data Storage Types](https://docs.google.com/s

[2022-06-04 21:46] #959 closed

[2022-06-06 18:00] nicholasesposito opened #967 "Indicate an index in the query string to reduce multi-dimensional arrays to 1-D"
## Description
It seems when the bufr2ioda code sees a sequence with brackets, it will make a dimension of it, whether or not there are multiple replications. For my results, there's lots of length of 1 dimensions. For example, for my aircraft bufr, the dimensions look like this:

netcdf aircraft_prepbufr_select_thinned {
dimensions:
        CloudSequence = 1 ;
        HeightEvent = 1 ;
        Hu

[2022-06-07 21:40] emilyhcliu commented on #965
@rmclaren what you proposed is even better since the types can be automatically determined internally.

[2022-06-08 14:32] srherbener commented on #965
My understanding is that we want the variables in the output ioda file to follow the data types specified in the Conventions, which is not necessarily the data type inferred from the BUFR units. While it might be helpful to infer the data type from the BUFR units, I think we still need to have a mechanism in place to ensure that the output variable data types are following the JEDI conventions.

I

[2022-06-08 14:33] emilyhcliu commented on #965
@rmclaern  Yes.  Let's make plans and prioritize work that needs to be done based on your capacity and schedule.   We could put the data type work in the to-do list, This to-do list should be included in the documentation so the users know what to expect in the next release. We already have a few on the to-do list.
The following issues document the desired features:
- [ ] [Issue #964](https://gith

[2022-06-08 15:37] rmclaren opened #969 "NOAA EMC BUFR Converter - Observation Data Next enhancements for BUFR converting code for AOP22"
This epic covers enhancements we want to make to the BUFR converting code.

[2022-06-08 16:03] rmclaren commented on #964
I've looked into this, infortunately it will require some modifications to the design to achieve this as we need to be careful with dependent data that also has transforms of its own.

[2022-06-08 16:10] rmclaren commented on #965
I added a new epic for the next enhancements we want to implement (after we merge our current work into develop and close the currently open EPIC). Please move "future" things to this new epic. Things we plan to defer in the current epic should be moved to the new one as well (?).

https://app.zenhub.com/workspaces/jedi-5eb436d0a544107acce79780/issues/jcsda-internal/ioda-converters/969

@emilyhcli

[2022-06-08 17:51] rmclaren commented on #965
@srherbener We could always provide the means to override whatever the BUFR unit indicates. I'm guessing the majority of time the implied type will be ok (?). What do you think?

[2022-06-08 20:59] srherbener commented on #965
I think that sounds good. If you have a number of tasks you want to work on now for the merge it would probably be good to create another epic for tracking those tasks.

[2022-06-08 21:38] rhoneyager opened #970 "[Bug] Wrong bufr target name in the EMC converters"
## Current behavior (describe the bug)

From `src/bufr/CMakeLists.txt`:
[code]

Unfortunately, `bufr::bufr_4_DA` does not exist anymore. It was [removed last year in August](https://github.com/NOAA-EMC/NCEPLIBS-bufr/commit/5345d345c45a8532b04e6286d83bb80ae916b1d6). See NCEPLIB-bufr's [CMakeLists.txt]( https://github.com/NOAA-EMC/NCEPLIBS-bufr/blob/develop/CMakeLists.txt#L74).

## Fix
Change all re

[2022-06-09 15:59] rmclaren commented on #965
@srherbener I guess I was thinking this epic had that role:

https://app.zenhub.com/workspaces/jedi-5eb436d0a544107acce79780/issues/jcsda-internal/ioda-converters/425

[2022-06-09 16:05] rmclaren commented on #965
@srherbener You are correct about the BUFR Table indicating the number of bits used to encode any particular value. The thing is that NCEPLIB-bufr converts all these values to the same representation (32 bit floats in our case) so the number isn't too helpful (unless we want to concatenate the values). I don't know how far we want to take this...

[2022-06-17 15:11] nicholasesposito opened #972 "Install feature/query_cxx on Orion"
## Description
I recently completed building/compiling feature/query on Orion:
Here are the instructions:

$> export JEDI_OPT=/work/noaa/da/jedipara/opt/modules
$> module use $JEDI_OPT/modulefiles/core
$> module load jedi/gnu-openmpi
$> export SLURM_ACCOUNT=da-cpu
$> export SALLOC_ACCOUNT=$SLURM_ACCOUNT
$> export SBATCH_ACCOUNT=$SLURM_ACCOUNT
$> export bufr_ROOT=/your/NCEPLIBS/installation/build/b

[2022-06-17 15:20] nicholasesposito commented on #502
PR #904 has been completed. All yamls, inputs and output files have been added. All the tests pass. This will now be closed.

[2022-06-17 15:20] #502 closed

[2022-06-17 15:21] nicholasesposito commented on #504
PR #904  has been completed. All yamls, inputs and output files have been added. All the tests pass. This will now be closed.

[2022-06-17 15:29] nicholasesposito commented on #759
All of these variables have been added to the ObsSpace.yaml to the feature/query_cxx branch. This will be closed.

[2022-06-17 15:32] nicholasesposito commented on #928
This has been merged and may now be closed.

[2022-06-17 15:32] nicholasesposito commented on #870
This has been merged and may now be closed.

[2022-06-17 15:32] #870 closed

[2022-06-17 15:53] nicholasesposito opened #973 "Update data types of ADPSFC bufr and prepbufr data"
## Description
The purpose is to ensure that all of the datatypes of the variable are correct.
[ ] Update adpsfc bufr and prepbufr yamls
[ ] Update outputs
[ ] Possibly update ObsSpace.yaml
[ ] Make sure tests pass

## Requirements
Not a new feature. No new dependencies. Not a bugfix.

## Acceptance Criteria (Definition of Done)
This will be finished once all of the points above are finished.

##

[2022-06-17 16:12] nicholasesposito opened #974 "Update datatypes of AIRCFT/AIRCAR bufr and prepbufr data."
## Description
The purpose is to ensure that all of the datatypes of the variable are correct.
[ ] Update aircft/aircar bufr and prepbufr yamls
[ ] Update outputs
[ ] Possibly update ObsSpace.yaml
[ ] Make sure tests pass

## Requirements
Not a new feature. No new dependencies. Not a bugfix.

## Acceptance Criteria (Definition of Done)
This will be finished once all of the points above are finishe

[2022-06-21 17:45] emilyhcliu opened #975 "Convert prepbufr time information from DHR to standard IODA dateTime format"
## Description
Convert the prepbufr time information from DHR (hours relative to the center of analysis time) to the standard IODA dateTime format (seconds since 1970-01-01T00:00:00Z)

Thoughts:
We have the[ functionality](https://github.com/JCSDA-internal/ioda-converters/blob/develop/src/bufr/BufrParser/Exports/Variables/DatetimeVariable.cpp) fo convert [year, month, day, hour, minute, second] in

[2022-06-23 23:24] emilyhcliu opened #976 "feature/query_cxx_types --- bug found when query variable with different precision"
## Current behavior (describe the bug)

When query a BUFR variable with mixed precision, the process will be terminated with errors.

Example:
[code]
While executing query for variable with the different precision, the process will be terminated with the following error message:
[code]

This case can be reproduced using [bufr_ncep_adpsfc.yaml](https://github.com/JCSDA-internal/ioda-converters/blob

[2022-06-23 23:47] emilyhcliu opened #977 "feature/query_cxx_types: Type inconsistency found in BUFR variables with the same type"
## Current behavior (describe the bug)

For ADPSFC PREPBUFR file ([bufr_ncep_prepbufr_adpsfc.yaml](https://github.com/JCSDA-internal/ioda-converters/blob/feature/query_cxx/test/testinput/bufr_ncep_prepbufr_adpsfc.yaml))

There are 7 quality markers: ZQM, PQM, PMQ, TQM, QQM, SSTQM, WQM, WQM  (for height, pressure, pressure reduced to mean sea level, temperature, moisture, SST, and winds, respective

[2022-06-24 01:32] emilyhcliu opened #978 "feature/query_cxx_types for Radiance"
These following variables should be integer (based on IODA convention).
They are exported from BUFR as float.

[code]

BUFR table:
[code]
Does "NUMERIC" indicate float type in BUFR?

Look like we need a mechanism to convert the generic BUFR data type the desired type that matches the IODA convention.

[2022-06-24 11:51] YoulongXia-NOAA opened #979 "feature/query_cxx_types --- bug found when I did my tests"
When I ran ctest -R test_iodaconv_bufr_ncep_sevcsr to produce output in testrun. However, I checked by using ncdump -h testrun/[gdas.t00z.sevcsr.tm00.nc](http://gdas.t00z.sevcsr.tm00.nc/) and I found

float satelliteIdentifier(Location) ;
                satelliteIdentifier:_FillValue = 1.e+11f ;
                string satelliteIdentifier:long_name = "Satellite identifier" ;

is float not integer

[2022-06-24 11:52] YoulongXia-NOAA commented on #979
I also tested ctest -R test_iodaconv_bufr_read_2_dim_blocks, and found two variables were changed:

DIFFER : VARIABLE : coldClusterTemperatureGeneratingApplication : TYPE : UINT <> FLOAT
DIFFER : VARIABLE : pressureGeneratingApplication : TYPE : UINT <> FLOAT
DIFFER : TYPES : ATTRIBUTE : _FillValue : VARIABLE : coldClusterTemperatureGeneratingApplication : UINT <> FLOAT
DIFFER : TYPES : ATTRIBUTE

[2022-06-24 11:53] YoulongXia-NOAA commented on #979
I tested ctest -R test_iodaconv_bufr, and found (Note that I used gnu compiler which I assumed to be used):

(1) 530 - test_iodaconv_bufr_ncep_snowadpsfc2ioda (Failed): DIFFER : VARIABLE : stationIdentification : TYPE : FLOAT <> STRING (It should be string rather than float !!)

(2) 531 - test_iodaconv_bufr_read_2_dim_blocks (Failed):

DIFFER : VARIABLE : coldClusterTemperatureGeneratingApplicatio

[2022-06-24 11:55] YoulongXia-NOAA commented on #979
@rmclaren, this is the test I did and found some bugs. Please see if you can fix them.

[2022-06-24 14:54] rmclaren commented on #976
Should be fixed, removed check for unit type...

[2022-06-24 14:57] emilyhcliu commented on #976
@rmclaren Great! Thank.  I will update my build and test again.

[2022-06-24 15:02] rmclaren commented on #977
Should be fixed now. Please try it. (the fix is in NCEPLIB-bufr feature/query_enhancements).

[2022-06-24 15:04] rmclaren commented on #978
Should these numbers be uint32 or int32 or int64 uint64 ? int64 may be the safest options for Numeric field...

[2022-06-24 15:11] rmclaren commented on #978
Should we add the unit tip Hz to the list of numeric types as well (uint64 would be appropriate for this field)

[2022-06-27 13:14] rmclaren commented on #979
Same bug as #997. Please update both NCEPLIB-bufr and IODA-converters and try again.

[2022-06-27 18:35] PraveenKumar-NOAA commented on #952
Created a google drive folder for the progress of this issue:
https://drive.google.com/drive/folders/184SOItgC5wFCbCRKWmIUqKI2UG-EM9oR

This folder contains Fortran subroutine and mathematical equations for the profile level LON/LAT calculation, extracted from the prepbufr codes.

[2022-06-28 16:56] ShastriPaturi opened #981 "Update fnmoc profile converter including PreQC filter"
## Description
Update the existing fnmoc profile converter (gadae_profile2ioda.py) to add a PreQC filter.
The PreQC filter removes the temp and salinity data whose probablity of error against climatology data is >= 1.00

The following are added at line 215:
if obs.data [key+'_prb'][n][ilev] >= 1.000:
     val=-999.00

[2022-06-28 17:01] ShastriPaturi opened #982 "Create a converter for SST data from L4 OSTIA"
## Description
Create a converter for Level-4 OSTIA (Operational Sea Surface Temperature and Sea Ice Analysis) SST data.

The OSTIA SST data is provided by the UK Met Office as an operational product on a spatial resolution of
0.054 degrees (Latitude) x 0.054 degrees (Longitude).

[2022-06-28 19:28] emilyhcliu commented on #978
The data type defined in IODA convention document ([spreadsheet](https://docs.google.com/spreadsheets/d/1fHb2QIHOwgp4d6plyn9Dj9HZFZsDRxcPaUV6hdTb5BU/edit?usp=sharing)) for these variables is **uint32_t**

[2022-06-28 22:16] emilyhcliu commented on #978
I asked Jeff Ator a bufr data type question:

Here is my question:
[code]

Here is the answer from Jeff:
[code]

[2022-06-28 22:17] emilyhcliu commented on #978
Looks like the NUMERIC type could be negative, float or integer depending on the scale factor and reference value.

[2022-06-29 13:20] YoulongXia-NOAA commented on #979
The issue was resolved. Closed

[2022-06-29 15:40] YoulongXia-NOAA commented on #977
@emilyhcliu @rmclaren , as Emily has tested and our issues have fixed. I closed my issue #979. Thank you.

[2022-06-29 19:26] jeromebarre opened #986 "Create converter for TROPESS CrIS-JPSS1 L2 CO"
Create converter for TROPESS CrIS-JPSS1 L2 CO

data set can be found at:

https://disc.gsfc.nasa.gov/datasets/TRPSDL2COCRS1FS_1/summary

[2022-06-29 19:36] jeromebarre opened #987 "Create converter for TROPOMI CO"
Create converter for TROPOMI CO
Using template from TROPOMI NO2:
https://github.com/JCSDA-internal/ioda-converters/blob/develop/src/compo/tropomi_no2_nc2ioda.py
getting data at:
https://s5phub.copernicus.eu/dhus/#/home or eumetsat

[2022-06-29 19:59] ShastriPaturi opened #988 "Create a converter for L4 NSIDC CDR sea-ice concentration"
## Description
Create a converter for Level 4 Sea-ice concentration from NSIDC (National Snow and Ice Data  Center).
This data set provides a Climate Data Record (CDR) of sea ice concentration from passive microwave data on a spatial resolution of 25km x 25 km.

[2022-06-29 20:09] ShastriPaturi opened #989 "update ADT data geoid from NESDIS"
## Current behavior (describe the bug)
As of January 16, 2022 RADS NESDIS stopped reporting the geoid "xgm2016" for calculating the ADT in their netCDF files.
The current ioda converter (rads_adt2ioda.py) need to be updated to read "egm2008".
Lines 61-64 need to be updated.

Update lines 61-64 as follows:
        vals = ncd.variables['adt_egm2008'][:]
        val_units = ncd.variables['adt_egm2008

[2022-06-29 22:10] nicholasesposito opened #990 "Update HBLCS mnemonic to have no "units""
## Description
The mnemonic HBLCS which is known as the variable "heightAboveSurfaceOfBaseOfLowestCloud" should not have any units (previously "m" or meter) as it is a "CODE TABLE" in the bufrTable. This gets rid of the "units" line in the yamls and updates the output data.

It should be paired with the ioda branch "feature/query_cxx_adpsfc_hblcs", which contains 1 update to the ObsSpace.yaml file

[2022-06-30 13:39] rmclaren commented on #978
I'm going to add a concept of a DataObjectFactory to help manage the types.

[2022-06-30 14:17] PraveenKumar-NOAA commented on #975
@emilyhcliu I also have one similar issue #945 that can be linked here.

[2022-07-01 20:13] nicholasesposito opened #993 ""ACID" mnemonic does not work"
I am trying to add the mnemonic "ACID" to the AIRCFT Prepbufr yaml/output. When I put the mnemonic in, the yaml doesn't like it. I believe the reason is due to this: the input file actually contains two dataypes in it (AIRCFT and AIRCAR). With the exception of one mnemonic (ACID), the two sequences are exactly the same. All other variables are fine.

From the bufr table:
[code]
where
[code]

The q

[2022-07-05 02:43] emilyhcliu opened #994 "Missing Quality Mark for ADPSFC wind observation"
The quality marker (QMWN) is missing in the [adpsfc wind YAML](https://github.com/JCSDA-internal/ioda-converters/blob/feature/query_cxx/test/testinput/bufr_ncep_adpsfc.yaml)

[2022-07-05 18:42] nicholasesposito commented on #994
This task is being taken care of in PR #991

[2022-07-07 00:46] nicholasesposito opened #997 "Have BufrParser be able to choose which "height" variable should populate aircraftFlightLevel"
## Description
In aircraft data, there are a number of height variables that, in the prepqc code, are used to determine the aircraft flight level. Multiple mnemonics exist in a number of the AIRCFT datatypes. We need to add an enhancement to the feature/query_cxx code that will go through all of the data and variables to determine which variable we will want to use. There is logic within the prepq

[2022-07-07 15:07] jeromebarre opened #999 "observable name need to be changed to use CRTM Channel 4"
Name of the observable should be changed form `aerosol_optical_depth` to `aerosol_optical_depth_4`

in line:

https://github.com/JCSDA-internal/ioda-converters/blob/0e51e8d327cf41f7dc4c53c37b9a46deaedcf067/src/compo/modis_aod2ioda.py#L35

[2022-07-12 14:15] ADCollard commented on #804
Let's try to use Andy's
[python based converters instread](https://github.com/JCSDA-internal/ioda-converters/blob/develop/src/compo/viirs_biaswriter.py)

[2022-07-12 20:16] emilyhcliu commented on #952
@PraveenKumar-NOAA That's good.  Based on the information abstracted, we could implement the drift lat/lon in UFO or in BUFR converter - export/variable part.

[2022-07-15 16:08] BenjaminRuston opened #1008 "update NOMADS ingest to new web address"
the GNSS-RO data at least has now moved to a new web address

[2022-07-19 17:10] #950 closed

[2022-07-20 20:20] #981 closed

[2022-07-20 20:56] #982 closed, assigned to ShastriPaturi, jieshunzhu, mjhossen

[2022-07-20 21:26] #1008 closed, assigned to BenjaminRuston

[2022-07-20 22:01] #989 closed

[2022-07-27 18:03] rmclaren commented on #965
Merging this issue is dependent on the following PR:

https://github.com/NOAA-EMC/NCEPLIBS-bufr/pull/222

[2022-07-27 18:11] srherbener commented on #965
@rmclaren does this mean that we need this NCEPLIBS-bufr PR merged, a tag assigned to a version containing that merge, and switch our stack over to that tag before we can merge your feature/query_cxx branch to develop? Just want to know what to plan for. Thanks!

[2022-07-27 18:16] rmclaren commented on #965
@srherbener Yes, that is exactly what needs to happen:) Thanks Steve!

[2022-07-27 18:17] rmclaren commented on #965
@srherbener Depending on how things work out timing wise we might end up merging feature/query_cxx to develop so this one would then just get merged into develop directly.

[2022-07-27 18:33] travissluka opened #1014 "Create converter for SWOT"
find the existing synthetic SWOT observations, and create a ioda-converter for it.

[2022-07-27 20:18] travissluka commented on #829
closed with PR#899

[2022-07-27 20:18] travissluka commented on #829
closed with PR#899

[2022-07-27 20:18] #829 closed

[2022-07-27 20:58] nicholasesposito commented on #997
Update 7/27/22:
I've updated Export.cpp, and written/added/edited  AircraftAltitude.cpp and .h . All variables are in it. I've also added the Pressure->height calculation for the PRLC mnemonic.
AircraftFlightLevel has become AircraftAltitude per request.

[2022-07-28 19:59] srherbener commented on #965
FYI: If you create a feature branch for this before feature/query_cxx gets merged, you can base the new feature branch on feature/query_cxx (instead of develop). Github will keep track of the base branch and update it accordingly. Say the feature branch for this issue is called feature/var_type_convert and you base it on feature/query_cxx. You can submit a PR for feature/var_type_convert and set t

[2022-07-28 20:03] rmclaren commented on #965
Yup, that's exactly what I did :) Its more a question of minimal features people want in the first release.

[2022-07-29 16:07] srherbener commented on #425
Sorry about the addition of jcsda-internal/ioda/issues/383 to this epic. I hit the wrong button. I'll remove it now.

[2022-07-29 22:57] gthompsnJCSDA opened #1016 "Add ability to capture useful radiosonde QC info"
## Description
Radiosonde BUFR messages contain some useful QC info such as solar/IR radiation correction (of temperature) and also humidity. When a sonde is hit by direct sunlight the temperature is often impacted. There are a variety of code table values in WMO element tables (002-011, -013, -017, -096, -097) to assist in whether the data have applied corrections or not, which means we may leave

[2022-08-04 00:29] jeromebarre commented on #999
This has now being taken care of as a bug fix in https://github.com/JCSDA-internal/ioda-converters/pull/942

[2022-08-04 00:29] #999 closed

[2022-08-04 20:47] nicholasesposito commented on #993
New update:
The original file (acid_problem.yaml) works. I made a second file (acid2.yaml) which does not. The main difference is the acid_problem file uses a full acft_profiles prepbufr file (4.3M) and the acid2 uses a smaller file (193K).

/scratch1/NCEPDEV/da/Nicholas.Esposito/JEDI/AIRCFT_PB_CONV_2020110112/acid_problem.yaml
/scratch1/NCEPDEV/da/Nicholas.Esposito/JEDI/AIRCFT_PB_CONV_2020110112/

[2022-08-05 15:05] YoulongXia-NOAA commented on #993
@Nick, @Emily, we actually need to use the actual gdas data for a test.  I also tested aircft prebufr rather than profile, the same problem exists.  What I did is sunsetting the prebufr data into aircft, aircar, etc. There may be some issues there and need to be fixed.

[2022-08-08 21:17] jeromebarre opened #1019 "ozone units and air pressure in OMI and OMPS O3 total columns converters"
I guess I reviewed the converters a bit too fast.

Few things:

One thing is `air_pressure` that is set to 0 for all nlocs. Both obs types are total columns hence providing air pressure is useless. I think this can be removed from the ioda files.

The other issue is the unit. I am trying to have a unified unit that goes in ufo to avoid having unit conversion factors that go to yaml here and there.

[2022-08-08 21:26] karpob commented on #1019
I'm not at all sure what you want me to do here.  As for getting rid of DU, well, that seems insane given that's what you get from the data stream.  @kwaragan

[2022-08-08 21:32] kwargan commented on #1019
Well, converting between DU and mol/m^2 is easy because 1 DU is a constant number of molecules per unit area. However, from the perspective of a scientist who will be looking at those (at least this scientist;)), mol/m^2 will lead to some crazy unreadable numbers, as opposed to the very familiar DUs. I'm not sure how much weight should be attached to this aspect.

[2022-08-08 22:25] karpob commented on #1019
If you give me a an alternative to atmVertInterpLay, I can get rid of air_pressure. Right now, I'm 99% sure it breaks without it even though it is useless.

[2022-08-08 22:30] #1016 closed

[2022-08-08 23:16] jeromebarre commented on #1019
I meant mole/m2 not molecules/m2, sorry for the confusion. (1DU ~ 4.5E-5 mole/m2 so not so crazy). I like to joke and say that Dobson units are form an another century... More seriously only O3 total columns use DU. I think mole/m2 are more suitable for all trace gases and the generalized nadir operator I am working on will use that unit. We aim at JCSDA to set conventions and formats for all DA.

[2022-08-08 23:19] jeromebarre commented on #1019
So things to do:
- change the unit to conform to the ioda unit conventions
- change the observable variable name
- get rid of air pressure whenever we can

[2022-08-09 13:08] karpob commented on #1019
I mean fundamentally, our customers will want Dobson Units whether or not the JCSDA likes it. If the instruments continue to report values in Dobson Units, these instrument teams are often our customers. I think it is a fatal flaw to not report Dobson Units. It's not quite like reporting W/sr/m^3 in place of brightness temperature for microwave, but the result will similar as our customers will be

[2022-08-09 13:37] jeromebarre commented on #1019
customers? does NASA sell its data now? Straightforward unit conversion can be done in post processing at NASA for users if they want to, need to. I am sure post-processing will be done in operation anyways (e.g. providing forecast data in regular grid but also other obs-space diagnostics). So I wouldn't worry too much about this unit change that can be easily corrected in post. Plus not all satel

[2022-08-09 13:41] karpob commented on #1019
Ok wise-ass you can take care of this nonsense yourself. I'm out.

[2022-08-09 13:44] karpob commented on #1019
You're going to give me attitude, when I do this garbage as a service to GMAO - you take care of it. I have no research interests aligned with this and am doing it as a service to my organization.

[2022-08-09 21:10] YoulongXia-NOAA opened #1020 "bufr2ioda.x does not work for prepbufr yaml for two cases"
## Current behavior (describe the bug)
The bufr2ioda.x built from feature/query_cxx_types and yaml files are used to produce ioda netCDF files. The prepbufr data (gdas.t12z.prepbufr) is subset  into adpsfc, adpupa, aircar, aircft, and sfcshp prepbufr data. The bufr2ioda.x works well for each individual subset prepbufr data when wildlcart (*) in yaml file is used. However, the first case is that wh

[2022-08-11 17:25] ADCollard commented on #804
As Dagmar said the first column is the tailnumber.  The last is the date the tail number was last seen.  Tailnumbers that have not been seen for more than a year are removed from the file.

The remaining columns are in groups of three as Dagmar said.  Related to the three predictors.
Columns 3-5 are the predictor coefficients
Columns 6-8 are the observation error sums for each predictor (currently

[2022-08-11 21:13] gthompsnJCSDA opened #1022 "SYNOP data in BUFR using "subsets" are not decoded properly"
## Description

Similar to radiosonde data in BUFR format, when subsets are used, the decoder is not capturing the variables properly.  Some refactoring of ```src/conventional/synop_bufr2ioda.py``` is needed to produce the proper output.

## Requirements

Extract as much useful information from the SYNOP data in BUFR format as we can.

## Acceptance Criteria (Definition of Done)

Extract data from

[2022-08-12 12:32] CoryMartin-NOAA opened #1023 "Add surface_geometric_height to GSI ncdiag converter"
## Description
Surface pressure in global GSI uses `surface_geometric_height` and its difference from the observation height to compute a pressure correction. The current ncdiag GeoVaLs dictionary only has `surface_geopotential_height`. While they are similar values near sea level, the SfcPCorrected UFO forward operator will convert geopotential to geometric and result in differences in UFO from G

[2022-08-12 17:41] #1023 closed

[2022-08-12 23:20] nicholasesposito commented on #997
**I believe it is all finished. I plotted all of my results and they are below:
Below is AIRCAR (NC0040004) bufr, which is to be compared with the AIRCAR file's (generated when splitting the aircraft_profile prepbufr's) two height mnemonics ZOB and Elv. ZOB is AircraftFlightLevel (which will be changed in the future to AircraftAltitude as well) and ELV is stationElevation**

![aircar_aircraftaltit

[2022-08-12 23:20] nicholasesposito commented on #997
Once the query_cxx_types is working again, I will open a PR.

[2022-08-16 17:12] CoryMartin-NOAA opened #1026 "Bug in combine_obsspace for geovals"
## Current behavior (describe the bug)
When running the combine_obsspace script with the option to combine geovals, the code crashes because it attempts to `del` an object that is unset.

## To Reproduce

run combine_obsspace.py with the -g option

## Expected behavior
Code should properly combine obs and geoval files concurrently.

## Additional information (optional)
I have the fix, just need to

[2022-08-19 16:32] #1022 closed

[2022-08-19 19:28] #1026 closed

[2022-08-24 14:28] guillaumevernieres opened #1029 "[Bug] Missing companion PR to ioda PR #764"
Adapt this repo to changes [in ipoda pr 764](https://github.com/JCSDA-internal/ioda/pull/764)

[2022-08-25 15:51] PraveenKumar-NOAA opened #1031 "bufr2ioda dimension issue with an input subset bufr file"
## Current behavior (describe the bug)
The bufr2ioda.x with a given YAML is used to produce ioda netCDF file using bufr/ prepbufr as an input file. A bufr file contains several subsets of bufr files, eg ADPUPA has six subsets NC002001-NC002005,and NC004005, and each one of them can be used as an input for bufr2ioda.

While using a suset bufr file, bufr2ioda produces dimension name correctly in a n

[2022-08-25 15:56] PraveenKumar-NOAA commented on #1031
@YoulongXia-NOAA posted the same kind of bug for the prepbufr input.

[2022-08-25 22:49] PraveenKumar-NOAA commented on #1020
@YoulongXia-NOAA I had similar problem with BUFR subset too.

[2022-08-26 00:03] YoulongXia-NOAA opened #1032 "print_queries.x does not work for prepbufr subset ASCATW"
## Current behavior (describe the bug)

When I work for regional prepbufr data rap.t06z.prepbufr.tm00 (for RRFS system) on 2022082406, I used split_by_subset.x to subset for  ADPSFC, ADPUPA, AIRCAR, AIRCFT, ASCATW, GPSIPW , MSONET, PROFLR, RASSDA, SATWND, SFCSHP, and VADWND.  print_queries.x works for all subsets except for ASCATW. When I execute "print_queries.x  ASCATW", it has error below:

Ava

[2022-08-26 02:47] PraveenKumar-NOAA opened #1033 "Validation of ioda-converter for the adpupa bufr data"
## Description

- Bufr2ioda is used to convert a bufr file into a netCDF file.

- Bufr2ioda requires a YAML as an ioda-converter, which is different for each data types.

- Seven YAMLs are written for the ADPUPA bufr data and for its subsets. (#513  #909  #910  #911 #912 #913 )

- For validation, the obs from these YAMLs generated netCDF files will be used against the GSI data for the following da

[2022-08-26 03:05] PraveenKumar-NOAA commented on #1033
Pressure plots for the GSI and IODA:
![gsi_ncep_prepbufr_adpupa_psfc](https://user-images.githubusercontent.com/63739712/186808908-56292cb5-5dec-45f7-9f28-6713928e67c0.png)

![ioda_bufr_pressure](https://user-images.githubusercontent.com/63739712/186808976-45dff78c-7f43-4814-81b4-6861e99dc24c.png)

[2022-08-26 03:19] PraveenKumar-NOAA commented on #1033
![ioda_bufr_pressure_adjustedrange](https://user-images.githubusercontent.com/63739712/186810482-32c9f439-de66-49ff-99d9-5bd0f827c6c9.png)

[2022-08-26 12:26] YoulongXia-NOAA commented on #1020
@PraveenKumar-NOAA, Thank you for finding the similar problem. As now Ron is very busy to merge his feature/query-cxx to the develop, we may need to wait.

[2022-08-26 23:02] PraveenKumar-NOAA commented on #1033
Temperature plots from the IODA and GSI data. The plots look well in agreement in terms of count and other statistics.
![gsi_ncep_prepbufr_adpupa_temperature](https://user-images.githubusercontent.com/63739712/187001114-01466f32-1fea-4438-bc06-0f755c05a323.png)
![ioda_bufr_temperature (2)](https://user-images.githubusercontent.com/63739712/187001122-8b76f041-c3c4-4d3a-9245-86b1806c1924.png)

[2022-08-30 20:19] #759 closed

[2022-08-30 20:24] nicholasesposito commented on #459
@PraveenKumar-NOAA @emilyhcliu @rmclaren
Correct me if I'm wrong, but do we have an updated/finished issue/PR for this? I could have sworn we did.

[2022-08-30 21:46] PraveenKumar-NOAA commented on #459
@nicholasesposito there is an open issue for this, created by Emily.

[2022-09-01 13:05] jeromebarre commented on #927
https://github.com/JCSDA-internal/ioda-converters/pull/942 has been merged, closing this now.

[2022-09-01 13:05] #927 closed

[2022-09-01 15:24] rmclaren commented on #1032
I just pushed a fix for some bugs including this one. Please update query_cxx and try it again. If it works please don't forget to close this ticket.

[2022-09-01 15:30] YoulongXia-NOAA commented on #1032
@rmclaren, I am using query_cxx_types, do I need to shift to query_cxx or you also update for types so that I can update types and use query_cxx_types.

[2022-09-01 17:57] rmclaren commented on #1032
@YoulongXia-NOAA I just updated query_cxx_types so please give it a try.

[2022-09-01 18:34] YoulongXia-NOAA commented on #1032
@rmclaren, when I tried to build  feature/query_cxx_types, I have the following error:
[ 13%] Building Fortran object oops/src/CMakeFiles/oops.dir/oops/generic/fft_spe  ctral2gpoint_f.F90.o
[ 13%] Building Fortran object oops/src/CMakeFiles/oops.dir/oops/generic/fft_gpo  int2spectral_f.F90.o
[ 13%] Linking CXX shared library ../../lib/liboops.so
[ 13%] Built target oops
make: *** [all] Error 2

I

[2022-09-01 18:39] YoulongXia-NOAA commented on #1032
@rmclaren, feature/query_enhancements rather than "type for NCEPLIBS-bufr.

[2022-09-01 18:41] rmclaren commented on #1032
@YoulongXia-NOAA I don't see an error and also that output is from oops... Maybe try clearing out your build directory and trying again from scratch?

[2022-09-01 18:42] rmclaren commented on #1032
@YoulongXia-NOAA Try copying all the output for your build. The fragment you have does not show were the error happened.

[2022-09-01 19:13] YoulongXia-NOAA commented on #1032
@rmclaren, now I did the following works:
(1) I  did "git pull" for feature/query_enhancements of NCEPLIBS-bufr and re-built /scratch1/NCEPDEV/da/Youlong.Xia/NCEPLIBS-bufr/buildE
(2) I open a new window and source buildE_modulefile.iodaconv.query.hera.csh in/scratch1/NCEPDEV/da/Youlong.Xia/test (using newly built NCEPLIBS-bufr library)
(3) I completely removed buildType, did ecbuild and the log fi

[2022-09-01 19:28] YoulongXia-NOAA commented on #1032
@rmclaren, the following messages seem to be related with the bufr:
/scratch1/NCEPDEV/da/Youlong.Xia/test/ioda-bundle/iodaconv/src/bufr/BufrParser/Query/DataProvider.cpp: In member function 'Ingester::bufr::TypeInfo Ingester::bufr::DataProvider::getTypeInfo(Ingester::bufr::FortranIdx) const':
/scratch1/NCEPDEV/da/Youlong.Xia/test/ioda-bundle/iodaconv/src/bufr/BufrParser/Query/DataProvider.cpp:116:

[2022-09-01 19:30] rmclaren commented on #1032
You may need to update NCEPLIB-bufr in your environment. nemdefs and nemtab are recently added. NCEPLIB-bufr develop should have these changes.

[2022-09-01 19:31] rmclaren commented on #1032
Please use the develop version of NCEPLIB_bufr. The query_enhancements branch has been merged, so that is a dead branch.

[2022-09-01 19:58] YoulongXia-NOAA commented on #1032
@rmclaren, you are correct. When used  develop version of NCEPLIB_bufr, ioda-bundle is built. I have removed this dead branch from my local repository to avoid the future misuse.  I also tested print_queries.x and bufr2ioda.x, both work now for ASCATW case. I will double check with Praveen and see if this fix works for his case. If yes, I will close this issue.

[2022-09-01 19:59] YoulongXia-NOAA commented on #1032
@KumarPraven, when your time is available, could you please test Ron's fix and see if it works your case as well? If yes, please let me know so that I am able to close this issue.

[2022-09-01 20:00] YoulongXia-NOAA commented on #1032
@rmclaren, thank you for your fixing. Nice job!

[2022-09-06 14:18] rmclaren commented on #993
I made a buig fix lately that might have affected this. Could you please update and try again... Please mark this issue as resolved if its fixed.

[2022-09-06 14:21] rmclaren commented on #977
Please close this issue if it has been fixed.

[2022-09-06 14:23] rmclaren commented on #976
Please close this issue if it has been fixed.

[2022-09-06 14:24] rmclaren commented on #997
query_cxx_types is working

[2022-09-06 14:36] rmclaren commented on #1020
@emilyhcliu @PraveenKumar-NOAA @YoulongXia-NOAA  @nicholasesposito I have a question. Is there a need to be able to specify dimension names specifically for a particular subset. So for example lets say we've got some sequence XYZ that happens inside several different types of subsets. Your dimensions section might look like this

[code]

as apposed to just naming always naming the dimension the sa

[2022-09-06 14:41] rmclaren commented on #1031
Please see #1020.

[2022-09-06 16:01] rmclaren commented on #1031
Fixed by PR https://github.com/JCSDA-internal/ioda-converters/pull/1040

[2022-09-06 16:56] YoulongXia-NOAA commented on #993
@rmclaren, just re-built ioda-bundle using feature/query_cxx_types, and I tested for aircft profile prepbufr file in /scratch1/NCEPDEV/da/Youlong.Xia/test/bufrCloud/yaml/global, do "../type_bufr2ioda.x bufr_ncep_prepbufr_aircftCloud.yaml"   in/scratch1/NCEPDEV/da/Youlong.Xia/test/bufrCloud/yaml/global. Look the output was produced but not a clean work.
 PRE-MAIN-INFO Start
PRE-MAIN-INFO Executing

[2022-09-06 17:53] YoulongXia-NOAA commented on #993
@rmclaren, I just output a grep -ACID file ACID_out in /scratch1/NCEPDEV/da/Youlong.Xia/test/bufrCloud/testinput/preBufr for aircft prepbufr file, it shows a mixing with:

<ACID_SEQ>     0 REPLICATIONS      and
001006  ACID                    LXQRFEIQ  ( 8)CCITT IA5                 AIRCRAFT FLIGHT NUMBER
           <ACID_SEQ>     1 REPLICATIONS

May this bring some problem? I am not sure.

[2022-09-06 18:12] nicholasesposito commented on #993
@YoulongXia-NOAA  It shouldn't. I just tried it with the different files that I have. I no longer get errors and it appears to me that all the ACID data in the prepbufr files are now in the ioda nc files. Thank you @rmclaren for fixing this!

[2022-09-06 18:26] YoulongXia-NOAA commented on #993
@nicholasesposito, could you please help me to test bufr_ncep_prepbufr_aircftCloud.yaml in /scratch1/NCEPDEV/da/Youlong.Xia/test/bufrCloud/yaml/global and see if it passed? You need to make corresponding modification for testinput and testrun directory.

[2022-09-06 18:44] nicholasesposito commented on #993
@rmclaren I was able to get mine working ( as well as Youlong) by changing "group_by_variable" to just "group_by" as it used to be. Can you confirm that "group_by" is what it is supposed to be?

[2022-09-06 18:48] rmclaren commented on #993
@nicholasesposito I think it might depend on the data file. It still looks like there is an issue to me. I am looking into it.

[2022-09-06 18:53] rmclaren commented on #993
Its group_by_variable, but that group by field isn't necessary at all... When you put "group_by" its just getting ignored.

[2022-09-06 18:59] rmclaren commented on #993
@nicholasesposito The reason that group by declaration is uneccessary is because is cause the group by field you are using is 1:1 with the trunk (ie root) of the tree (binary repeat only repeats 1 time). Grouping with something that is 1:1 with the trunk if the tree has no effect on the organization of the data. There is a general bug where grouping things that are inside of binary repeats causes

[2022-09-06 19:15] YoulongXia-NOAA commented on #993
@rmclaren @nicholasesposito, Yes! when I changed "group_by_variable" to  "group_by", it works now.  If group_by is not needed, can I just removed it @rmclaren?

[2022-09-06 19:17] rmclaren commented on #993
Yes, please delete it.

[2022-09-06 19:24] rmclaren commented on #589
This issue has been overcome by events. Basically the core of this code has been moved to C++, with only minor modifications being made to NCEPLIB-bufr in order to provide access to the data.

[2022-09-06 19:24] #589 closed

[2022-09-06 19:24] #406 closed

[2022-09-06 19:25] rmclaren commented on #385
Overcome by events, no longer relevant.

[2022-09-06 19:25] #385 closed

[2022-09-06 19:27] rmclaren commented on #384
Issue addressed by PR #1006.

[2022-09-06 19:28] #365 closed

[2022-09-06 19:45] rmclaren commented on #965
This functionality has been implemented in feature/query_cxx_types. Will update with PR when its issued (currently waiting on updating all the test files (yaml and output files).

[2022-09-06 19:59] YoulongXia-NOAA commented on #993
@nicholasesposito, I can remove the "group_by_variable" for individual aircft yaml file. However, when we work for the whole prepbufr yaml file including ADPSFC, ADPUPA, AIRCFT, AIRCAR, etc, can I remove  the "group_by_variable" it as aircar yaml file also includes it?

[2022-09-06 20:49] nicholasesposito commented on #993
@rmclaren I may be confused again. There are other variables that are greater-than-1-bit delayed replications in the sequences, so why don't we need group_by?

[2022-09-06 20:59] YoulongXia-NOAA commented on #993
@nicholasesposito, I just got the examples from Emily's directory and start to learn. I am not sure why it was used. You know more than me. If you think that I can remove the "group_by_variable"  for aircar as well, it is great.

[2022-09-06 21:02] rmclaren opened #1041 "BUFR IODA: Add ability to add source field to dimension declarations."
## Description

It's desirable to be able to add the ability to have a source field on the dimension parameters. For example you might want to associate dimension information with Channels so that you can correlate data at a position with a channel number which is derived from another BUFR variable. As long as the source data numbers (like channels for example) just repeat the same way for each me

[2022-09-06 21:23] rmclaren commented on #1041
Branch: feature/query_labeled_dims

[2022-09-07 15:33] rmclaren commented on #993
@nicholasesposito What matters is were you put the pivot, where the **group_by_variable** is in relation to the other variables. The path actually matters a lot more than the specific variable (maybe we should have called it group_by_path). Binary paths don't add a dimension so they don't count (look at the output from print_queries). If the path of the dimension is */ or <subset>/ then the operat

[2022-09-07 16:42] gthompsnJCSDA commented on #1041
@rmclaren I gave this issue an estimate of 8, which translates to 4 days of work.  Please change as you believe the level of effort to be more or less. Thanks for making this an issue and working on this very useful item.

[2022-09-09 19:34] PraveenKumar-NOAA commented on #599
@huishao-r I am dealing with this in a similar issue https://github.com/NOAA-EMC/JEDI-T2O/issues/41

[2022-09-12 13:38] #787 closed

[2022-09-12 18:58] gthompsnJCSDA opened #1045 "Create ioda-converter for CrIS satellite radiance to brightness temperature"
## Description
CrIS hyperspectral satellite radiance data begin as scaled radiance with different scaling factors for specific ranges of channel numbers.  To use in DA, we need to convert from the scaled to unscaled radiance values then to brightness temperature.  The VariableTransform for these two steps are implemented/available in UFO.  The ioda-converter, however, either needs to be written as

[2022-09-13 02:28] PraveenKumar-NOAA commented on #1033
Pressure plots with and without missing values:

![gsi_pressure](https://user-images.githubusercontent.com/63739712/189793864-80ffce34-652e-4d49-827a-c7a732f8ffc5.png)

![ioda_pressure](https://user-images.githubusercontent.com/63739712/189793928-0c1f9180-0b99-4379-91e3-1c90281c1c53.png)

![ioda_pressure_nomissing](https://user-images.githubusercontent.com/63739712/189793961-de7ea589-b92b-4fd2-83c

[2022-09-13 03:14] PraveenKumar-NOAA commented on #1033
Wind plots: windEastward

![gsi_uwind](https://user-images.githubusercontent.com/63739712/189799441-f92d8967-fce2-449f-8f90-98008bd10738.png)

![ioda_uwind](https://user-images.githubusercontent.com/63739712/189799470-57d9ad37-37ed-432e-820c-548ce2c05e39.png)

windNorthward:

![gsi_vwind](https://user-images.githubusercontent.com/63739712/189799532-58fc35cf-e6d5-439d-98b9-4173524a49fd.png)

![ioda

[2022-09-13 21:08] nicholasesposito opened #1047 "Possible bug with the size of "size" when querying a bufr with multiple subtypes"
## Description
When converting some aircraft bufr files using my new aircraftAltitude variable from #997 with yamls that only need some subtypes' worth of data, the software, while it grabs the needed information, grabs extra data that it is not supposed to be looking for and makes it "missing" data. For example, using the bufr_d file with my "noamdar" yaml, it should look for NC004001, 2, 3, 6, 9

[2022-09-13 22:08] nicholasesposito commented on #997
The original changes were made to a branch that was an offshoot of feature/query_cxx, but it was later determined that it should be an offshoot of feature/query_cxx_types instead. Once I moved it, I had to change a lot of the code because the data types of the incoming data had to change, which also required a reworking of the code. Most of it is done, with the exception of a possible bug (#1047).

[2022-09-15 13:33] YoulongXia-NOAA opened #1048 "Work on yaml files for regional prepbufr data"
## Description

Use rap prepbufr data as an example to create the yaml file for adpsfc, adpupa, aircar, aircft, and other subsets to convert prepbufr data into ioda v2 NetCDF4 format in support of the regional model (i.e., RRFS) DA activities. Major variables will focus on  cloud, fog, visibility, and gust wind data.

## Requirements
1.  Create yaml files for each subsets and the whole prepbufr fi

[2022-09-15 13:59] YoulongXia-NOAA opened #1049 "Work on NASA LaRC cloud products bufr file."
## Description

Create and test yaml file for NASA LaRC cloud bufr data in support the RRFS DA activities

## Requirements
1.  Create yaml files for the bufr file
2.  Use bufr2ioda.x to produce ioda v2 NetCDF4 formatted data file
3.  Use python scripts to make plot to have a preliminary check
4. Make plots by using GSI, original bufr, and ioda data to check if the converted data is correct
5. Test

[2022-09-15 16:37] ShastriPaturi opened #1050 "BUFR2IODA: Add ObsError and PreQC group/variable with a constant value for marine insitu BUFR"
## Description

[2022-09-15 18:23] #384 closed

[2022-09-15 18:23] #425 closed

[2022-09-16 16:51] jeromebarre opened #1051 "Create CALIPSO L2 IODA converter"
@jeromebarre commented on [Fri Sep 16 2022](https://github.com/JCSDA-internal/AOP22/issues/182)

[2022-09-16 17:49] CoryMartin-NOAA opened #1052 "GSI ncdiag processing script no longer works"
## Current behavior (describe the bug)
After #1043 , `proc_gsi_ncdiag.py` no longer works because it is looking for `oz_sensors`.
This needs to be added in `proc_gsi_ncdiag.py` the way it is added in `gsi_ncdiag.py`:
[code]

## To Reproduce

Run `proc_gsi_ncdiag.py` which I do not think is tested.

## Expected behavior

## Additional information (optional)

[2022-09-16 19:38] jeromebarre opened #1054 "Create or update IODA converter for TROPOMI CO"
@jeromebarre commented on [Fri Sep 16 2022](https://github.com/JCSDA-internal/AOP22/issues/180)

[2022-09-20 13:25] jeromebarre commented on #1054
This issue has already been created for the previous release (https://github.com/JCSDA-internal/ioda-converters/issues/987) but this now fall back to skylab v3

[2022-09-20 13:25] #1054 closed

[2022-09-22 15:41] rmclaren commented on #1047
Fix in feature/query_datetime_subset_fix

[2022-09-22 21:31] rmclaren commented on #1050
@ShastriPaturi Could you attach python code you use to append your globals to the netcdf files. I'd just like to see exactly how you do it.

[2022-09-22 21:33] rmclaren commented on #1050
@ShastriPaturi A copy of the text you get when you do ncdump -h on one of your fixed files would also be great :)

[2022-09-22 23:38] HamidehGMAO opened #1061 "[Add a converter for PACE radiance data ]"
## Description

We add a converter to convert simulated radiance data for PACE mission. This is to convert PACE L1B data. We already implemented a converter for the PACE L2 data

[2022-09-23 14:36] ShastriPaturi commented on #1050
The text from ncdump -h :
group: MetaData {
  variables:
        int64 dateTime(nlocs) ;
                dateTime:_FillValue = 99999997952LL ;
                string dateTime:long_name = "dateTime" ;
                string dateTime:units = "seconds since 1970-01-01T00:00:00Z" ;
        float depth(nlocs) ;
                depth:_FillValue = 1.e+11f ;
                string depth:long_name = "Depth

[2022-09-23 14:37] ShastriPaturi commented on #1050
The python script:
import numpy as np
import netCDF4 as nc

file='test1.nc'

dbuoyb=nc.Dataset(file,mode='r+', format='NETCDF4')
temp=dbuoyb.groups['ObsValue'].variables['sea_water_temperature'][:]
temp=temp-273.15
dbuoyb.groups['ObsValue'].variables['sea_water_temperature'][:] = temp

grp_PreQC         = dbuoyb.createGroup('PreQC')
var_PreQC_temp    = grp_PreQC.createVariable('sea_water_temperatu

[2022-09-23 17:09] rmclaren commented on #1050
@srherbener @emilyhcliu Shastri wants to have a way to add a variable column (sea_water_temperature **preqc** and **obserror** data in his example). We currently have a mechanism for adding global variables that look like this when you do `ncdump -h`:

[code]

The current mechanism allows you to specify **global** variables which are listed in their own sections. The variables are not listed in th

[2022-09-23 17:13] rmclaren commented on #1050
@ShastriPaturi You can remove the lines:
[code]
by modifying your YAML file so that your exports::variables:: sea_water_temperature section reads like this:
[code]

[2022-09-23 17:22] ShastriPaturi commented on #1050
Thanks @rmclaren

[2022-09-23 18:22] ShastriPaturi commented on #1050
@srherbener @emilyhcliu and @rmclaren the marine BUFR data does not have any mnemonics corresponding to ObsError and PreQC. In the example I have included, I add these variables separately through a simple python script, which I want to avoid.

[2022-09-23 22:06] BenjaminRuston opened #1063 "remove zero tolerances for a couple composition related ctests"
the intel compiler is failing a couple composition ctest due to a zero tolerance being set

[2022-09-24 01:34] #1063 closed

[2022-09-26 15:03] ADCollard opened #1067 "[Bug] Input Observation Error incorrect for Radiances from gsi_ncdiag.py"
## Current behavior (describe the bug)
The input observation error produced by gsi_ncdiag.py is actually the output observation error for radiances.

The erroneous line is [here](https://github.com/JCSDA-internal/ioda-converters/blob/f6f3b0133fd658a5cac852a48ac3d0232e2c9a52/src/gsi-ncdiag/gsi_ncdiag.py#L1248
)
## To Reproduce

This will occur whenever the gsi_ncdiag.py converter is run for radianc

[2022-09-26 21:00] ClaraDraper-NOAA opened #1068 "Add observation depth to SMAP soil moisture IODA converter"
## Description

For UFS issue 1752 we are adding the ability to do soil level interpolation, so that the UFS can simulate the soil moisture over the same depths as is observed.  See https://github.com/JCSDA-internal/ufo/issues/1752

To do this, we need to add a vertical observation depth to the SMAP IODA files.

@YoulongXia-NOAA can you please add an observed depth variable to the SMAP soil moistu

[2022-09-26 22:08] YoulongXia-NOAA commented on #1068
@ClaraDraper-NOAA, based on ioda conventional table, a variable is defined as depthBelowSoilSurface. It fits to 0.025 m.

[2022-09-26 22:14] #1014 closed

[2022-09-26 22:42] BenjaminRuston commented on #1068
@YoulongXia-NOAA and @ClaraDraper-NOAA who wrote the converter?

I see these two are these the ones to look at:

smap9km_ssm2ioda.py
smap_ssm2ioda.py

[2022-09-26 22:49] #1052 closed

[2022-09-26 23:41] BenjaminRuston opened #1069 "common converters use single calling structure"
put a family of converters under a single calling structure to allow a more consistent experience when converting data

[2022-09-27 13:41] YoulongXia-NOAA commented on #1068
@BenjaminRuston, I wrote these two converters.  This is the reason @ClaraDraper-NOAA  assign this task to me.

[2022-09-27 20:35] srherbener commented on #1050
Sorry about the slow response - getting caught up in tasks for the upcoming release on Oct 7.

Let me see if I understand the request.

@ShastriPaturi you have created a YAML file for @rmclaren's bufr reader/converter that gets you to a ioda file that is good but it is still missing two variables that you want: PreQC/sea_water_temperature and ObsError/sea_water_temperature. The reason these are mi

[2022-09-28 01:07] ShastriPaturi commented on #1050
Thanks @sherbener. The 3rd paragraph is what is intended.Sent from my iPhoneOn Sep 27, 2022, at 4:36 PM, Stephen Herbener ***@***.***> wrote:﻿
Sorry about the slow response - getting caught up in tasks for the upcoming release on Oct 7.
Let me see if I understand the request.
@ShastriPaturi you have created a YAML file for @rmclaren's bufr reader/converter that gets you to a ioda file that is good

[2022-09-28 05:05] #990 closed

[2022-09-28 05:06] nicholasesposito commented on #973
The branch has been merged and the issue may be closed.

[2022-09-28 05:06] #973 closed

[2022-09-28 13:53] gmao-yzhu opened #1072 "ioda converter issue for gnssro obs testing file"
A problem was encountered when running a test on gnssro observation operator for the GMAO GEOS system.
We saw error message that nrecs != icount, and then the test aborted, but the ctest printed out “0 tests failed out of 2”.

nrecs and icount are calculated in ufo/src/ufo/operators/gnssro/BndNBAM/ufo_gnssro_bndnbam_mod.F90, I copy and paste related codes below:

nrecs   = obsspace_get_nrecs(obss)

[2022-09-28 15:05] gthompsnJCSDA commented on #1050
In my own opinion, there is NO need to give/assign values of PreQC and ObsError in a converter - unless something is known a priori about those data.  This is really the realm of UFO.  You can easily pick from a bunch of methods to assign the ObsError to a variable - there are many example YAMLs for this.  The PreQC value is completely a design of EMC and not really relevant if one proposes to set

[2022-09-28 15:33] rmclaren commented on #1050
@srherbener I think you understand things very well :) The current mechanism for adding globals adds the following section to the netcdf files:

[code]

I would have thought that UFO could make use of this data in some way.. especially for instances where you have a constant value that applies to each location of the data.

@gthompsnJCSDA @srherbener Thanks so much for your feedback as I really do

[2022-09-28 15:53] srherbener commented on #1050
@gthompsnJCSDA thanks for your feedback. I agree that since UFO can already handle missing PreQC and ObsError data, then that is a much better place to resolve this than in a ioda converter.

I agree with @gthompsnJCSDA's recommendation to leave the converter as is and use UFO features to resolve this issue.

[2022-09-28 15:56] BenjaminRuston commented on #1072
@gmao-yzhu are you planning to use this converter for your first implementation of JEDI, there are converters for the 6-hourly files of GNSS-RO data in NCEP BUFR

[2022-09-28 16:00] srherbener commented on #1050
@rmclaren I think the global attributes feature of the ioda (hdf5) data model is useful. I think it would help with clarity to call the feature in the bufr converter "global attribute" instead of "global variable" and have the global attribute feature be just a general (name, value) pair for specification in the YAML. Something like:
[code]

The ioda engines attributes support defining a shape for

[2022-09-28 16:03] hailingz commented on #1072
I have looked at the error message and found that error was caused by the "broken"  observations in the same profile. For example, the record_number of a "normal" IODA file would be "1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3,3,3,3,3,.......". The record_number of Yanqiu's data is like "1,1,1,1,2,2,2,2,1,1,2,2,2,2,2,2,1,1,1,1,3,3,3,3,3,3,3,3,......."

(assuming 10 observations per profile

[2022-09-28 16:21] srherbener commented on #1072
Here's some clarification and recommendation about this issue.

An ObsSpace object creates a C++ std::map data structure (named recidx_) that holds which locations from the input file belong to which records that were created from the `obsgrouping:` specs in the YAML. The std::map also keeps track of the sort order of the locations within a given record. Note that if the locations that belong to a

[2022-09-28 17:21] hailingz commented on #1072
Thank you so much @srherbener for your explanation. I was about to assign you.

[2022-09-28 17:25] weiwilliam commented on #987
@jeromebarre @mer-a-o Do you have model outputs with CO on Orion? I'm preparing the GeoVals files of TROPOMI CO for UFO unit-test. Thank you.

[2022-09-28 17:30] SarahLu-NOAA commented on #987
We can use UFS-RAQM.   Let me ping Brad.

[2022-09-28 17:34] weiwilliam commented on #987
@SarahLu-NOAA Sure, but it would have to be in the 6-tile format, which was created in the RESTART folder generally (not sure their workflow).

[2022-09-28 17:36] mer-a-o commented on #987
@weiwilliam yes, Orion is down today and tomorrow. I will point you to them on Friday. Meanwhile, can you use any of the files used by MOPITT CO tests?

[2022-09-28 17:40] mer-a-o commented on #987
@weiwilliam GCHP file here also have CO fields: https://github.com/JCSDA-internal/fv3-jedi-data/tree/develop/testinput_tier_1/inputs/GEOSChem_c12

[2022-09-28 17:40] SarahLu-NOAA commented on #987
@mer-a-o
Are the files for MOPITT CO tests from RRFS (regional UFS with CMAQ)?
Your CO files will work for Shih-Wei's unit test.

[2022-09-28 17:45] mer-a-o commented on #987
@SarahLu-NOAA No, I don't think the files on ufo are model dependent? I'm talking about https://github.com/JCSDA-internal/ufo-data/blob/develop/testinput_tier_1/mopitt_co_2020090318_m.nc4
We don't have Brad's UFS-CMAQ files on Orion. They are on S4.

[2022-09-28 17:46] weiwilliam commented on #987
@mer-a-o Thank you. I didn't notice Orion is down.
I think GCHP is a good option.
I must wait until Orion is back because my code is on Orion.

[2022-09-28 17:48] weiwilliam commented on #987
@mer-a-o I'm not sure if that works for TROPOMI. Do they have the same footprints?
I thought GeoVals also contains the lat/lon information.

[2022-09-28 17:50] SarahLu-NOAA commented on #987
@mer-a-o @weiwilliam
I see - @mer-a-o  you are talking MOPITT CO obs.
I'm responding to CO model output that Shih-Wei is asking.   GEOS-Chem output will work.
@weiwilliam, We do need to use UFS-RAQMs later for the project.

[2022-09-28 17:50] mer-a-o commented on #987
GeoVals file (out of the test) is https://github.com/JCSDA-internal/ufo-data/blob/develop/testinput_tier_1/mopitt_co_geoval_2020090318_m.nc4
https://github.com/JCSDA-internal/ufo-data/blob/develop/testinput_tier_1/mopitt_co_2020090318_m.nc4 is the input of the test?

[2022-09-28 17:57] weiwilliam commented on #987
@mer-a-o From my understanding, I think they are inputs for UFO test of mopitt_co. And I'll need to do the same things for tropomi_co, including converted tropomi_co data and corresponding GeoVals.
Do you know what will be tested in the UFO unit-test? I suddenly get confused.

[2022-09-28 18:06] mer-a-o commented on #987
@weiwilliam Sorry I think I'm confused myself! You are right, `mopitt_co_2020090318_m.nc4` is the obs file in ioda-format.

[2022-09-28 18:10] weiwilliam commented on #987
@mer-a-o No problem. I'm still learning each component in JEDI, please let me know if I misunderstood anything. 🙂

[2022-09-28 20:16] gmao-yzhu commented on #1072
@srherbener @hailingz @BenjaminRuston Thanks very much for your help and explanation. Doing the pre-sort of the incoming data in the gnssro converters sounds good to us. When we had a meeting with Hailing this morning, she showed us what she has done with sorting. That is very helpful. Jianjun is working on this now.

@BenjaminRuston Hailing showed us three converters (one is a converter from WMO

[2022-09-28 20:37] #1061 closed

[2022-09-28 21:28] rmclaren commented on #1050
@srherbener No type? When I create the global attributes I use code that looks like this:

[code]

Where the function exists inside a template class GlobalDescription<T> where the type T is determined from the "type" field the user specifies in the YAML file.

[2022-09-28 22:07] srherbener commented on #1050
@rmclaren sorry, you will need a type specification in the YAML along with the name and value specs.

I'm not aware of eckit::Configuration being able to infer data types, so I think the idea would be, as you say, to read in the type spec and use that to set the type for reading the value spec out of the YAML file as well as what to use for the templated _addTo function call.

[2022-09-29 02:19] gmao-jjin3 commented on #1072
@danholdaway @gmao-yzhu Here is a what I am going to do at the end of the function "def grabobsidx(obsdata, platform, var)" in gsi_ncdiag.py.  Basically, it groups 'record_number' as @hailingz 's Fortran code.

[code]

[2022-09-29 13:37] YoulongXia-NOAA commented on #1068
Than you for assigning me this task, @ClaraDraper-NOAA. I will work to add soil depth in both SMAP converters.  Yesterday I cannot build iod-bundle on hera by using ioda and iodaconv develop branch, asking my colleagues to help.  When I have a test, I will create a PR for your review.

[2022-09-29 15:41] rmclaren opened #1073 "Change merging behavior of Multi Query fields."
Multi queries that look like this [*/CLONH, */CLON] currently have the behavior that it picks the value based on whether the sub-query exists within the currently loaded subset or not. (For example: if the current subset is NC000001 and the field */CLONH does not exist within that subset it will choose */CLON). It will prefer */CLONH even if it has the MissingValue value and */CLON also exists and

[2022-09-29 17:16] #1041 closed

[2022-09-29 19:34] #978 closed

[2022-09-29 19:34] #1047 closed

[2022-09-29 19:34] #1020 closed

[2022-09-29 19:34] #1031 closed

[2022-09-29 19:35] #976 closed

[2022-09-29 19:35] #977 closed

[2022-09-29 19:35] #965 closed

[2022-09-29 19:39] PraveenKumar-NOAA commented on #1031
@rmclaren thank you.

[2022-09-29 20:35] YoulongXia-NOAA commented on #1020
Thank you @rmclaren . Happy to see the issue sloved.

[2022-10-03 19:09] #1067 closed

[2022-10-04 16:31] ADCollard commented on #1067
Editing to document that the portion of UFO code that this affects is in [FinalCheck.cc](https://github.com/JCSDA-internal/ufo/blob/develop/src/ufo/filters/FinalCheck.cc)

[code]

[2022-10-04 19:00] PraveenKumar-NOAA commented on #944
This is done and a PR has been merged to the ioda-converters feature/query_cxx branch.

[2022-10-04 19:00] #944 closed

[2022-10-05 15:06] travissluka commented on #1050
@ShastriPaturi @guillaumevernieres as a follow up to our conversation this morning, with regard to this issue:
I agree that we should not need to add `ObsError` and `PreQc` during the ioda converter step if they do not exist. We can simply set those at runtime in the UFO yaml file.

To test, I removed `ObsError` and `PreQc` from the ADT obs used by the soca ctest, and added the following filter:
[

[2022-10-05 15:14] ShastriPaturi commented on #1050
Thanks @travissluka thank you.
Will try and let you know.

[2022-10-06 16:50] gthompsnJCSDA commented on #975
I would like to suggest we close this issue number and consolidate it entirely within issue #945

I will continue discussion of an idea over there.  @emilyhcliu  if you agree, would you please close this issue allowing us to move ahead with solutions in the other issue?

[2022-10-06 17:00] gthompsnJCSDA commented on #945
If there is seriously no other full date info embedded inside the bufr, that is pretty non-sensical.  @PraveenKumar-NOAA  Could you point me to a file in the ```test/testinput``` area of either UFO or IODA where I can try searching as well.  Otherwise, a solution eluded to by @emilyhcliu  will have to be undertaken where we have the "exports" section of the yaml specifically give an optional ```re

[2022-10-06 17:28] gthompsnJCSDA opened #1074 "Create a simple composite of WMO Block and Station numbers (BUFR) into 5-character string for station_id"
## Description

In BUFR input data, the year, month, day, etc. is each in a separate mnemonic/variable and the ```timestamp``` construct was used to create a simpler ```dateTime``` variable needed in IODA (e.g., 2019-11-24T11:34:29Z).  In a similar context, the WMO 2-digit block number comes as one BUFR variable and the 3-digit station number comes as another variable.  We should create a composit

[2022-10-06 17:45] srherbener commented on #945
DHR, RPT and HRDR all seem to be expressed as an offset in hours from a given reference point. So negative values are okay if this is correct.

DHR and RPT seem to be the same information with their difference being due to the use of a different reference time.

HRDR values don't seem to correspond to either DHR or RPT, so I'm guessing that HRDR are perhaps refinements to more accurately represent

[2022-10-06 17:46] PraveenKumar-NOAA commented on #945
@gthompsnJCSDA thank you, I will try out your suggested solution. Also, I need to check if HRDR/DHR found in other datasets.

Please look at the following file in the ioda-converters for adpupa prepbufr:  https://github.com/JCSDA-internal/ioda-converters/blob/develop/test/testinput/bufr_ncep_prepbufr_adpupa.yaml.

[2022-10-06 17:53] PraveenKumar-NOAA commented on #945
@srherbener thank you.

[2022-10-07 13:57] PraveenKumar-NOAA commented on #945
@gthompsnJCSDA @srherbener I created a test yaml as suggested by Greg, but it failed to work with the bufr2ioda.x.

**YAML**
observations:
  - obs space:
      name: bufr

      obsdatain: "/scratch1/NCEPDEV/da/Praveen.Kumar/JEDI/IODA_CONVR_ADPUPA_PB_2020110112/testinput/gdas.t12z.adpupa.prepbufr"

      exports:
        group_by_variable: prepbufrDataLvlCategory
        variables:
          times

[2022-10-07 14:10] PraveenKumar-NOAA commented on #945
@srherbener ok, thank you.

[2022-10-10 13:40] ShastriPaturi commented on #1050
@travissluka, adding the filter to obs yaml file as you suggested passes the 3dvar but I had to use the nco command ncrename to rename the dimensions from "Location" to "nlocs".
The IODA bufr file does have "Location" instead of "nlocs" as dimensions. @rmclaren is there a way to rename them in the yaml file?

[2022-10-10 14:22] rmclaren commented on #1050
@ShastriPaturi No there is not. We used to call the "Location" variable "nlocs" but the decision was made to standardize on the term "Location". So the primary index will be known as "Location" going forward.

[2022-10-10 14:24] ShastriPaturi commented on #1050
Thanks @rmclaren.

[2022-10-10 14:48] ShastriPaturi commented on #1050
"The only solution we could adopt in the interim is to change back those two dimension names back to nlocs and nchans and get it back into the develop branch."
This will be helpful.

[2022-10-12 19:25] gthompsnJCSDA opened #1077 "Adopt newer ```Query``` method for ```bufr2ioda.x``` for various converters (list in description)"
## Description
When Ron McLaren's ```feature/query_cxx``` branch was merged to develop, some YAML files were left out of the updating, particularly those using WMO-formatted BUFR rather than prepBUFR. The files that were skipped are now bypassed in the ctests.  This issue is created to resolve those gaps and re-enable all prior ctests, therefore the YAML files as well as the test reference files n

[2022-10-12 19:36] gthompsnJCSDA commented on #1077
@rmclaren   I tagged you in my issue only as a reminder of which of the WMO-formatted bufr files cause ```bufr2ioda.x``` to fail.  Could you please put in the dependent issue for which you are making the code changes to fix the problem?

[2022-10-12 19:43] gthompsnJCSDA commented on #1050
I am going to close out this issue, because the focus has shifted entirely.  Another one could be opened that simply tries to change the ```Location``` variable back to ```nlocs``` which also requires updating a rather massive number of ```testoutput``` reference files.  The effort to change the code and reference files _may not be worth it_ if we can adopt the **JEDI Data Conventions** soon enoug

[2022-10-12 19:43] #1050 closed

[2022-10-13 17:44] ShastriPaturi opened #1078 "converter for AMSR-2 sea ice concentration"
Create a converter for AMSR-2 sea-ice concentration available in NCEP data tanks.

[2022-10-14 18:18] ShastriPaturi opened #1080 "converter for L4 sea ice concentration from NSIDC CDR"
## Description
Create a converter for L4 sea ice concentration from NSIDC CDR

## Acceptance Criteria (Definition of Done)
Pass ctest

[2022-10-14 19:04] mjhossen opened #1082 "Convert L4 sea ice thickness from Copernicus"
## Description
Create a converter for L4 sea ice thickness from Copernicus

## Acceptance critera
- Pass ctest

[2022-10-17 15:36] rmclaren opened #1084 "Query: WMO files that include multiple subsets are not read correctly."
There is an issue for WMO files that include more than one kind of subset. NCEP files store subset meta data information in the first message (tree data for all subsets). WMO files do not have this feature, therefor you can't just read the table once and reuse the information. You have to be a little smarter about reading and caching table information in each message subset... So currently WMO buf

[2022-10-17 19:18] jeromebarre opened #1085 "Test and implement possible changes for the OMPS O3 converter"
## Description
Test and run the OMPS converter for O3 columns https://github.com/JCSDA-internal/ioda-converters/blob/develop/src/compo/ompsnm_o3_nc2ioda.py

If needed, implement the necessary changes to have this working with `ColumnRetrieval` operator in UFO.
yaml examples can be found in https://github.com/JCSDA-internal/ufo/blob/develop/test/testinput/unit_tests/operators/tropomi_no2.yaml

Oper

[2022-10-17 20:59] gthompsnJCSDA commented on #945
For progress, this issue is being worked on via ```feature/prepbufr_timestamp```

[2022-10-17 22:34] gibbsp commented on #1069
@BenjaminRuston Can we update this issue for release 2? What is the status?

[2022-10-17 23:32] BenjaminRuston commented on #1069
@gibbsp was letting infrastructure team finish release, pulling the thread

[2022-10-18 00:41] gthompsnJCSDA commented on #945
@PraveenKumar-NOAA   There is a serious new wrinkle in this mess.  The HRDR variable is TWO-dimensional, not one-dimensional.  Since it comes with some sonde data, the first dimension is for location and the second is for level as the sonde ascends.  This completely STINKS.  We have to create the new destination variable as either a 1D or 2D variable to be safe and re-work the logic where the code

[2022-10-18 12:58] gthompsnJCSDA commented on #945
I do not believe that will suffice because then you have a single time for each sounding location, not a series of times as the balloons ascend.  So we need to solve this correctly with ```HRDR```.

[2022-10-18 18:36] rmclaren commented on #1084
Fun fact. WMO YAML file for subsets with specific names are not all the same. So for example **MSTTB001** could be any of the following:

**AMDARSTD** ACRN OSQN LTLONH CLATH CLONH YYMMDD YEAR MNTH DAYS HHMMSS HOUR MINU SECO FLVLST DPOF WDIR WSPD DGOT MDEVG TMDB INTV

**ASDSNOLL** ACRN YYMMDD YEAR MNTH DAYS HHMMSS HOUR MINU SECO LTLONH CLATH CLONH POAF {AMDARNOL} AMDARNOL FLVLST WDIR WSPD ROLQ TMDB

[2022-10-19 13:35] jeromebarre commented on #986
version of the converter to be tested in UFO is `feature/tropess-co`
https://github.com/JCSDA-internal/ioda-converters/tree/feature/tropess-co

[2022-10-20 15:57] PraveenKumar-NOAA opened #1088 "Bufr2ioda can not handle bufr variables for more than ONE-dimension"
## Description

- There are only three time-related mnemonics in ADPUPA/prepbufr named DHR, RPT, and HRDR, which report time in HOURS. The variables DHR and RPT are ONE-dimensional, while HRDR is TWO-dimensional. For HRDR, the first dimension is for location and the second is for level as the sonde ascends. Hence, HRDR is needed to be used in the creation of the IODA DateTime variable.

- Most tim

[2022-10-20 15:59] PraveenKumar-NOAA commented on #945
@gthompsnJCSDA I spoke with @rmclaren and created a new issue (#1088) for him to deal with the 2D variable(s).

[2022-10-21 21:53] gthompsnJCSDA commented on #1088
I am pretty certain this can now be closed.  Ron resolved this via the work of PR #1090 and most BUFR mnemonics were already working correctly in 2D except the elements going into ```dateTime```, therefore I am closing this issue.  Re-open if you believe it is an error to close it.

[2022-10-21 21:53] #1088 closed

[2022-10-21 23:57] PraveenKumar-NOAA commented on #1088
Good, thanks.

[2022-10-24 14:26] #1068 closed

[2022-10-24 16:20] #1078 closed

[2022-10-24 17:28] #1080 closed

[2022-10-25 16:53] PraveenKumar-NOAA commented on #913
This subset does not directly belong to ADPUPA data, and hence I am closing this issue.

[2022-10-25 16:53] #913 closed

[2022-10-25 16:57] PraveenKumar-NOAA commented on #599
I am closing this issue, as I am working on this within https://github.com/NOAA-EMC/JEDI-T2O.

[2022-10-25 16:57] #599 closed

[2022-10-26 20:12] gthompsnJCSDA opened #1092 "Legacy-text radiosonde data has lat/lon of launch location only but we need drifting in air trajectory of balloon"
## Description

The WMO TEMP format legacy text for radiosondes contains only a station identifier (WMO 5-digit number), the day of the month and the hour (effectively synoptic hour such as 00 or 12z).  The existing ioda-converter uses a lookup table for station number to lat/lon but we can use the height of balloon and prior winds to estimate the trajectory by assuming a 5 m/s ascent rate and an

[2022-10-26 21:06] BenjaminRuston commented on #1045
Greg since we have IASI in R2D2 we should close and open something new when next round of conversion starts

[2022-10-26 21:06] #1045 closed

[2022-10-27 20:29] mjhossen opened #1094 "Create converter for L2 CryoSat-2 ice freeboard data from NESDIS"
## Description
Create a converter for L2 CryoSat-2 ice freeboard data from NESDIS. The data can be found in the link
https://www.star.nesdis.noaa.gov/pub/socd4/lsa/fb_arctic_examples/

[2022-10-28 00:54] #1092 closed

[2022-10-28 21:44] BenjaminRuston opened #1095 "AIRS converter to IODA for full resolution NASA data"
Write a IODA converter for the full resolution NASA AIRS data.  This data at present is available with a NASA Earth Explorer account from:

https://airsl1.gesdisc.eosdis.nasa.gov/data/Aqua_AIRS_Level1/AIRIBRAD.005

[2022-10-31 21:45] fabiolrdiniz opened #1096 "Add the option to write obserror_covariances into obserror2ioda"
## Description
Currently, the `obserror2ioda` program saves `obserror_correlations`. The code writes it regardless of what is passed in the input file (correlation or covariance). For initial tests purposes, it would be nice to add an option to write `obserror_covariances` (and let JEDI convert it to correlations on the fly). This would allow one to start testing its usage in JEDI using the same f

[2022-11-02 14:33] #1096 closed

[2022-11-02 14:34] YoulongXia-NOAA opened #1098 "WIGOS (WGOSIDS) for yaml tests with bufr2ioda.x"
## Description

The newly produced bufr files including WIGOS IDs will be tested using yaml files and bufr2ioda.x via selecting some of the following datasets:
gdas.t00z.adpsfc.tm00.bufr_d, gdas.t00z.aircar.tm00.bufr_d, gdas.t00z.aircft.tm00.bufr_d, gdas.t00z.sfcshp.tm00.bufr_d, gdas.t00z.saldrn.tm00.bufr_d, and gdas.t00z.subpfl.tm00.bufr_d.

The tests will performed for RPID, WGOSLID with yaml fi

[2022-11-02 16:12] BenjaminRuston opened #1099 "hdf5 converter for ATMS convert to epoch"
The python ioda converter for ATMS data currently uses a string datetime object.   This should be updated to a new datetime that contains the number of seconds elapsed since a reference epoch, currently set to 1970-01-01T00:00:00Z.

[2022-11-02 17:20] emilyhcliu opened #1101 "NOAA EMC BUFR Converter for AOP22"
## Description
This Epic contains EMC contributions to the BUFR converter in the following two categories for AOP22
- [BUFR Converter - Functionality Enhancement (Code Development)](https://github.com/JCSDA-internal/ioda-converters/issues/969)
- [BUFR Converter - YAML Development, Test and Validation](https://github.com/JCSDA-internal/ioda-converters/issues/1102)

## Requirements

## Acceptance Cr

[2022-11-02 17:48] emilyhcliu opened #1102 "NOAA EMC BUFR Converter - YAML Development, Test, and Validation for AOP22"
## Description
BUFR Converter development related to YAML development, Test, and Validation

## Requirements

## Acceptance Criteria (Definition of Done)

## Dependencies

[2022-11-02 21:59] climbfuji commented on #1099
@BenjaminRuston For my curiosity, is the atms converter the only one still using string datetime objects? I am asking because I see these skylab crashes on systems using spack-stack when atms observations are included. If I exclude atms observations but leave all other obs types in place, the experiments run fine.

[2022-11-03 00:44] BenjaminRuston commented on #1099
@climbfuji likely not the only one, so this is why EricL modification is so key can reuse the `get_epoch_time` for the other converters

[2022-11-03 13:40] gthompsnJCSDA opened #1104 "Create IODA files for GOES data to use in Skylab_v3.0"
## Description

Create IODA files from GOES data using Eric's python ioda-converter for time periods of 2021Aug01-31 and 2022Feb15-Mar15.
It will be ideal to have multi-resolution in space and time so we can test in a rigorous scientific way for which combination improves the obs-analysis.  However, the original resolution in space (about 2km) and time (full-disk scans about every 15 mins) is like

[2022-11-04 19:34] gthompsnJCSDA opened #1105 "Update GOES converter (python) to get MetaData info from file internal attributes/variables instead of filenames"
## Description

The first version of the GOES (python) converter does a good job but the IODA output files were created in the exact time as we switched from v1 to v2 contents.  In an effort to simplify the next steps, improvements can be made to improve the following:
eliminate ```VarMetaData``` group
eliminate extraneous variables like ```nstring``` and ```ndatetime```
update the ```dateTime```

[2022-11-04 23:02] BenjaminRuston opened #1107 "remove unnecessary netCDF4 library dependence"
the converter does not have a netCDF4 library dependence should remove it

[2022-11-06 16:27] #1107 closed

[2022-11-07 18:30] #1105 closed

[2022-11-08 15:41] emilyhcliu opened #1110 "Add the functionality of converting scaled radiance to radiance for Hyperspectral IR data"
## Description
Add the capability of converting scaled radiance to unscaled radiance for Hyperspectral IR data.
Feature branch : [feature/iasi](https://github.com/JCSDA-internal/ioda-converters/tree/feature/iasi)

IASI channels are divided into 10 channel bands.
The scaling factor (cscale(3) from bufr is a function of 10 channel bands
The start (cscale(1)) and end  (cscale(2)) channels  of the 10

[2022-11-08 17:14] hailingz commented on #1072
Closing this because cause was found. We provided the converters used in obs team.

[2022-11-10 16:01] PraveenKumar-NOAA opened #1113 "Bufr Mnemonics/Tables for the High-Resolution Radiosondes"
## Description
The high-resolution radiosondes are in tanks b002/xx10*. There are a total of five subsets:

- NC002101 -- MSG TYPE 002-101  RAWINSONDE - FIXED LAND
- NC002102 -- MSG TYPE 002-102  RAWINSONDE - MOBIL LAND
- NC002103 -- A51103 | MSG TYPE 002-103  RAWINSONDE - SHIP
- NC002104 -- A51104 | MSG TYPE 002-104  DROPWINSONDE
- NC002105 -- A51105 | MSG TYPE 002-105  PIBAL

These are very simi

[2022-11-10 16:25] PraveenKumar-NOAA opened #1114 "Write/Test Example YAMLs Converting High-Resolution Radiosondes BUFR to IODA"
## Description

**The purpose of this issue is to:**

- Write example YAMLs  that can convert the High-Resolution Radiosondes BUFR files, using mnemonics determined in #1113 for the following subsets:

1. NC002101 -- MSG TYPE 002-101 RAWINSONDE - FIXED LAND
2. NC002102 -- MSG TYPE 002-102 RAWINSONDE - MOBIL LAND
3. NC002103 -- A51103 | MSG TYPE 002-103 RAWINSONDE - SHIP
4. NC002104 -- A51104 | MSG

[2022-11-10 16:48] #945 closed

[2022-11-10 16:48] #975 closed

[2022-11-11 16:00] BenjaminRuston opened #1115 "metar convert enable multiple files"
the surface metar reports converter of a comma separated values input does not allow multiple files on the call

[2022-11-11 16:21] BenjaminRuston opened #1117 "gnssro decode adapt for Spire CSDAP"
there is a subtle difference in the files from the NASA CSDAP of Spire data.  This separates from all other bufr encoded sensors .  the change appears to be minor

[2022-11-14 13:07] DJDavies2 opened #1120 "cmake failure: bufr::bufr_d not found"
## Current behavior (describe the bug)

Trying to add ioda-converters to a bundle fails in ecbuild step like this:

CMake Error at /spice/data/users/darth/opt/bb-stack/spice_gnu-v12/share/ecbuild/cmake/ecbuild_add_executable.cmake:241 (target_link_libraries):
  Target "print_queries.x" links to:

    bufr::bufr_d

  but the target was not found.  Possible reasons include:

    * There is a typo in

[2022-11-14 15:23] climbfuji commented on #1120
There is a fair bit of logic in https://github.com/JCSDA-internal/ioda-converters/blob/dcdf6102f1fd5dee65c52c7eef20c9c75e825160/CMakeLists.txt#L80-L150
that deals with having or not having bufr. Your error points to `tools/bufr`, and looking at `tools/CMakeLists.txt`, `bufr` is a hard requirement there. One would have to modify this logic to skip the `bufr` tools (hopefully this doesn't break code

[2022-11-14 16:55] #1115 closed

[2022-11-19 04:17] gmao-jjin3 commented on #1072
This issue now can be solved by the updated "gsi_ncdiag.py" in IODAconv: https://github.com/JCSDA-internal/ioda-converters/pull/1089 .

[2022-11-19 04:25] #1072 closed