[2018-02-22 22:08] srherbener opened #1 "Poor execution time"
Using a sample prepbufr file (prepbufr.gdas.20160304.t06z.nr.48h, 62MB) it takes bufr2nc.py 1.5 hours to convert AIRCFT and AIRCAR data. The total number of AIRCFT and AIRCAR subsets is 2268 so it seems that the conversion should run much, much faster (perhaps under a minute).

[2018-02-22 22:10] srherbener commented on #1
Tests show that the underlying libbufr.a routines spend most of the time in extracting data pieces (corresponding to a list of mnemonics) out of the BUFR subsets. Not sure yet, why this process is slow.

[2018-03-06 00:14] srherbener commented on #1
Further tests point out that the reading of event data versus individual data from the prepBUFR file is slower, which is to be expected, and that the Python/Fortran interface appears to be a bottleneck.

Four test cases were run that visit every subset in a file and read the "TOB" value out of each of those subsets. The test cases exercise the combinations of Fortran vs. Python and individual data

[2018-03-12 21:01] srherbener commented on #1
We have decided to address the performance issue through two modifications to bufr2nc.py

- Change method of calling read_subset() once per mnemonic to calling read_subset() with lists of mnemonics in order to minimize the total number of times read_subset() is called.
- Add an option (-m) that specifies the maximum number of messages that will be processed. This will allow us to get enough observ

[2018-03-12 21:01] #1 closed

[2018-04-13 23:10] srherbener opened #17 "Add unit tests"
Put data files in git-lfs.

Data files:
    prepbufr.gdas.2018020100
    1bamua.gdas.2018020100
    gpsro.gdas.2018020100

Corresponding "correct" results are in:
    test.sondes.nc
    test.aircraft.nc
    test.amsua.nc
    test.gpsro.nc

Do this after moving this repo into JCSDA/ioda

[2018-04-13 23:13] srherbener opened #18 "Move existing test code to utilities"
Create a utils directory - sibling of src and test

Move bufrtest.py and fortran code to utils (these are not test programs)

Do this before merging this repo into JCSDA/ioda

[2018-04-13 23:15] srherbener opened #19 "Put prepbufr2ncSG.py in src/orig"
This is Scott's prepBUFR processing script. It shows how to get time information from BUFR mnemonics DHR and HRDR.

[2018-04-13 23:16] srherbener opened #20 "Put BUFR tables, subset excerpts into a docs or info directory"
These are very handy references for developers.

[2018-04-16 19:00] #18 closed

[2018-04-16 19:00] #19 closed

[2018-04-23 16:42] csdraper opened #24 "Include upftbv output in gps files"
The output of this call is needed to screen out bad profiles.  Fortran code below (obs flagged lone will be screened out)

        if ((said == 4).or.(said == 3).or.(said == 421).or.(said == 440).or.&
            (said == 821)) then ! GRAS SAF processing
           call upftbv(lnbufr,nemo,qfro,mxib,ibit,nib)
           lone = .false.
             if(nib > 0) then
               do i=1,nib

[2018-04-23 18:03] srherbener opened #26 "Need to modify thinning (-m option)"
Taking the first n messages is not a good way to thin observations when dealing with satellite obs. A single swath will create a sequence of messages so taking the first n messages may not effectively sample the various swaths. It would be better to take every n-th message instead.

[2018-04-23 18:06] srherbener opened #27 "Change to recording absolute time"
In UFO we want to end up with absolute time. In order to avoid multiple time conversions, record absolute time in the output netcdf. Raw BUFR should have absolute time to begin with (YEAR, MNTH, etc.), and prepBUFR will have time offsets (which can be converted).

Store the date and time in two 4-byte integers:
* Date: YYYYMMDD, eg. 20180415
* Time: HHMMSS, eg. 000000 (for 00Z)

[2018-04-23 18:12] srherbener opened #28 "Test for empty data value breaks"
Near line 523 of bufr2ncObsTypes.py, there is the following code:

[code]

The Vdata.size method returns "empty" instead of zero in certain cases. "Empty" means the tuple () in this case.
* Theia, Python 2.7.13, returns "empty"
* My iMac and Clara's iMac, Python 2.7.14, returns zero

[2018-04-25 21:29] srherbener opened #29 "Create April 15 obs netcdf files"
Use the April 15, 2018, 00Z files that Clara gave me.

Create two sets of netcdf files
* Small
    * Thin out the obs
    * Place in JCSDA/ufo using git-LFS
    * For unit testing
* Large
    * Capture all obs
    * Place in Amazon cloud
    * For system level testing

[2018-08-08 14:36] #24 closed

[2018-08-08 14:36] #26 closed

[2018-08-08 14:36] #27 closed

[2018-08-08 14:36] #28 closed

[2018-08-08 14:42] srherbener opened #40 "Change to CF netcdf naming conventions"
Need to use standard naming, and CF conventions covers a lot already. There are no CF names for certain quantities, so in cases like these invent names that are "CF-like". For example, there are no names for obs error values and obs qc marks. In the case for T (CF name air_temperature), just append appropriate suffixes: air_temperatue_err and air_temperature_qc.

Use the following CF names for var

[2018-08-08 14:47] srherbener opened #41 "Organize netcdf into tabular format"
The idea is to make the format similar to ODB so that the two file formats (netcdf and ODB) are more easily interchanged.

Initial thought for the format is:
[code]

Place nobs, nlocs, nvars, etc in the metadata for each record. This will help the IODA reader/distributor keep track of how many obs, locs, etc. each MPI process has.

Place extra dimension name (nchans, nlevs, etc) in metadata.

Make

[2018-08-08 15:01] srherbener opened #42 "Place the conversion process on AWS"
Load up the following on AWS:
* Apr 15 BUFR files
* Apr 15 Marine obs netcdf files
* Converted output files
    * Netcdf
    * ODB1 (directory structure)
    * ODB2

Place the conversion process on AWS

This will be good practice for learning how to organize and handle big data when they come in.

[2018-08-08 15:06] srherbener commented on #29
Marine obs files that are currently in the develop branches are the April 15 files. They are netcdf and will need to be reformatted into that which bufr2nc.py produces.

[2018-08-08 15:19] srherbener opened #43 "Apply obs filters during the conversion"
Appropriate obs filters at the bufr2nc level appear to be:
* remove missing data records

[2018-12-03 21:15] #29 closed

[2018-12-03 21:16] #40 closed

[2018-12-03 21:34] srherbener commented on #41
We've decided to place the focus on netcdf (since we don't have access to ODB1) so we will want to optimize using netcdf capabilities (as opposed to make the netcdf look similar to ODB).

The performance notes in this issue are still relevant so they will be copied to a new issue.

[2018-12-03 21:34] #41 closed

[2018-12-03 21:35] srherbener opened #50 "Improve performance of bufr to netcdf python scripts."
Make sure the conversion is fast and the netcdf file size is minimized.
* netcdf groups may be useful for reducing size
* Clara tried converting 1bamua.gdas.2018041500 and it ran very slowly and crashed after a long time
* I experimented with 1bamua.gdas.2018020100
    * 379,774 obs total
    * After running for 2 days, it was only about 1/2 completed (181,700 obs converted)
    * Removed "replica

[2018-12-03 21:42] srherbener opened #51 "Fix all string vector data in output netcdf files"
The Fortran netcdf interface is picky about vectors of strings. These need to be 2D character arrays of which elements are datatype 'c'. The 'S' datatype does not work properly with the Fortran interface, even if the data type is one character ('S1').

[2018-12-03 21:49] srherbener opened #52 "Include surface height with AMSU-A obs type"
Clara has built a new AMSU-A data set that includes surface height.

Anna is picking up the GSI flow and will be regenerating AMSU-A. Perhaps it's best to wait until Anna gets a result. Then we can check that surface height is included.

[2018-12-03 21:57] srherbener opened #53 "Handle ocean obs for WAVES simulation"
Stylianos has sample wave spectra obs data (insitu and satellite measurements) that contains a 2D array of floating point numbers per location. The netcdf obs file will need to be enhanced (as well as the ObsSpace in-memory store) to handle a 2D array element for each location.

[2018-12-03 22:00] srherbener opened #54 "Investigate Python/netcdf utilities"
Rahul recommended that I look at the following utilities for Python and netcdf:
* nco
    * brew install nco
    * utilities for editing netcdf
* PyTables
    * based on HDF5
    * useful for obs handling
* xarrays
    * arrays with labeling

- [x] nco
- [ ] PyTables
- [ ] xarrays
- [ ] pandas

[2018-12-03 22:20] srherbener commented on #50
There is a BUFR to netcdf converter in github called "pytroll/python-bufr". There is a reference to this converter on the NCEP website. Looks like they wrote their own BUFR parser in C.
* Faster than the Fortran parser (bufrlib)?
* Is this open source?

[2018-12-03 23:15] ytremolet commented on #50
Another set of open source tools that could be useful is ecCodes. See:
https://confluence.ecmwf.int/display/ECC

[2018-12-11 19:58] srherbener opened #58 "Integration of multiple conversion paths"
Conversion goes from various file formats to IODA netcdf. We currently have conversion paths that go from the following input formats:
* BUFR
* GSI ncdiag
* Met Office ODB API
* Marine profiles
* GNSSRO

The GNSSRO path is a Fortran program using the libbufr.a library. All others are Python scripts. These paths have come from various contributors.

All of these need to write out a IODA netcdf file

[2018-12-11 20:04] srherbener opened #59 "Make sure ObsError is actual error, not inverted error"
Some sources (eg, GSI ncdiag) provide 1/error (inverted error) instead of actual error. We want actual error in the IODA netcdf file.

There is a tendency for inverted error datasets to use zero for a missing value. Have to look for this before taking reciprocal so that we don't end up with Infinity values in the netcdf file.

[2018-12-11 20:09] srherbener commented on #58
GNSSRO notes:
* Converter goes from BUFR to IODA netcdf
* Fortran code instead of Python
    * Need access to libbufr.a
* Francois provide a sample BUFR file so we can test the Fortran code

[2019-02-04 22:06] srherbener commented on #17
Create a coding norms test that runs a python checker:
* pylint
* autopep8

[2019-02-20 16:28] guillaumevernieres opened #76 "Make use of the NcWriter python class in the marine converters"
Use @srherbener 's writer class to simplify the eventual switch to odb.

[2019-02-22 17:59] CoryMartin-NOAA opened #77 "Utility to Convert VIIRS AOD netCDF files from NESDIS/CLASS to IODA netCDF format"
May also include thinning/superobbing capabilities depending on downstream availability

[2019-02-22 19:27] coryrmartin commented on #77
See branch feature/viirs2ioda for progress

[2019-03-06 03:56] flampouris opened #80 "converter from BUFR to netcdf for the marine obs at the NCEP tanks."
The code is at feature/bufrShips_001001_sf

[2019-03-06 15:52] #80 closed

[2019-03-19 19:57] flampouris opened #84 "Bug at def bufr_float_to_actual?"
Instead of using the NetCDF variable names for the time, the BUFR variable names should be used because the BUFR variable names are relatively constant. The NetCDF ones are user-defined...

At line 403 of the source code of bufr2ncObsTypes.py, instead of:

OutVals[VarSpec[0]] = BufrFloatToActual(Bval, VarSpec[2])

the code should be:

OutVals[VarSpec[1]] = ...

Otherwise, at the def calc_obs_date_

[2019-03-21 15:06] flampouris commented on #84
A new branch is created (bugfix/ValSpec-sf), with the update. It is tested successfully with two examples.

[2019-03-21 20:35] flampouris opened #86 "Marine CS - Unified converted from BUFR to NC4 for all the observations that have the BUFR table embedded."
During the dumping to the observations tanks, NCEP adds the BUFR tables.

The unified converter reads the tables from the observation files, creates a dictionary from BUFR to NC and uses it to convert them to NC4.

This piece of code is built on top of the bufr2nc.py example and it will probably replace everything else.

[2019-03-21 21:03] flampouris commented on #86
@srherbener and @svahl991

We ( @DeannaSpindler mainly ) created the ncep_classes.py (see the feature/ncepAllobs branch).  It's one class that almost all the information that is needed for importing the observations is some kind of variable, retrievable from the observation files.

The main advantage of this example that we won't need any other classes for any observation in BUFR or prepBUFR forma

[2019-03-22 14:16] srherbener commented on #86
@flampouris, @DeannaSpindler and @svahl991

If I understand what you've done, it looks like you dump out the BUFR table information which contains the variables, units, descriptions etc. and use that to form the list of items you want to convert (by calling the existing conversion method in bufr2nc.py). And the idea here is by using this BUFR table process, there is no need to add more classes to

[2019-03-25 17:16] #76 closed

[2019-03-25 17:16] travissluka commented on #76
to be handled by other independent issues

[2019-03-25 17:17] HamidehGMAO opened #87 "Marin cs 2019_ SSS converter"
make a ioda converter for the JPL SSS data

[2019-03-25 17:19] ShastriPaturi opened #88 "Converting NESDIS SST with time window"

[2019-03-25 17:23] travissluka opened #89 "read HGODAS formatted observations"
read the ADT / SST / insitu T&S observations that are used by the hybrid-godas system

[2019-03-25 17:25] ShastriPaturi commented on #88
marine code sprint

[2019-03-25 17:29] guillaumevernieres opened #90 "RADS to ioda converter for ADT"

[2019-03-25 17:35] aerorahul opened #91 "Marine CS - Adopt FNMOC converters to use NCWriter"
This includes profiles, surface drifters.

[2019-03-26 17:20] flampouris opened #100 "nc_writer able to write metadata"
Currently, it is impossible to write metadata into the nc ioda compatible files.

[2019-03-26 19:25] #89 closed

[2019-03-26 21:13] guillaumevernieres opened #103 "Marine cs: ioda converter for emc sea-ice fraction"

[2019-03-27 06:15] aerorahul opened #104 "Converter for GMAO ocean observations"

[2019-03-27 15:18] flampouris commented on #80
@srherbener @DeannaSpindler
I think that we can read all the (marine) BUFR data. There is a small issue with the dict when two variables have exactly the same description but different BUFR mnemonic, e.g. CLATH and DLATH.

The code is  feature/mcs-NcepBufr-sf

[2019-03-27 19:11] shlyaeva opened #107 "Fix GSI ncdiag -> ioda/ufo converter scripts to use NcWriter"
Currently GSI ncdiag -> ioda/ufo obs/geovals files converter scripts do not use NcWriter.
It would be beneficial to use NcWriter (in that case if the ioda file format changes we won't have to change the scripts).

[2019-03-27 20:51] ADCollard commented on #107
OK, help me out here.   What is NCWriter and where do I find it?

I might re-assign to Cory!

ADC

[2019-03-27 20:57] CoryMartin-NOAA commented on #107
I believe it's part of the IODA-converters python library, which I guess since I commented means I'm volunteering myself? haha

[2019-03-27 21:01] ADCollard commented on #107
Yes, well volunteered Cory.

[2019-04-01 17:00] CoryMartin-NOAA opened #119 "Rewrite GSI ncdiag -> IODA/UFO converter scripts"
Take Anna's existing scripts to convert GSI diag files to IODA/UFO but rewrite them as part of a Python module so that each obstype can be called concurrently/independently. As more satellites become available for example, it is better on Theia to use Python multiprocessing to convert each one simultaneously rather than serially. Additionally will allow for flexibility to call from command line or

[2019-04-03 13:52] aerorahul opened #124 "Update marine section of README.md after Marine CS."
The marine section of the README.md should be updated to reflect the addition of various converters during the Marine IODA/UFO code sprint.

[2019-04-04 21:15] CoryMartin-NOAA commented on #107
@srherbener

I'm working on these modified Python scripts to generate IODA observation files from GSI diag files, and while I am able to get the ObsValue, PrepQC, and ObsError to write out successfully, I have not yet figured out how to output additional information that is used for the UFO tests (GSIHofX for example). As far as I know the code runs with no errors but the extra variables are not t

[2019-04-05 14:09] CoryMartin-NOAA commented on #107
Never mind, I think I've figured out what I need to modify in ioda_conv_ncio to get this to work more generally. I'll test it and see if it matches what the original scripts produce.

[2019-04-05 14:25] srherbener commented on #107
Hi @CoryMartin-NOAA, Sorry about the slow response. The NcWriter class in the develop branch needs a simple modification to accommodate additional obs data such as the H(x) values from GSI. Lines 345-350 in ioda_conv_ncio.py are, unfortunately, redundant and they can be replaced with:
* ObsVars[VarKey[1]][VarNum, LocNum-1] = VarVal
Once that is done, you should be able to add ObsValue, ObsError, P

[2019-04-05 14:44] srherbener commented on #107
Also, I think there is a potential performance issue with the manner in which the BuildNetcdf is organized. Every location becomes an entry in the ObsData dictionary so when we get to large data (GOES-16 full disc can have 100 million locations in one image) this seems like a bad situation. Inside BuildNetcdf, there is a call to another method called ExtractObs where the ObsData dictionary gets re

[2019-04-05 15:27] svahl991 commented on #107
My feeling, at least regarding the ODB2 converter I've been working on, is that it might be easier in the long run to just have one "path" to importing the data, rather than have one process for conventional obs and a different process for satellite data. I see the problem Steve H. describes with the dictionary structure we used for conventional obs when you try to apply it to satellite obs, so we

[2019-04-05 15:28] CoryMartin-NOAA commented on #107
@srherbener Thanks. That line/area of the code is where I was looking at as well, I might have made it slightly more complicated than that by including a new loop, but at least it's working for now.

I agree that the NcWriter class will have performance issues going forward. I've already noticed that (and correct me if there's a better way to do this) that while we can use numpy indexing to grab d

[2019-04-08 19:18] CoryMartin-NOAA commented on #100
I'm also encountering this issue as I work on Issue #107 . I have a working solution that I'll push soon to feature/gsi_ncwriter but am open to changing it for a more permanent/better solution.

[2019-04-08 19:26] CoryMartin-NOAA commented on #107
I've pushed a first beta draft version of the reworked conversion scripts for GSI diag -> GeoVaLs and IODA obs (the latter using NcWriter) that are more generic (should work for any date) and use Python multiprocessing to run in parallel and not sequentially (each diag file is a separate process). It's still a work in progress, but I think it's usable for conv/rad files (no subsetting yet) in feat

[2019-04-08 20:41] srherbener commented on #107
@CoryMartin-NOAA, thanks for posting your scripts. I took a look at the feature/gsi_ncwriter branch from a day or two ago. I think it looks good.

There is one thing where the location key is getting loaded up with a lot of pieces of data, the setting of LocKeyList. I didn't intend for the location key to be anything else but (x,y,z,t) values that correspond to independent variables of atmospheric

[2019-04-09 12:36] CoryMartin-NOAA commented on #107
@srherbener I also noticed that the first time I tried to run these scripts, the number of observations that were written out was slightly (maybe 5%) smaller than what were written out from the previous versions of the scripts. I traced it to the length of the dictionary not being the same as the number of matching obs added to the dictionary and think it's because some of them (at least for conve

[2019-04-09 14:14] CoryMartin-NOAA opened #127 "NcWriter "time" metadata: actual time or relative to analysis time?"
Is the variable "time@MetaData" supposed to be absolute time or difference from analysis/valid time? If the latter, as it currently seems to expect, NcWriter should be more flexible so that it can accept floats that are already difference from some reference time rather than needing strings of timestamps and then converting them.

[2019-04-09 21:10] srherbener commented on #107
@CoryMartin-NOAA, I'm a little bit concerned about the need to add an extra index LocKey in order to get the same nlocs count as before. This is suggesting that there are locations (x,y,t) or (x,y,z,t) where there are multiple values for one observation variable (outside of the usual reasons such as multiple channels on an instrument). I wouldn't expect this to happen (unless I have a misconceptio

[2019-04-10 13:40] CoryMartin-NOAA commented on #107
@srherbener yeah I think it is likely an issue with the time variable but I'm not sure. I'm still finding some small bugs in these scripts that I thought I had resolved. Hopefully I can get them working properly soon.

[2019-04-10 14:00] CoryMartin-NOAA commented on #107
@travissluka I noticed this morning that I also had issues with my converters, which I traced back to a difference between the ioda_con_ncio develop branch version and my own and the way it defines the datetime str dimension. Referencing @ #127 I think some greater flexibility or at least clarification on the way this class handles timestamps would be great.

[2019-04-10 14:07] #119 closed

[2019-04-11 14:20] #127 closed

[2019-04-11 19:27] #124 closed

[2019-04-11 19:27] #104 closed

[2019-04-11 19:28] #103 closed

[2019-04-11 19:28] #90 closed

[2019-04-11 19:33] #91 closed

[2019-04-11 19:34] #87 closed

[2019-04-15 13:42] CoryMartin-NOAA commented on #107
@srherbener regarding the LocKey issue, I thought it was just related to matching station IDs or something like that, but I'm not sure what it is now. @ADCollard noticed missing data in the output of radiance obs files that I had generated and I've traced the issue back to again the LocKeys. Without an ObsCount, the number of obs written out is Nobs = Nlocs instead of Nobs = Nlocs*Nchans but I don

[2019-04-15 15:23] CoryMartin-NOAA opened #133 "NcWriter NetCDF format"
Using NETCDF4 as the format produces what I assume are long integers (ncdump -h shows something like 8955L for nlocs) whereas using NETCDF4_CLASSIC uses standard integers (nlocs = 8955). Does it matter which one is used? It seems that UFO tests fail when geoval files have L in the date_time attribute. If there is a check in Fortran code that looks for NF90_INT, we need to make sure the attributes

[2019-04-15 17:34] srherbener commented on #133
Looking at the netcdf website, it looks like the differences between NETCDF4 and NETCDF4_CLASSIC are that NETCDF4 has Groups and User defined data types whereas NETCDF4_CLASSIC does not have those two features. Here is a link to that information:
* https://www.unidata.ucar.edu/software/netcdf/workshops/2008/netcdf4/Nc4DataModel.html

We aren't using these features now, but we may want to use group

[2019-04-15 17:54] CoryMartin-NOAA commented on #133
I just tried it and yes, for example in ioda_conv_ncio line 217 changing it to:
self._fid.setncattr("date_time", np.int32(refDateTime))
seems to have worked (at least the L is now missing when using ncdump)

I can add this in as part of my existing pull request.

[2019-04-15 17:55] srherbener commented on #17
The data mentioned in the initial description is obsolete and therefore shouldn't be used, and pycodestyle coding norms tests have been installed into the develop branch (not all of these are passing yet).

For these reasons, I will close this issue and open a new issue to prompt contributors to install unit tests for their scripts, and get their respective coding norms tests passing.

[2019-04-15 17:56] srherbener commented on #133
Sounds great! Thanks for doing this.

[2019-04-15 18:08] #133 closed

[2019-04-17 18:07] travissluka opened #135 "ctests for marine converter"
create minimally sized input files of marine obs files, and accompanying ctests

[2019-04-17 19:55] shlyaeva opened #136 "GSI: need to write out H(x) instead of OmF"
this will help with missing values in obs and omf.

[2019-04-17 19:59] CoryMartin-NOAA opened #137 "Add additional fields to GSI diag files"
See Google Sheet for details.

[2019-04-17 20:08] CoryMartin-NOAA commented on #137
Obs Metadata:
FOV number
Scan line number
GeoVaLS:
tropopause height
PBL height

[2019-04-18 19:20] flampouris opened #139 "Question about installing the ioda-converters to the build directory"
Hello @srherbener,

I have a fast question; when I am updating something to the ioda-converters and I have already built the system, how can I update the content of the [...]/build/bin ?

Thank you,
Stelios

[2019-04-18 20:28] #135 closed

[2019-04-18 21:04] hyunchul386 opened #140 "Test for ioda-converter for profile data"
godae_profile2ioda.py

[2019-04-18 21:17] CoryMartin-NOAA opened #141 "Create ctests for GSI converters"

[2019-04-19 13:21] aerorahul commented on #140
@hyunchul386 This test has been implemented by @travissluka and was merged into develop by @srherbener.

[2019-04-19 14:21] srherbener commented on #139
Hi @flampouris,

I think you are asking about something I just noticed for the first time yesterday. When a change in a source file is made and a "make" or "make install" is run, the install location is updated but the subdirectory "bin" in the build directory is not. Is this what you are asking about?

I think this is a defect in the build system, probably due to a CMakeLists.txt file not coded c

[2019-04-19 17:03] flampouris commented on #139
Hello @srherbener, the issue is exactly as you described it and yes, we use similar solution.

[2019-04-19 21:27] flampouris opened #145 "Somehow the tabs and spaces had been screwed at line 314 of ioda_conv_ncio.py, therefore it was failing."
Somehow the tabs and spaces had been screwed at line 314 of ioda_conv_ncio.py, therefore everything was failing at different machines.

[2019-04-19 23:23] #17 closed

[2019-04-19 23:34] srherbener opened #146 "Install/fix units tests"
We now have unit tests started in the develop branch. There are two categories:
* coding norms
* script testing

Please do two things to get our tests updated:
* Fix the coding norms test failures for your script sets.
* Add tests for your scripts

The marine scripts have examples of how to configure tests. Thank you @travissluka for developing these tests!

The marine tests are based on running a

[2019-04-22 16:30] CoryMartin-NOAA commented on #141
#146 also handles this, closing this issue.

[2019-04-22 16:30] #141 closed

[2019-04-22 20:46] #145 closed

[2019-04-23 21:10] CoryMartin-NOAA opened #149 "GSI Diag conv class is too rigid"
Current code checks for filename and looks for conv, otherwise it raises a ValueError. Needs to be more generic so it will work for other filenames as well as "aircraft_uv", etc.

Also radiances need a check for bad values (brightness temperatures in the millions) and make it the netCDF undefined value

[2019-04-23 21:37] ShastriPaturi opened #150 "Difference in ioda input files in attrubutes and for every variable - nccmp fails"
The nccmp fails for all the ioda-converter tests. I am including the a portion of the output for goade_ship.nc:
12: Test command: /scratch3/NCEPDEV/marine/save/Shastri.Paturi/Jedi-QC-CS-04-2019/soca-bundle/build/ioda-converters/test/iodaconv_comp.sh "/scratch3/NCEPDEV/marine/save/Shastri.Paturi/Jedi-QC-CS-04-2019/soca-bundle/build/bin/godae_ship2ioda.py
                       -i testinput/godae_sh

[2019-04-23 21:50] flampouris commented on #150
I have the same issues since Friday. Is there any specific configuration or compilation flags for nccmp?

Thank you!

[2019-04-24 14:26] CoryMartin-NOAA commented on #149
Turns out this is not the issue, in fact it's all U/V conventional obs, not aircraft. But, I've found the issue and will fix for the next pull request. Will also filter out anomalous brightness temperatures.

[2019-04-24 15:13] #149 closed

[2019-04-25 02:17] svahl991 opened #151 "Inconvenient to have a single variable per IODA obs file"
The netCDF IODA files that are created from the GSI conversion scripts for conventional obs contain a single observation variable. For example, the sonde data for 0Z 15 April 2018 comes in four different files, one each for each variable. By comparison, the test netCDF sonde files that are in the IODA repository contain t, q, u, and v all in one file.

It came up in our group meeting this week tha

[2019-04-25 13:06] CoryMartin-NOAA commented on #151
@shlyaeva 's old scripts had a final merge script for the conventional data from GSI. This can likely be modified to work with these output files. The reason why I didn't combine them in the scripts I created was that I was not sure how a missing observation would be handled, and if the order is still the same, particularly for aircraft. The number of locations for the different variables for sond

[2019-04-25 13:11] #107 closed

[2019-04-25 13:39] CoryMartin-NOAA commented on #136
This should now be added to the ProdGSI feature/files_for_jedi branch for radiances, T, Q, U, V, P, Ozone. No AOD in this branch because that capability (netCDF diag) is not yet in ProdGSI master (but will be soon)

[2019-04-25 15:17] CoryMartin-NOAA opened #152 "NcWriter changing order of observations"
@louiskouvaris noticed that the sbuv ozone profiles no longer are in sequential order. The GSI diag files are in order, profile by profile, but after writing out the obs for IODA, they are seemingly in random order. I've traced this issue to be that somehow NcWriter is changing the order of the observations. This probably is not ideal but I don't know if it's a showstopper except for how to subset

[2019-04-25 17:45] CoryMartin-NOAA commented on #152
This is an issue with defaultdict vs OrderedDict. Defaultdict does not preserve the order in which the observations are placed into the dictionary when it's later iterated over, but I do not yet know how to replace defaultdict(lamda ... with OrderedDict in the converter scripts (not necessarily a problem in NcWriter but the places where it's called)

[2019-04-25 18:16] CoryMartin-NOAA commented on #152
https://stackoverflow.com/questions/6190331/can-i-do-an-ordered-default-dict-in-python

This shows how to create an ordered, default dict, which is what's needed to fix this issue. Works on Theia on Python2.7 and Python 3.5

[2019-04-25 18:29] svahl991 commented on #152
I've seen this random-order effect happen as well when converting obs files. I guess my thought is that if the sequence of the obs is important for some purposes, then we should indicate the sequence with a value in the metadata, rather than have it only be captured by the storage sequence in the netCDF file. I know the concept of using "records" for data subsetting has always been part of the IOD

[2019-04-25 18:52] CoryMartin-NOAA commented on #152
@svahl991 I agree, that my solution of just forcing the order to be the same as what comes from GSI is not idea, and there should be record_number or something to that effect used. Regardless, it's probably still better to ensure this same order as the input files for now just for debugging/diagnostic purposes even for obs that are independent of one another.

[2019-04-25 19:11] CoryMartin-NOAA opened #153 "Subset profile data into _m and _s files"
@louiskouvaris needs a full profile for his ozone UFO operator. For a test, we'll need a small subset of data, which can be done manually, but this may be needed for other applications. How to best do this for when we may not know the size of the profile in an automated script. Is this when we will need to use record_number rather than forcing it to be 1 as @svahl991 pointed out earlier? If so, ho

[2019-04-25 21:59] svahl991 opened #154 "Missing value threshold is specific to NetcdfIO, hidden, and not required"
Right now the NetcdfIO code has a threshold (1e+8), above which any value is treated as a missing value. There's not a problem with this, except that I've noticed people writing their ioda-converters with this functionality in mind. So if their converter notices a missing value, they just populate a value larger than 1e+08 and trust that it will be treated appropriately inside IODA.

The issue is

[2019-05-02 14:41] #140 closed

[2019-05-02 14:43] travissluka opened #155 "Fix marine ctests"
some of the converters are using the defaultdict, causing a change of order depending on which version of python it is running in, and so ctest failures. Switch to using an ordered default dict.

[2019-05-02 14:46] travissluka commented on #155
waiting on PR #147 to use Cory's ordered dict class

[2019-05-02 14:50] travissluka opened #156 "nccmp and hidden attributes"
the script calling nccp needs to ignore useless hidden attributes such as
`version, netcdflibversion, hdf5libversion`

currently causing ctests to fail becuase of different netcdf/hdf5 versions on different platforms.

[2019-05-02 14:52] travissluka commented on #150
... working on it

[2019-05-02 14:58] travissluka commented on #150
@ShastriPaturi out of curiosity, what is the version of nccmp on Theia (`nccmp -V`)

[2019-05-02 15:47] travissluka opened #157 "pycode style not found"
when `ioda-converters` is part of a bundle, the included `pycodestyle` file is not found. Sometimes a system `pycodestyle` is used instead, which explains why in the past I had seen differences in the coding norms.

[2019-05-02 15:50] ShastriPaturi commented on #150
1.8.2.0

[2019-05-02 16:09] aerorahul commented on #157
@travissluka Can you please paste the output of the 1st test?
I am interested in what you see for the variable `PYCODESTYLE_CFG_PATH`.
`ecbuild_add_test` in `CMakeLists.txt` (for each of the sub-directories) pass `${CMAKE_SOURCE_DIR}` as the argument to use that particular `pycodestyle`

[code]

[2019-05-02 16:10] aerorahul commented on #157
@travissluka An alternative is to hard-wire the `pycodestyle` to use the one in top-level directory, but I wanted to give the developer the option to specify there own in their converter directories.

[2019-05-02 16:42] travissluka commented on #150
ah, ok, the latest version is 1.8.5.0, and with that version nccmp doesn't seem to be trying to do the comparisons for the hidden variables (e.g. `_NCProperties`). I'll still push a change so that those variables are ignored and so should work with your version of nccmp

[2019-05-02 17:02] travissluka commented on #157
PYCODESTYLE_CFG_PATH is pointing to the root of my soca-bundle source dir

[code]

[2019-05-02 17:19] shlyaeva commented on #153
For radiosondes and aircrafts I was using station_id to put all observations with the same station_id into the subset files. I'll look into GSI ozone files to see if there are any ids there that we can use.

[2019-05-02 17:28] shlyaeva commented on #151
@CoryMartin-NOAA, @svahl991: the old script that was merging t, u, v, q did something like this:
- take *t* file, add netcdf variables named u, v, q filled in with missing values to the file.
- find the locations (lat-lon-pressure-time) in *uv* file that match with locations in *t* file. For those, copy u, v variables from *uv* file to *t* file and put a missing value in *uv* file (so they are not

[2019-05-02 17:30] CoryMartin-NOAA commented on #153
Ah yeah, I don't think I'm doing that properly for radiosondes and aircraft in subset_files.py, so that will need to be changed for all of these types. I guess this brings up the question though of record_number and if that should be used somehow too? Perhaps we'll wait until @srherbener is back to clarify the intentions of record_number.

[2019-05-02 17:52] shlyaeva commented on #153
@louiskouvaris: From reading GSI code (setupozlay routine), it looks like each ozone observation is processed separately. However, to compute H(x) for each of those observations GSI is using at least two variables, "apriori" and "efficiency" (metadata, I guess?), which are arrays size nloz_omi.
I am not familiar with ozone observations, and I'd like to understand this better:
- does each observati

[2019-05-02 18:27] aerorahul commented on #157
@travissluka I see.  When IODA-converters are built inside of a bundle, `$CMAKE_SOURCE_DIR` will be the base of the bundle, and hence the norm test fails to find the correct `.pycodestyle`.
I will figure out a way to get the correct `pycodestyle` file with or without a bundle.

[2019-05-02 19:07] louiskouvaris commented on #153
I haven't looked at OMI yet but for sbuv we need the pressure at the top of the layer and at the bottom. The bottom pressure level is the top of the layer below it. Therefore we need two pieces of metadata per observation for ozone layer instruments. This is not conveyed presently but is an option for computing hofx.

[2019-05-02 19:15] shlyaeva commented on #153
@louiskouvaris: do you know what those pieces of metadata are named in GSI in setupozlay? we can add code to GSI to output them in the netcdf diagnostics files (that we use to generate ioda obs files).

[2019-05-02 19:36] louiskouvaris commented on #153
Reference pressure for that observation gives the top layer pressure. And reference pressure for the next observation is the bottom pressure level of the previous layer. We need both pieces of information for each observation layer.

⁣Sent from BlueMail ​

On May 2, 2019, 3:15 PM, at 3:15 PM, Anna Shlyaeva <notifications@github.com> wrote:

[2019-05-06 21:52] srherbener commented on #152
My understanding is that we want the order of the observations that appear in the output of converter scripts to be repeatable to facilitate testing. The order doesn't have to follow what appears in the input file, it just has to be the same order every time you run the script with the same input.

The record number is for a different purpose which is to identify "atomic" units of which should not

[2019-05-06 22:16] srherbener commented on #154
JEDI has its own predefined numbers that represent missing values. There is one value for each data type (integer, float, double, etc.) that represents "missing".

The idea in IodaIO is to convert missing values between those in the file (however they are represented) and those in memory (JEDI missing values). We started with just using large numbers to represent missing values in the files (quick

[2019-05-06 22:35] svahl991 commented on #154
Thanks for this, Steve. If I'm understanding correctly, this means that when NcWriter starts using the IodaIO interface, then converters that are currently populating an arbitrary value larger than 1+e8 to represent a missing value will need to start populating the specific JEDI missing values instead? Is there a way for them to retrieve these numbers? I don't think we want the converters populati

[2019-05-06 22:52] srherbener commented on #151
This is the purpose of the location keys in the dictionary that is passed to the ExtractObsData method in NcWriter. By using unique tuples for location keys you can collect up t, q, u, v values that are at the same location and then know where the missing values belong. That is, if a particular location only has t and q values, then you know that the u and v values are missing for that location.

[2019-05-06 22:59] srherbener commented on #153
The purpose of the record number is to group observations into "atomic" units of which don't get broken apart when distributing across multiple process elements. Typically, a record corresponds to a unique sounding, or profile so it seems that the record number in this case could be based on unique profiles and then used to extract a single profile for testing.

See issues #151 and #152 for more d

[2019-05-06 23:04] srherbener commented on #154
Yes you understand correctly, and part of the IodaIO interface will be methods to provide the missing values that go into the dictionary values (so that the IodaIO writer will put netcdf fill values, or the ODB scheme's missing values, into the output files).

[2019-05-07 12:41] CoryMartin-NOAA commented on #151
@srherbener ok so if I understand correctly, rather than writing a script to combine the observations after processing them from GSI->IODA, instead open multiple GSI diag files at once and output "sfc_obs" which is T,U,V all in that one IODA file.

Is there a need to have both the capability to have one observation variable (ex. Temp) to one IODA file as well as all variables in one, or would just

[2019-05-07 12:52] CoryMartin-NOAA commented on #152
@srherbener for the first point, the "OrderedDefaultDict" class that I found on StackOverflow seems to be working well, and @travissluka was planning on (or maybe he already did) implementing it for the marine converters. For the profiles, I believe we can use StationID to create the record number (at least for sondes, not sure about aircraft but I suspect there are also similar ID codes like tail

[2019-05-07 13:20] travissluka commented on #152
@CoryMartin-NOAA  yes, I have a branch with the marine tests working using your ordereddefaultdict, I'll push it once your PR is merged in

[2019-05-07 15:13] srherbener commented on #151
@CoryMartin-NOAA, my understanding is that we do not need to have one obs variable per IODA file, and that combining all variables into one file is preferred. Do you agree @shlyaeva?

Given that we want one file with all variables as the output, I think that it's okay to take whatever path is easiest whether it's convert separate files to IODA in one script first then combine in another script, or

[2019-05-07 15:14] shlyaeva commented on #151
@srherbener: I agree (also based on @svahl991's input here), we'd like to have all variables in one file.

[2019-05-07 15:18] svahl991 commented on #151
Just to confirm what others are saying: I'm mostly going off what I've heard from @YaliWu0219 and @junmeiban , but I haven't heard anyone talk about any advantages of having the individual variables in separate files. Only disadvantages.

[2019-05-07 15:18] CoryMartin-NOAA commented on #151
@srherbener @shlyaeva ok sounds good. Once the current pull request is approved, I'll start a new branch to work on the record number for profiles as well as this issue. I think it should be all combined in the main step if that is what people want, and save the extra step of concatenation, but I don't yet know how to do this the best way with the classes I've written (since they assume one input

[2019-05-07 15:25] CoryMartin-NOAA commented on #151
Yeah on second thought, I think it's going to be more efficient to have a concatenation step. Because the GSI output is by variable and not by platform for conventional data, it would require reading in all of the conv files at the same time. To ensure that it's matching locations and missing data, I can use the ncwriter class to write it out after reading in a specified number of input files that

[2019-05-07 21:10] #157 closed

[2019-05-08 15:21] travissluka opened #160 "gsi tests pass with python2 but not python3"
e.g.  for `test_iodaconv_gsidiag_conv`

[code]

[2019-05-08 18:23] CoryMartin-NOAA commented on #152
@travissluka @srherbener I think this can be closed with the addition of OrderedDefaultDict now in place for gsi-ncdiag and marine, correct?

[2019-05-08 19:24] srherbener commented on #152
I'm okay with closing this issue. Do you agree @travissluka?

[2019-05-08 19:30] srherbener commented on #146
nccmp and nco have been added to the JEDI Singularity and CharlieCloud containers. See https://github.com/orgs/JCSDA/teams/jedi/discussions/26 for more details, and how to download these containers.

[2019-05-08 19:32] travissluka commented on #152
Sounds good to me

On Wed, May 8, 2019, 4:24 PM Stephen Herbener <notifications@github.com>
wrote:

[2019-05-08 19:39] #86 closed

[2019-05-08 19:41] #139 closed

[2019-05-08 19:49] #152 closed

[2019-05-08 20:56] shlyaeva opened #163 "geovals coming from GSI: air_pressure units"
We should have air_pressure in *Pa* in the geovals files coming from GSI. This would allow to switch to using the right units inside UFO and inside getValues of the models.

[2019-05-08 23:21] #155 closed

[2019-05-09 20:57] CoryMartin-NOAA opened #165 "Ensure that the _m and _s files are the same corresponding locations for GeoVaLs and Obs"
Just double check this, my GSI sfc model T2 UFO has similar/correct values in hofx but in different order than what is in GSIHofX, is this because the input is incorrectly ordered?

[2019-05-10 14:06] #165 closed

[2019-05-10 14:06] #160 closed

[2019-05-10 14:08] CoryMartin-NOAA commented on #151
Pull request #166 will finish up this and resolve it, should work for conventional data. Will have capability to concatenate GeoVaLs soon.

[2019-05-10 14:08] #151 closed

[2019-05-10 17:38] srherbener commented on #52
@shlyaeva, the amsua files in the ioda repo have "height@MetaData". It looks like Cory changed this to "height_above_mean_sea_level@Metadata". Is this the surface height?

[2019-05-10 17:40] srherbener commented on #54
nco is being installed into the containers now

Still need to look at PyTables.

[2019-05-10 17:42] CoryMartin-NOAA commented on #52
@srherbener I think it is surface height. Sorry, I changed it to conform to one of the CF-standard variable names.

[2019-05-10 17:44] srherbener commented on #52
@CoryMartin-NOAA I'm just checking to see if this can be closed. We should be using the CF-standard name so let's leave it as you have it. Sorry about the confusion.

Sounds like I can close this issue

[2019-05-10 17:53] #52 closed

[2019-05-10 18:00] srherbener commented on #150
Hi all, is this issue resolved now? Thanks

[2019-05-10 18:02] srherbener commented on #84
Hi @flampouris, is this issue resolved now?

[2019-05-10 18:05] #51 closed

[2019-05-10 18:06] #59 closed

[2019-05-10 18:07] #88 closed

[2019-05-10 19:44] junmeiban opened #168 "A qustion about combine_conv.py"
I have a question about the script combine_conv.py  #166
I checked the results from single file(the single file is generated by proc_gsi_ncdiag.py  #147.) and combined file. The following figures are virtual temperature from single file(upper panel) and combined file(lower panel). It looks the observation number for Tv has reduced after combining.
![Screen Shot 2019-05-10 at 1 29 47 PM](https://us

[2019-05-10 19:45] junmeiban commented on #168
@CoryMartin-NOAA

[2019-05-10 19:53] CoryMartin-NOAA commented on #168
@junmeiban  thanks for noticing this. I think it's been fixed. It was the result of an attempt to make the code run quickly but with this new loop it still finishes for all of the sondes data in around a minute.
I tried it now for sondes_tv and sondes_tsen and there are 6 obs difference from the sum of the original two. They are thrown out because they are (and I checked) at the same lat,lon,time,

[2019-05-10 19:55] junmeiban commented on #168
Thank you so much to fix it.

[2019-05-12 20:10] CoryMartin-NOAA opened #171 "Put proper height above ground level in Obs files"
To do 2mTemp, 10m U/V, etc., need to have the correct height AGL in obs files. Double check which field from GSI diags is surface height and which is observation height and if 2m = obs height - surface height or if a new field is needed to be added manually.

[2019-05-13 14:02] CoryMartin-NOAA commented on #163
This has been updated in feature/files_for_jedi for:

- [ ] - setupt
- [ ] - setuprad
- [ ] - setupw
- [ ] - setupps
- [ ] - setupoz

[2019-05-13 14:39] CoryMartin-NOAA commented on #153
@louiskouvaris can you determine a way to identify separate ozone profiles in setupoz.f90 in GSI? It would be easier if it's written out to the netCDF files directly (like even something simple like a loop index would be fine), rather than searching for where reference pressure equals bottom pressure. I'll use station_ID for sondes and aircraft but will need something to use for the ozone profiles

[2019-05-13 15:05] shlyaeva commented on #163
@CoryMartin-NOAA: thanks a lot, I'll give it a try!

[2019-05-13 17:36] #136 closed

[2019-05-13 17:37] shlyaeva commented on #168
@junmeiban, @CoryMartin-NOAA: is this fixed, can this issue be closed?

[2019-05-13 17:39] CoryMartin-NOAA commented on #168
@shlyaeva As far as I know. I'll close it but if we still notice a problem (like with a different observation set), we can reopen it in the future.

[2019-05-13 17:39] #168 closed

[2019-05-13 21:13] junmeiban opened #173 "question about sensible T of radiosonde data below 400hpa"
I converted “diag_conv_t_ges.2018041500_ensmean.nc4” (from http://data.jcsda.org/gsi_diags_2018041500.tar) to ioda obs by using proc_gsi_ncdiag.py .
I checked the output file: sondes_tsen_obs_2018041500.nc4. It looks that sensible T below 400hpa is filtered out.
There are some discussions about this issue on #147.
My question is why sensible T of sondes below 400hpa is filtered out.
![pro_sondes_t

[2019-05-13 21:18] shlyaeva commented on #173
cc-ing from the pull request answers (which don't answer the question definitively):
Cory: "Perhaps it's an issue of the way these two quantities are reported in the BUFR files or the way GSI handles them (Tsen~Tv at upper levels where moisture content is small could be a theory?)"
Me: "This issue is not in the ioda-converter scripts, but in the way GSI uses radiosonde data (or maybe in the way pr

[2019-05-13 21:55] srherbener commented on #146
This is done for the marine and gsi-ncdiag scripts. There are PR's under review for the ODB2 scripts. That leaves only the ncep scripts. I'm going to close this and create another issue for the ncep scripts.

Thanks for all your work to address this!

[2019-05-13 21:55] #146 closed

[2019-05-13 21:59] srherbener opened #174 "Fix coding norm and add file conversion test for NCEP scripts"
The tool autopep8 can be used to automatically fix the coding norms test failures.

Use the marine test setup (test/CMakeLists.txt) as a guide to creating a new file conversion test.

[2019-05-13 22:01] srherbener opened #175 "Fix coding norm and add file conversion test for ODB2 scripts"
The tool autopep8 can be used to automatically fix the coding norms test failures.

Use the marine test setup (test/CMakeLists.txt) as a guide to creating a new file conversion test.

[2019-05-13 22:19] ADCollard commented on #173
Sorry for the slow reply to this, but I had to look at the code myself to check (sorry but I am a satellite guy!),

From what I can tell, in the GSI the data is read in as a virtual temperature from PrepBUFR if it is available, and one of the criteria for it to be available is a coincident humidity observation.  I think that explains why most of the tsens are for levels above 400hPa.

There are so

[2019-05-13 22:19] srherbener opened #176 "surface pressure obs file has inconsistent obs and meta data"
The sample file from Yali named "sfc_ps_obs_2018041500.nc4" has locations where the meta data "station_elevation" has missing data but the observation data "surface_pressure" has valid data.

Some examples where this happens are:

| location number | surface pressure | station elevation |
|-----------------|------------------|------------------|
| 5642 | 988.2 | 9999 |
| 6362 | 993.6 | 9999 |
| 74

[2019-05-13 22:31] YaliWu0219 commented on #176
Thanks, Stephen~
How about using Domain Check? For example:
         - Filter: Domain Check
                where:
                    - variable: altitude
                       minvalue: 0
                       maxvalue: 30000

[2019-05-13 22:32] srherbener opened #177 "Store data values with proper data types"
The convention that we want for IODA is:
* All floating point values are stored in the netcdf file as floats (single precision)
    * All variables except QC marks
* QC marks are stored in the netcdf file as integers
* Vectors of strings are stored in the netcdf file as character arrays

I think at this point the primary issue is that doubles are showing up in some of the files. The IODA file read

[2019-05-13 22:37] srherbener commented on #176
I'm not sure if that's how we want to handle these cases. Perhaps @shlyaeva and @ytremolet can shed some light on this. I need some guidance myself on how the IODA converters and IODA should handle this case.

[2019-05-14 15:26] junmeiban commented on #173
Thank you so much for your explanation.
I think this issue can be closed.

[2019-05-14 16:07] #173 closed

[2019-05-15 13:47] flampouris commented on #84
yes

[2019-05-15 13:47] #84 closed

[2019-05-15 19:59] CoryMartin-NOAA commented on #176
I'm trying to think of a good way to handle elevation/height for the T2m operator too. It seems that for 2m temp obs, height=station_elev and not 2= height-station_elev like it should be. I'll try to add some logic to check for 9999 values and replace with fill_value as well as how to make the observation 2m agl if it's set to 0 for sfc temp/q.

[2019-05-16 15:38] CoryMartin-NOAA commented on #171
addressed in pull request #180

[2019-05-16 15:38] #171 closed

[2019-05-16 19:15] CoryMartin-NOAA commented on #163
Having weird compiling issues, reopening until I can confirm it's working and produces air pressure output in Pa.

[2019-05-16 19:32] ytremolet commented on #176
I think for short term testing you can use the domain check filter but really we should have a proper missing value in the file. Let me know if we need to discuss this.

[2019-05-17 15:15] srherbener opened #181 "Need to provide bias parameters from GSI run for the obs bias correction functionality"
Xin is working on an implementation that adds observation bias correction to the cost function. His first step included reading bias parameters from GSI, thus the need to provide these in the GSI ncdiag files.

We need to agree in which file the bias parameters should be stored, and how to store these data (attributes, variables, etc.). Reading the bias parameters is a temporary solution. As I und

[2019-05-17 15:20] srherbener opened #182 "Add Travis-CI to ioda-converters repo"
Travis-CI will run tests every time that a PR is submitted, and when commits are pushed to existing PRs.

We need to make sure that the ODB2 testing is enabled. Travis-CI runs on a Travis server and the process includes building the software stack, environment and the code being tested. We can enable ODB_API and include the ODB libraries for this process and thus get the ODB2 testing to run.

[2019-05-17 15:22] srherbener commented on #182
The Travis-CI methodology and configuration for our repos is nearing completion (at least far enough to unleash it on all the repos). Once this step is completed, we can add Travis-CI to this repo.

[2019-05-17 15:30] aerorahul commented on #182
I wonder if a `lite` software stack should be built for testing this repo.
All it needs is `python` with `pycodestyle`, which is standard with`anaconda`.  We should check if it is available in `miniconda`. Also required is  `nccmp` which in turn needs `gcc`, `hdf5`, `netcdf-c`.
One could (in theory) build `nccmp` from `anaconda` provided libraries for `gcc`, `netcdf`.

[2019-05-17 15:50] #174 closed

[2019-05-17 19:11] #163 closed

[2019-05-17 19:30] CoryMartin-NOAA opened #183 "Skip using ExtractObsData for conventional obs from GSI diags"
After changing the looping order of the radiances, IODA observations now write fairly quickly, however the bottleneck for GSI diag conversions is now conventional obs such as aircraft. I believe, and @srherbener correct me if I'm wrong, that since the GSI diags are already formatted such that each lat, lon, obs, etc. are the same length, that we can bypass using ExtractObsData and just directly pl

[2019-05-17 20:19] CoryMartin-NOAA commented on #176
I now have replaced 9999 for height and elevation with the netCDF fill value, but how is that defined when using the filters? I noticed while trying to debug my T2 UFO that one of the values for height is NaN, and thus causing all subsequent computations to be NaN. The code for the bounds check has != missing, is this missing value the same as NaN?

[2019-05-17 23:03] srherbener commented on #176
When ioda reads the netcdf fill value (9.9...e36) it replaces it with an internal missing value (-3.3...e38) so this might be why the filter is not working. We are converting to an internal set of missing values since we want these to be agnostic to different external conventions.

Is there a calculation on the height before the filter sees it? Not sure where the nan is coming from. If a nan is in

[2019-05-17 23:05] srherbener commented on #183
If you've got the t,q,u,v values all lined up by location with missing values in the appropriate locations in the input file, then you should be able to skip ExtractObsData.

[2019-05-20 14:30] CoryMartin-NOAA commented on #176
I think this might be more of a question of how to filter input for the UFO tests rather than IODA, as it's not clear to me that I have a filter set up properly as part of the 2m temp YAML file. My short term solution was to just remove this one location in the input file to test the UFO but I'd like to know how to filter as part of the test. Is there an example of a UFO test that first filters ou

[2019-05-20 15:13] ytremolet commented on #176
It's only partially there at the moment. There is a check that ObsValue, ObsError and QC are well defined, but not other quantities that are not the same for all obs.
The plan would be to add a query function to the operators to know what they need, and do a check on that list. That's the most generic and simple way I can think of. Unless somebody has another idea?

[2019-05-20 15:25] CoryMartin-NOAA commented on #176
Ok I just wanted to make sure there wasn't anything I was doing wrong. That plan sounds good to me.

[2019-05-23 15:14] MarekWlasak opened #185 "station_elevation@MetaData has some strange values in satwind_obs_2018041500_m.nc4 (when viewed in xconv) air_pressure looks like strange as does height@MetaData. Similar issue in the _s version."

[2019-05-23 15:16] CoryMartin-NOAA commented on #185
@MarekWlasak which branch? develop? this is hopefully fixed in a pending pull request #184

[2019-05-23 15:19] MarekWlasak commented on #185
This is in the  files: ioda/feature/use_pressure (which is soon to be in develop).  It could also affect develop, but I have not checked.

[2019-05-23 15:24] CoryMartin-NOAA commented on #185
@shlyaeva (I think she's who added them there?) might need to re-generate the files for that branch once the ioda_converters are updated for station_elevation

[2019-06-06 18:45] CoryMartin-NOAA commented on #153
addressed by PR #187

[2019-06-06 18:45] #153 closed

[2019-06-06 18:46] CoryMartin-NOAA commented on #183
addressed in PR #187

[2019-06-06 18:46] #183 closed

[2019-06-17 23:23] markjolah opened #190 "CMake build script for feature/gnssro-fortran-converter"
Create CMake build script for [feature/gnssro-fortran-converter](https://github.com/JCSDA/ioda-converters/compare/feature/gnssro-fortran-converter)

Tasks:
 * Create: `FindBUFR.cmake`
 * Create `JCSDA/jedi-stack/buildscripts/libs/build_libbufr.sh`
 * Create test script

[2019-06-17 23:25] markjolah commented on #190
I will assign this to myself.  I don't seem to have permission to do so.

[2019-06-19 22:31] srherbener commented on #100
@CoryMartin-NOAA, @flampouris, is this issue resolved? Thanks

[2019-06-19 22:32] CoryMartin-NOAA commented on #100
@srherbener I think so (or at least the GSI ncdiag writers are able to write metadata), will wait for Stelios to confirm this is the case for the marine converters too.

[2019-06-19 22:36] srherbener commented on #150
@ShastriPaturi, @flampouris is this issue resolved? Thanks

[2019-06-20 19:40] srherbener commented on #190
@markjolah, I've assigned you to this issue. Plus I fixed the permissions problem. You should have write access to this repo now (meaning you can assign, do PR's, push commits, etc.).

[2019-06-20 19:44] srherbener commented on #185
@MarekWlasak, it looks like this has been fixed with @CoryMartin-NOAA's latest PR merge containing the new set of GSI obs and geovals files. Please check and close this issue if you are satisfied with the new data. Thanks!

[2019-06-20 19:47] #175 closed

[2019-06-20 19:49] srherbener commented on #156
@travissluka, is this issue resolved now? Thanks!

[2019-06-20 19:52] srherbener commented on #77
@CoryMartin-NOAA, did your latest PR merge containing the new obs and geovals files resolve this issue? Thanks!

[2019-06-20 19:53] srherbener commented on #137
@CoryMartin-NOAA, is this resolved now? Thanks!

[2019-06-20 19:58] srherbener commented on #58
This is about 90% completed. The only item left is the GNSSRO Fortran program. @markjolah is working on that path.
- [ ] BUFR
- [ ] GSI ncdiag
- [ ] Met Office ODB API
- [ ] Marine profiles
- [ ] GNSSRO

[2019-06-20 20:00] srherbener commented on #177
This nearly completed. Down to just a handful of files. I'm going to close this issue and submit ZenHub issues (one per file) for any remaining files that are not in the proper format.

[2019-06-20 20:00] #177 closed

[2019-06-20 20:04] srherbener commented on #176
All, the PR's connected to this issue have both been merged into develop. Does that mean this is resolved? Thanks!

[2019-06-20 20:06] CoryMartin-NOAA commented on #137
@srherbener for now I think so but as things like QC filters and other operators start to be worked on, there may be a need for additional output fields. I'd say keep it open until at least the code sprint in August.

[2019-06-20 20:06] CoryMartin-NOAA commented on #77
@srherbener no, this is a fortran utility to convert the raw, large VIIRS files for work for @mpagowski and myself. I should be able to add this though soon with another pull request. Probably next week.

[2019-06-20 20:08] CoryMartin-NOAA commented on #176
@srherbener I think so.

[2019-06-20 20:08] #176 closed

[2019-06-20 20:09] srherbener commented on #137
@CoryMartin-NOAA, if all the needs that we are aware of today are met, I would prefer to close this and open new issues if and when we become aware of additional meta data that is required. That way we don't become complacent about an issue that has been open for a long time. Does this sound okay?

[2019-06-20 20:10] srherbener commented on #77
@CoryMartin-NOAA, sounds good. We can leave this open.

[2019-06-20 20:11] CoryMartin-NOAA commented on #137
@srherbener that works, and in the future, probably better anyways if it's a specific issue like "GSI diags need X". Closed.

[2019-06-20 20:11] #137 closed

[2019-06-21 16:15] CoryMartin-NOAA opened #191 "test_iodaconv_smap_sss now failing on Theia"
I'm not sure who wrote the smap_sss test/converter but somehow now it's failing in the tests for ioda-converters (at least on Theia) both in develop and my pending PR branch (both @louiskouvaris  and I noticed this). Can someone (@srherbener perhaps) confirm that it still passes for them and I can try to figure out why it's now failing on this machine.

[2019-06-21 16:41] CoryMartin-NOAA commented on #191
Somehow the output timestamps are now different for all but 1 of the locations. And the test output has many repeating times that are not in the reference file. I wonder if this is somehow related to the computation of time = reference_time + seconds_since_ref_time ? Seems odd that it would just now start, so it must either be related to a change in Python software / environment or some quirk of t

[2019-06-21 17:06] srherbener commented on #191
@CoryMartin-NOAA, the test_iodaconv_smap_sss test is passing on my iMac both inside (CharlieCloud) and outside the containers.

[2019-06-21 17:09] CoryMartin-NOAA commented on #191
@srherbener thanks for checking, I assumed that would be the case. I don't know why it's failing now on Theia. I won't worry about it for the short term, just putting it on here so others are aware that it may fail because of mismatched timestamps.

[2019-06-21 17:15] srherbener commented on #191
@CoryMartin-NOAA, I take that back. I thought I was in a window running (vagrant/charlicloud) but was not. The test passes outside containers, but fails in CharlieCloud on my iMac. I'm seeing timestamp differences like you described. I hadn't been using the containers much lately, but it looks like something has sneaked in recently.

I wonder if the SMAP SST test is not using ordered dictionaries?

[2019-06-21 17:18] CoryMartin-NOAA commented on #191
@srherbener no I don't think so. I notice a lot of the same value for time@MetaData (-10.1689). This also is not in a container, but natively on Theia with 'module load jedi' and 'module load anaconda/anaconda3-5.3.1' It's only in the reference file once but it's the time value for almost all of the positions. This seems really strange to me.

[2019-06-21 17:24] srherbener commented on #191
@CoryMartin-NOAA, I just started looking at the differences, and I agree. I'm seeing the repeated values too (-10.16889). I suspect that we might be seeing the same results, so it may be repeatable but I'm not sure what's wrong.

[2019-06-21 17:29] CoryMartin-NOAA commented on #191
@HamidehGMAO any ideas? I think I found that you were the original author of this converter?

[2019-06-21 17:38] HamidehGMAO commented on #191
hmm, I'm in the middle of something right now, I can take a look in a couple of hours, But, I remember one of the Steve's subroutines ( I guess ncwrite) was just running with python 2.7 but not higher versions, it might be related to that!?

________________________________
From: Cory Martin <notifications@github.com>
Sent: Friday, June 21, 2019 1:29 PM
To: JCSDA/ioda-converters
Cc: h_ebrahimi; Me

[2019-06-21 17:49] CoryMartin-NOAA commented on #191
@HamidehGMAO no rush. It could be since I am using Python 3 but the weird thing is it has worked previously with the exact same version of Python and now it's not.

[2019-06-21 18:13] srherbener commented on #191
@CoryMartin-NOAA and @HamidehGMAO, I started looking into this and the issue seems to be single vs double precision floating point values for the time variable (which is in seconds since a reference time). I'm just printing out variable values on the working version (outside the container) and comparing to the same on the broken version (inside the container). The working version appears to be dou

[2019-06-21 18:31] CoryMartin-NOAA commented on #191
@srherbener is there a difference in the version of numpy (or even the C compiler that Numpy was made with)? Perhaps that is the issue. But again the weird thing is that it used to work and now it doesn't, so why would the precision change (and across multiple platforms). Unless it has to do with seconds since the reference time referring to the system time?

[2019-06-21 19:00] srherbener commented on #191
@CoryMartin-NOAA, where it works numpy is 1.16.4, where it fails numpy is 1.11.0.

This is definitely being a pain - it looks like the netcdf interface itself is changing the precision to single precision. The netcdf interface reports the variable as double, but returns truncated values! Not sure why it's doing this. The python netcdf4 libraries are different versions: working one is 1.4.2, the fa

[2019-06-21 19:43] srherbener commented on #191
@CoryMartin-NOAA and @HamidehGMAO, I got it fixed. The issue was that the input netcdf file is built incorrectly. The 'time' variable is double precision (has to be since it's seconds from Jan 1, 2000) but it's attributes 'scale_factor' and 'add_offset' are single precision. Changing these attributes to double precision fixed the problem (at least in my container, but I'm guessing this will fix Th

[2019-06-21 19:45] CoryMartin-NOAA commented on #191
@srherbener huh, fascinating. Good to know and great that you figured it out already!

[2019-06-21 21:10] guillaumevernieres commented on #191
Sorry for reopening this but I disagree with the current fix. ctest are there to detect problems, the PR associated with this issue only fixes the ctest, not the problem!
We can certainly ask RSS to fix their files, but this is going to take weeks/months/years, if ever. Can we unmerged the last PR? Sorry for being picky, but this is going to be a problem not too far down the road.

[2019-06-21 21:14] HamidehGMAO commented on #191
Yeah, You are right.

[2019-06-21 21:16] srherbener commented on #191
No problem. I'll revert the PR.

However the only alternative I can think of is to modify the netcdf interface supplied by Unidata, which I think suffers the same issue - it could be weeks/months/years if ever for the fix appears.

We cannot do anything about this in our scripts.

[2019-06-21 21:19] srherbener commented on #191
Okay, the PR has been reverted.

[2019-06-21 21:39] srherbener commented on #191
My argument is that the problem is the file and as such the file needs to be fixed. However, I do understand the potential difficulty of getting the supplier (RSS ?) to change their process.

Here is what I did to modify the input file. This changes the attributes (scale_factor and add_offset) to double precision with the same values they had before.
[code]

We could put this in as a step when we

[2019-06-21 21:53] srherbener commented on #191
Hi @guillaumevernieres, Let's track all the discussions in this github issue so can keep them all in one place. Here is your comment from the revert PR:

Thanks @srherbener, sorry for being picky, but that's a point of failure outside of ctest. @CoryMartin-NOAA , was it failing on Theia? It works on the container, which could also indicate that the netcdf module we use might not apply the scaling/

[2019-06-21 21:54] guillaumevernieres commented on #191
I'll have a look at the reading part, not all netcdf module apply the
offset/scaling. I could also just apply  your 2 ncatted lines in our obs
scripts (in soca), that might be the easier solution.

On Fri, Jun 21, 2019 at 5:39 PM Stephen Herbener <notifications@github.com>
wrote:

[2019-06-21 22:25] srherbener commented on #191
No problem about reverting the PR. Sorry I missed your feedback before I merged in the PR.

The SMAP SSS test passes outside the containers on my iMac. The test fails on Theia and inside CharlieCloud on my iMac. I'm assuming that this means that it would also fail in Singularity.

In this particular case, the time values are double precision and scale =1 and offset = 0 (ie, no translation) so if t

[2019-06-21 22:33] guillaumevernieres commented on #191
@srherbener : I agree.
Eric, who works at the GMAO is in contact with the SMAP science team (I think). @HamidehGMAO , could you have a chat with Eric and ask him who we should contact to have the problem fixed?
In the meantime I'll add your 2 nco lines to our script in soca.
It works on singularity for me, but my image is probably outdated.

[2019-06-21 22:58] HamidehGMAO commented on #191
Sure! I will talk with Eric next week
________________________________
From: guillaumevernieres <notifications@github.com>
Sent: Friday, June 21, 2019 6:33:52 PM
To: JCSDA/ioda-converters
Cc: h_ebrahimi; Mention
Subject: Re: [JCSDA/ioda-converters] test_iodaconv_smap_sss now failing on Theia (#191)

@srherbener<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fsrherben

[2019-06-21 23:01] srherbener commented on #191
@guillaumevernieres, this sounds great, thanks. And thanks @HamidehGMAO for helping to get the files fixed at the data center.

[2019-06-21 23:11] guillaumevernieres commented on #191
:+1:  So I guess you can revert^2 :)
We have an issue in soca to remind us to actually implement a fix! So we're all good with the merge of your previous pr.
Thanks for finding/fixing the issue.

[2019-06-21 23:13] srherbener commented on #191
Sounds good, I'll revert the revert :)

[2019-06-25 03:31] jmccreight commented on #54
@srherbener what's the take on xarray? https://github.com/pydata/xarray?
Does not seem like anyone is using it in ioda-converters, which surprised me. I would guess that the dependencies might be considerable. But it makes life incredibly easy, e.g. lazy operations and out-of- operations using dask.

[2019-06-25 14:01] srherbener commented on #54
@jmccreight, Thank you for bringing xarray to our attention. It looks interesting. We started with dictionaries using multiple keys (record, location, variable), where each key is a tuple of 3 or 4 items, and we are concerned about this creating a performance bottleneck. Would xarray allow us to label data with 2 or 3 key values (that are tuples)? If so, would it be faster than using a dictionary

[2019-06-25 14:10] CoryMartin-NOAA commented on #54
@srherbener @jmccreight My $0.02: If xarray (or Pandas, or something else/similar) can use compiled C and speed up performance of things like the dictionaries, then I think it might be a great option to pursue. Otherwise if performance is similar, I fear the added dependencies might not be worth it as it will only make it more difficult to port the ioda-converters to other platforms/systems.

[2019-06-25 14:20] srherbener commented on #54
@CoryMartin-NOAA, good point! I hope that one of these alternatives pans out for us.

[2019-06-25 14:44] aerorahul commented on #54
@srherbener @CoryMartin-NOAA @jmccreight
My $0.02: `xarray` and `pandas` are both awesome, but, the interfaces are still evolving (AFAIK) and thus puts a heavy burden on the users to keep backward compatibility alive.
I have used both extensively.

[2019-06-25 15:57] #191 closed

[2019-06-25 16:01] #100 closed

[2019-06-25 16:03] #185 closed

[2019-06-25 16:04] jmccreight commented on #54
@srherbener @CoryMartin-NOAA @aerorahul
Thanks for the discussion. That is helpful as I'll being starting an obs converter sometime in the next few weeks (2 weeks vacation increases uncertainty in the start date... but i'll open an issue about it when it gets closer to happening).

xarray would be my go-to, so now I have context for what's required and the potential pros and cons. I will consider

[2019-06-25 18:11] srherbener commented on #54
@jmccreight, that's a good example. The script is building a dictionary that has three "indices", as shown on line 61 in your comment, where the first index has just one key value equal to zero. The general format is:
[code]

record_key can be a tuple that holds things like a weather station ID, aircraft flight ID, station elevation, balloon launch time, etc. The idea behind the record is to keep

[2019-06-26 16:57] travissluka commented on #156
I'm unable to recreate this behavior. Any relatively recent version of nccmp should work even if the hidden variables are different. Closing

[2019-06-26 16:57] #156 closed

[2019-07-09 17:12] ytremolet opened #198 "ODC"
Understand what's in the package and test.
Compare with netcdf.

[2019-07-16 20:18] CoryMartin-NOAA opened #200 "Ensure units are kept when subsetting and combining obs from GSI"

[2019-07-16 21:04] CoryMartin-NOAA commented on #200
And when running combine_conv.py also!

[2019-07-18 14:29] CoryMartin-NOAA commented on #200
Should be addressed in PR #199

[2019-07-18 14:29] #200 closed

[2019-07-31 16:00] CoryMartin-NOAA opened #202 "Direct conversion of NCEP BUFR data to IODA (skipping GSI processing)"
Sooner rather than later, we need to have the abillity to take NCEP BUFR data files that are available operationally (and archived) as part of the GFS/GDAS dump, and convert them directly to IODA netCDF files (or ODC, whatever will be used) and bypass processing using the GSI observer.

[2019-08-02 19:00] CoryMartin-NOAA commented on #202
@srherbener are there any plans to make the NcWriter class available for C++ (or is it theoretically possible to just use the NetcdfIO.cc file from IODA?) to develop a compiled executable to do this task. Thinking ahead (in the not too distant future) of operations, I think that Python scripts will have too much overhead to do the BUFR to IODA conversion in real time.

[2019-08-02 19:16] srherbener commented on #202
@CoryMartin-NOAA, I have it on my list to create a Python and Fortran (the BUFR parser is written in Fortran) interface for the IodaIO class (of which the NetcdfIO class is a subclass). I agree that we will likely need a compiled executable to process the operational BUFR files, and this work will allow us to continue using Python and add the capability to write a converter all in Fortran. (We wou

[2019-08-02 19:26] CoryMartin-NOAA commented on #202
@srherbener I believe the plan is for the fall to have the UFO working as part of the GSI EnKF as the first piece to test for operations. I don't know exactly how soon we will need to have this piece ready (can be something to discuss in greater detail during the UFO code sprint in a couple of weeks).

If you're referring to the NCEP BUFR library written in F77, there is an alternative keeping wit

[2019-08-02 19:32] shlyaeva commented on #202
For the UFO as part of GSI EnKF, my first iteration plan was:
- run GSI observer on the ensemble mean
- convert GSI diags to ioda files
- use these files to run UFO for the ensemble members
either:
- EnKF runs with ioda file[s] output from ufo
or
- converter is run to convert ioda files to GSI diags format (one probably doesn't even need to convert the whole file, just copy H(x) result)
- EnKF run

[2019-08-02 19:34] shlyaeva commented on #202
then, when QC and bias correction are fully ready in UFO, one could skip GSI observer completely and then we'd definitely need converters from bufr to ioda.

but I agree it's best to get started on the converters soon.

[2019-08-02 19:53] CoryMartin-NOAA commented on #202
@shlyaeva with your first iteration plan I still fear that the current Python-based ioda-converters for GSI diags to IODA are a non-starter operationally (but I'm not an expert on implementations), both from the dependencies of Python modules that are not available on WCOSS currently, and the computational cost. This plan should work but I think there would then have to be a compiled converter fro

[2019-08-02 20:06] ytremolet commented on #202
Would it be difficult to write a IODA file from GSI? And then run the EnKF from IODA files? Would that be more work than developing the converters? By how much?

[2019-08-02 20:16] CoryMartin-NOAA commented on #202
I suspect it will be a similar amount of work to do the modification to GSI as it would be to write a separate converter. However, I'm not sure that "forking" GSI and rewriting the ncdiag routines is the best way to go. I'm not sure if there are any users of the current formatted files, for example.

[2019-08-02 20:17] shlyaeva commented on #202
I suspect this will be a lot of work because of conventional obs. GSI would be able to write out all temperature obs in one file, and all wind obs in one file. UFO needs all radiosonde obs together, all aircraft obs together, etc.

[2019-08-02 20:20] CoryMartin-NOAA commented on #202
@shlyaeva good point. This is probably a good argument for doing a converter. Even the radiances would have to go from brightness_temperature_NNN to "Observation" with a new channel_index field.

[2019-08-02 20:20] srherbener commented on #202
I think no matter what we do, the interface to the IodaIO class is a key piece. We would want that for Python scripts, NCEP's Fortran library, eccodes C++ library, and a GSI to IODA file converter.

Should the interface to IodaIO be a higher priority than it is now?

I think we should be working on this sooner rather than later. At least have some discussion and get an initial schedule put togethe

[2019-08-02 20:21] shlyaeva commented on #202
EnKF only needs to read in obs and metadata, and I don't foresee problems with adding read of ioda files in EnKF (it should be very similar to reading ncdiag, with some caveats of brightness_temperature_NNN instead of Observation). I might be missing something here though.

[2019-08-02 20:24] CoryMartin-NOAA commented on #202
@shlyaeva no I agree I think the EnKF read part will be much easier than the high-performance write to IODA part. @srherbener I don't know if that collection of obs will be a big issue or not, as that is really just a design choice for combining all T,P,Q,U,V into one file. Is there any reason why IODA/UFO can't just read in sondes_T, sondes_uv, etc. for this real-time application?

[2019-08-02 20:26] CoryMartin-NOAA commented on #202
Also, @srherbener IMO I think the IodaIO should be a high priority because I don't think there's a possibility of getting this running with GSI on WCOSS without compiled converters. There's something like 20 mins allowed total for GSI to run (not sure about the GDAS EnKF), but every second will count, particularly for GFSv16 with the 127 layer model.

[2019-08-02 20:29] shlyaeva commented on #202
@CoryMartin-NOAA: agree on a possibility of using sondes_T, sondes_uv, etc.

[2019-08-02 21:31] srherbener commented on #202
IODA is in a prototype stage now and we, of course, want to move it toward production quality this year. Discussions like this are very important and helpful with this goal, so I appreciate this one.

The memory store in IODA needs to be efficient for radiance data (at the potential expense of conventional data storage) since the amount of radiance data far exceeds that of conventional data. This

[2019-08-02 22:54] CoryMartin-NOAA commented on #202
Hi Steve,

The concern here is two fold.

The main problem is the converters as they are now are too slow. In
operations, on time products are key. So for us to even test this with the
operational workflow, we cannot take more than a couple minutes longer than
it is now to do everything extra that needs to be done for processing. If
we are taking several minutes to process in each direction, it’ll

[2019-08-05 14:11] CoryMartin-NOAA commented on #202
https://www.nco.ncep.noaa.gov/idsb/implementation_standards/Implementation%20Standards%20v10.2.pdf
Just adding the NCO implementation standards document here for reference since I mentioned they have rules/guidelines on operational systems.

[2019-08-05 22:42] srherbener commented on #202
@CoryMartin-NOAA, thanks for the information!

I think my confusion is coming from my thinking that the UFO in GSI EnKF mode would be running outside of production runs, and I'm guessing that you are thinking of this being run inside of production runs. I'm coming up to speed on this topic, and my view of this being run outside production may not be in alignment with the way anyone else is viewing

[2019-08-06 12:36] CoryMartin-NOAA commented on #202
@srherbener No worries at all. Even if it is running outside of production (a parallel run), it will have to be set up to mimic what will happen in operations and tested for several weeks unattended before it can be cleared for transitioning to production.

I don't think we need to have anything done before Aug 20, so we can just have a more serious discussion about this during the code sprint. I

[2019-08-06 14:38] srherbener commented on #202
@CoryMartin-NOAA, sounds good and thanks for being flexible. I agree with bringing this up now, so thank you for doing that.

We are certainly open to using eccodes. It is open source and already has C++, Fortran and Python API's which makes it an attractive option. I think it's well worth investigating so I just want to let you know that we are not tied to the NCEP Fortran library.

[2019-08-06 15:08] CoryMartin-NOAA commented on #202
@srherbener I had some issues getting eccodes to compile on Theia (but not in the singularity container, it worked there), however I'm sure it's just user error (and I didn't try very hard). I agree it's the more attractive option but using the NCEP BUFR might be the way to go if the short-term goal is getting it to run "operationally"

[2019-08-08 15:41] flampouris opened #204 "ncep_classes.py updates"
A couple of updates are needed for the ncep_classes.py

- Remove the prepbufr/ bufr separation; it does not offer something extra as long, the bufr tables are used;

- Generalize the use of the message name, e.g., NC001002 or ADPUPA or radiosonde, etc. The fast update instead of generalization: There is an if statement to select a different kind, currently this does not fail (I have to spend some

[2019-08-12 23:22] jmccreight opened #206 "SNODAS snow observations to IODA format"
This is a longer term goal (maybe not an epic?) to build this converter generally.

The main complication at the start is that the inputs are a bit of a moving target. The SNODAS observations are currently compiled by that (SNODAS) operational system, but we want to make them available through IODA.

There may be several different incarnations of this converter over time, or it may need to take di

[2019-08-12 23:24] jmccreight commented on #206
Dear @travissluka and @srherbener, I would be grateful for a bit of advice on how best to model this new coverter. I've been looking at `src/` a bit and I sort of randomly (though not entirely) settled on copying the approach on the code in `src/marine/gds2_sst2ioda.py.in`

Before I go too far in that direction, I figured I should ask if that's a good choice or if you would point me to a different

[2019-08-13 15:58] srherbener commented on #206
Hi @jmccreight, not only having the inputs be a moving target, we are also in transition with the converters. Currently, they use a Python stand-alone class called NcWriter and we want that class to eventually use the writer built into IODA. Also, the performance of the Python scripts is of concern for operational use and we will likely be pulling more functionality into compiled executables.

I w

[2019-08-21 20:03] CoryMartin-NOAA opened #208 "Converter for radar observations"
Need GSI ncdiag capability for creating radar reflectivity and radial winds observations and GeoVaLs.

[2019-08-21 20:03] CoryMartin-NOAA commented on #208
@ywangwof I won't yet merge this but there's a working version in branch feature/gsincdiag_radar for you to try (and modify as needed)

[2019-08-28 20:32] CoryMartin-NOAA opened #214 "Add @TestReference to GSI diag scripts"
For comparing computations from GSI to computations from functions in UFO

[2019-08-29 23:17] jmccreight commented on #206
It's functional...
https://github.com/JCSDA/ioda-converters/tree/feature/snodas
I just realized that I did not include any data yet. So there's a bit of a vacuum. Need to pare the data and write a test for it still. But we can discuss the inner workings.

[2019-08-30 16:03] srherbener commented on #206
@jmccreight, sounds great. I think the next step would be to submit a pull request and request two or three of us to review. You might want to do the steps you noted (pare the data, add a test) before submitting the pull request.

One thing I noticed is that it looks like you need to merge the current develop branch into your feature/snodas branch. You can do this by the following:
[code]

It's a

[2019-09-12 17:01] #214 closed, assigned to CoryMartin-NOAA, ADCollard

[2019-09-16 16:59] srherbener opened #217 "Remove reference time/offset time format of time stamps from output ioda files"
IODA can parse the absolute date, time stamp in ISO 8601 format, so there is no need for the reference time/offset time style of date, time stamps.

[2019-09-16 17:16] srherbener commented on #53
@guillaumevernieres, what is the urgency of this issue? We are looking at replacing the vector storage with n-dim array storage in the ObsSpace container now. This change should be sufficient to accommodate the wave spectra data. We would still need to work on the converter script.

[2019-09-16 17:18] srherbener commented on #198
We now have and odc-bundle repo which builds the odc and odyssey repos. There exist ~200 tests (ctest) which are all passing now.

[2019-09-17 17:25] emilyhcliu opened #218 "Add new file (obsdiag) containing diagnostic information from GSI for QC development in UFO"
There are obs and geoval files used in UFO for development.  To develop the capability of data quality control in UFO, information such as Jacobians from observation operator are required to implement the QC component in UFO.  Therefore, a separate file called obsdiag is created to store the required information.  In addition, tropopause pressure is also added into the existing geoval file.

[2019-10-07 17:34] svahl991 opened #221 "Missing variables in GSI ncdiag files cause inconsistent format in IODA-converted files"
Our group has been performing MPAS model experiments using the 1-month of cycling data provided in the ncdiag files at http://data.jcsda.org/gsidiags'+yyyymmdd+'.tar.

We take these ncdiag files and use the ''proc_gsi_ncdiag.py" converter script followed by the "combine_conv.py" to create a IODA file containing all the radiosonde conventional obs (t, q, u, and v) for each time period, that we then

[2019-10-07 17:43] CoryMartin-NOAA commented on #221
To clarify, are there input radiosonde q observations valid at that analysis cycle or are there no input observations? It seems weird that it would only be an issue for one cycle. Generally speaking, I do not like the combining of the variables (T,P,Q,UV) into one file as it can cause this sort of issue. The way GSI is set up is it only has the fields it needs in the routines to generate H(x) and

[2019-10-07 18:05] svahl991 commented on #221
I believe that there are no input radiosonde q observations for that cycle. When I examined the ncdiag 'conv_q' file for that cycle, there were no values of '120' present in the "Observation_Type" vector, and that appeared to be the only 'conv_q' file for all the cycles where that was true. I am assuming that the '120' value corresponds to the radiosonde q value? I could be wrong. I've never worke

[2019-10-08 20:16] jjguerrette commented on #221
As far as postprocessing, I think either combined or individual files for a single ObsSpace can be handled.

Our group is trying to get the discussion started, not to prescribe a solution at this point.  The leading driver of the workflow is getting obs into IODA/UFO.  We are trying to get the post-processing to work with whatever that upstream procedure looks like.

To be honest I have not given

[2019-10-09 00:29] flampouris opened #222 "emc_ice has two bugs"
1.   The script has "import DefaultOrderDict" when the correct is "import DefaultOrderedDict" --> Fixed

2. Original version has a date_time_group variable=0 , to be updated.

[2019-10-09 13:40] flampouris commented on #222
The reader has been updated at branch bugfix/emc_ice.
@guillaumevernieres please check the ncwriter

[2019-10-10 18:01] #222 closed

[2019-10-11 19:14] shlyaeva opened #226 "Additional fields for ioda files from GSI ncdiag files"
For NOAA-EnKF w ioda files connection we'd need some additional fields in the files. I am starting the list below:
- radiances: Press_Max_Weight_function

[2019-10-14 19:48] srherbener commented on #218
@emilyhcliu, is this issue closed now that UFO #219 has been merged? Thanks!

[2019-10-14 19:52] srherbener commented on #204
@flampouris, is this issue closed with the recent updates to ncep_classes.py? If it is agreeable with you, the parts of this issue that are not finished yet could be listed in new issues (one per task), and then close this one. Thanks!

[2019-10-14 20:08] flampouris commented on #204
@srherbener These are still open issues that I did not have the time to address, except the python2/3 problem at feature/ncep_class_updates branch.

I do not know what @emilyhcliu is planning to do with the ioda-converters, but I hope that we can coordinate to address them.

Otherwise we can close the issue and I will reopen it when I have some time.

[2019-10-14 20:13] srherbener commented on #204
@flampouris and @emilyhcliu, let's leave this open for now until you get your plans squared away. I want to make sure we remember to do this work (whenever it makes sense to do so).

[2019-10-14 20:15] srherbener commented on #181
I'm assuming that this will become a moot point once the "calculate bias coefficients on the fly" feature is merged in. Is this correct?

[2019-10-14 20:46] srherbener commented on #190
@markjolah, can this issue be closed now? Thanks!

[2019-10-14 20:50] srherbener commented on #150
Since I haven't heard for a long time, I'm going to close this issue. If there is still a problem, please open a new issue and we will get that addressed. Thanks!

[2019-10-14 20:51] #150 closed

[2019-10-14 21:47] emilyhcliu commented on #218
Yes, It should be closed.  I am closing it.  Thanks.

[2019-10-14 21:47] #218 closed

[2019-10-22 15:50] travissluka opened #228 "large files that should have been in git-lfs"
ioda-converters is larger than most the other repos, it seems some binary files had been snuck into the history without using git-lfs. These should be removed (is it too much of a pain to rewrite history at this point??)

[code]

[2019-10-22 17:11] mer-a-o opened #230 "Implement Automated testing for ioda-converters repository"
- [x] Travis-ci
- [ ] CodeBuild

[2019-10-22 19:12] #58 closed

[2019-11-12 18:27] #230 closed

[2019-11-15 22:04] jjguerrette opened #233 "Missing value handling in gnssro converter needs update"
It is possible that, by removing the test formerly on line 316 of ioda/src/fileio/NetcdfIO.cc (IODA PR [365](https://github.com/JCSDA/ioda/pull/365)), i.e.,
![image](https://user-images.githubusercontent.com/20328709/68978640-9269b700-07b8-11ea-82ea-992b4c4ecbb8.png)
values that should be recognized as missing in gnssro obs files (`-9.899999e+15`) are no longer recognized as missing.  Without sett

[2019-11-15 22:14] jjguerrette commented on #233
Notably, there are no missing refractivity values in the small gnssro test file.  That is the only file used for the `GnssroRef` operator in gnssroref.yaml.  The medium and large files do not contain refractivity.

[2019-11-15 23:49] guillaumevernieres opened #234 "GNSSRO test failing in develop"
Just reporting that test_iodaconv_gnssro_bufr_conv fails in develop. @hailingz , I assigned you, since it seems you wrote the converter, but feel free to ignore or assign somebody else obviously.

[2019-11-16 00:41] srherbener commented on #234
@guillaumevernieres, thanks for the report. @hailingz wrote the converter, but @markjolah did the CMake configuration for the build and test. I replaced Hailing with myself and Mark for this issue.

The CMake configuration will only build and test if the netcdf and bufrlib libraries are found, so I assume that those exist in your environment.

I thought this was working in the containers and on He

[2019-11-16 12:26] guillaumevernieres commented on #234
@srherbener : Have a look at the [travis-ci output](https://travis-ci.com/JCSDA/ioda-converters/builds/136791287) from PR #232, it fails in the singularity container as well.
It looks like the converter was not built (executable not in the bin directory), but the test is being run, that's what I see in the container, I presume this is the same issue on travis-ci.

[2019-11-18 16:35] srherbener commented on #234
@guillaumevernieres, I just tried running in CharliCloud on my iMac. The build/test works okay for the default build mode (--build=RelWithDebInfo), but get the same failures as Travis-CI in debug build mode (--build=Debug). The issue is that in debug build mode the netcdf fortran library (libnetcdff.so) does not get included in the link command for the GNSSRO fortran converter program. This is the

[2019-11-18 17:22] srherbener commented on #234
@guillaumevernieres, I can get this to work by using ecbuild 3.1.0 in my CharlieCloud container. (The containers are using ecbuild 2.9.4). I'm not sure about all of the ramifications of installing ecbuild 3.10 in the container, but that would be the ideal solution. I'll ask @mmiesch about this.

[2019-11-18 19:07] srherbener commented on #234
I found a workaround that is compatible with ecbuild 2.9.4 and 3.1.0, and I have committed that workaround to the cryosat PR (#232). If this passes the Travis-CI test, then I think we are good to go.

[2019-11-18 19:26] markjolah commented on #234
This is a bug with ecbuild `FindNetCDF4.cmake`.  It produces an invalid `NETCDF_LIBRARIES`  CMake variable.  The correct place will be to address will be in ecbuild.  I can look into this later this week.  For now we can use @srherbener's patch.

[2019-11-18 19:31] srherbener commented on #234
@markjolah, no need to debug, the FindNetCDF.cmake script in ecbuild 3.1.0 returns a valid NETCDF_LIBRARIES variable so the problem has already been addressed. Once we move all stacks (HPC, containers, etc) to ecbuild 3.1.0 we can get rid of my patch.

[2019-11-18 20:02] mmiesch commented on #234
As far as I know, all containers (gnu, intel 17, intel 19) should be up to date with ecbuild 3.1.0 or later (ecbuild/ecmwf-develop).  If this is not the case let me know.  I think the new clang container is still using jcsda-release-stable so I need to update that but the others should be good.  And, all environment modules on Cheyenne, S4, Discover, and AWS should be using ecbuild 3.1.0 or ecmwf-

[2019-11-18 20:34] srherbener commented on #234
@mmiesch, on my iMac I tried this copy of CharlieCloud `wget http://data.jcsda.org/containers/ch-jedi-latest.tar.gz` and when I ask ecbuild for its version, I get this:
[code]

Tried Sinugularity as well:
[code]

Perhaps, I'm downloading the images from the wrong repositories?

[2019-11-18 21:22] mmiesch commented on #234
Ok - I updated the intel containers - I'll check gnu.  I'm occupied with SC19 today but I'll get to it by tomorrow.

[2019-11-18 21:23] markjolah commented on #234
I am getting success with jcsda/docker-gnu-openmpi-dev which has ecbuild 3.1.0.  It seems the older jcsda/docker was not updated with the newer ecbuild.  Is this older container deprecated now that we have gnu and intel containers?  It seems @srherbener is using Signularity and CC containers that are based off of the jcsda/docker images as it has the same version of ecbuild.

[2019-11-18 22:18] mmiesch commented on #234
Yes - let me fix this tomorrow - maybe tonight - it has to do with name changes when the number of containers went from one (gnu-openmpi) to four.  It's just bookkeeping - I'll keep you posted.

[2019-11-18 22:26] srherbener commented on #234
@mmiesch, thank you for helping with this! No need to rush. It would be fine to wait until tomorrow to start.

[2019-11-19 03:38] mmiesch commented on #234
Ok - the Charliecloud and singularity containers should be up to date with ecbuild develop (3.1.0 plus the URL capability that @mer-a-o wants to use for testing).  Also, the clang container has been updated - there's a docker version on docker hub and a charliecloud version here:
[code]
I still need to update the docs and web page.

[2019-11-21 23:04] hailingz commented on #233
Could you @jjguerrette please try the branch feature/gnssro_missing_value in which I added the
_Fillvalue? I have some trouble using the Cheyenne netcdf4-python module when doing ioda-converter. Executing bufr2nc.py script gave me "ImportError: No module named ncepbufr".
Do you have any advice on the python netcdfbufr?

@srherbener
Do you know if adding "_Fillvalue" in the ioda netcdf file should

[2019-11-21 23:52] srherbener commented on #233
@jjguerrette and @hailing, the IODA reader should recognize the fill value attribute and substitute the JEDI missing values accordingly. I believe that the 'v' is capitalized in the attribute name. Here's the netcdf doc excerpt:

----------------

_FillValue

The _FillValue attribute specifies the fill value used to pre-fill disk space allocated to the variable. Such pre-fill occurs unless nofill

[2019-11-22 23:25] #233 closed

[2019-11-23 00:30] jjguerrette commented on #233
Thank you @hailingz, @junmeiban, and @srherbener for your quick work.  Have a great weekend!

[2019-12-04 23:38] #234 closed

[2019-12-09 19:58] markjolah opened #239 "GNSSRO ioda-converter " Input file contains variables with excess number of dimensions""
Getting this error from `fv3jedi_hofx.x` when using IODA format NetCDF files generated with the gpssro ioda converter.
[code]

Talking to @srherbener this may be related to incorrect column variables.  Here is the output of `ncdump -h`:
[code]
Any ideas which variables are generating the warning?  I can provide links to example files on S3 if helpful.

[2019-12-09 20:50] srherbener commented on #239
@markjolah, it looks like ioda should not be complaining about this file. Could you send me a link to the file and I can figure out why the warning is being issued.

Thanks!

[2019-12-09 21:48] markjolah commented on #239
Thanks Steve.  Here is one file of many from the `ioda-jedi-realtime` S3 bucket:[`ioda_gnssro_cosmic_PT6H_20190708_2100Z.nc4`](https://ioda-jedi-realtime.s3.amazonaws.com/gnssro/cosmic/PT6H/2019_07/ioda_gnssro_cosmic_PT6H_20190708_2100Z.nc4)

[2019-12-19 20:33] #239 closed

[2019-12-31 20:06] jjguerrette opened #242 "Geostationary IR processing"
Has anybody moved the processing of geostationary instruments (e.g., ABI, AHI) past the initial test stage?  The basic capability was demonstrated in UFO PR [#432](https://github.com/JCSDA/ufo/pull/432).  This needs to be extended to more dates, possibly including the 15 April - 15 May 2018 test period.

What steps are needed?

[2020-01-07 00:34] jjguerrette commented on #242
For MMM purposes, the assimilated quantity needs to include:
 + superobbing due to low model resolution
 + cloud detection
   1. First for removal of cloudy pixels or groups of pixels
   2. then for calculating cloud fraction of super-obbed pixels to be used in all-sky DA experiments

IODA formatted files need to include both clear and cloudy pixels.  If there is a data flow that already includes

[2020-01-07 17:58] srherbener commented on #242
@jjguerrette, I have it on my list to do multi-dimension storage in the ObsSpace container. A small amount of progress has been made for this, but nothing substantial yet.

I'm currently working on doing performance testing of the ODC reader in IODA (feature/odc-reader branch). The purpose of this is to provide some input for the upcoming decision between netcdf and ODB file types for obs data. On

[2020-01-07 20:32] jjguerrette commented on #242
Based on our offline discussion, I will work on a prototype converter for ABI in Fortran with MPI capability.  The reader will come from code previously written for WRFDA.  It will be trivial to add super-obbing to that reader and to exercise a subset of cloud detection tests that do not require CRTM outputs.  I will borrow the NC writer from @hailingz's GNSSRO converter.  To the extent possible,

[2020-01-09 00:31] jjguerrette commented on #242
Ok, one more update.  The cloud detection tests need information about surface type.  Thus some information from a model is needed.  Ideally UFO would provide that info.  However, due to other challenges of performing super-obbing and the remainder of cloud-detection in IODA/UFO, we have opted to use WRFDA as a pre-processing tool.  WRFDA will produce an intermediate NC file (analogous to the NCDI

[2020-01-09 00:33] jjguerrette commented on #242
Thus the ideal JEDI workflow is blocked by https://github.com/JCSDA/ufo/issues/447.  Probably this issue needs to be broken into smaller pieces.

[2020-01-14 23:10] jjguerrette opened #243 "Build on cheyenne"
I am having difficulty building on cheyenne.  I loaded the jedi/gnu-openmpi module, but ecbuild can not find the correct Python library:

[code]

@mmiesch @hailingz is this a known problem on Cheyenne or am I doing something wrong?

@svahl991 and @junmeiban, maybe you have some idea from previous experience.

Here is my ecbuild command:
[code]

[2020-01-14 23:26] mmiesch commented on #243
HI @jjguerrette - this is an issue we have been discussing - just today in fact.  The problem is that we cannot do a system install of python packages on an HPC system in such a way to make it accessible to everybody because we don't have admin privileges.  So, currently users have to install the requisite python packages on their own, in their own user space.  Eventually we'll provide comprehensi

[2020-01-14 23:50] jjguerrette commented on #243
It appears there is an alternative solution on cheyenne.  I ran ecbuild after loading the latest cheyenne module and entering the native NPL (NCAR Py Lib) environment:

[code]

That seems to work.

[2020-01-14 23:56] mmiesch commented on #243
Thanks @jjguerrette - good to know.  I guess odyssey isn't required yet for the test suite.  Is that right @srherbener?

[2020-01-15 15:43] srherbener commented on #243
Correct. However there is an optional build in develop for ODB files that is still dependent on the old odb-api library. This will be ported to the new odc/odyssey library soon. And there is a feature branch (nc2odb) that depends on odc/odyssey.

So, you are good for now without odc/odyssey, but it would be good for us to get those in place soon.

Thanks!

[2020-01-15 15:54] srherbener commented on #243
@jjguerrette, in your example ecbuild command, it looks like you might be pointing the prefix into the build area. Running `make install` in this case could potentially break the build area.

If I've got this right, you should pick another place to install that is outside your source and build areas. For example: `ecbuild --prefix=/glade/work/guerrett/pandac/install ...`.

[2020-01-15 18:38] jjguerrette commented on #243
@srherbener, I'm a little confused about the `CMAKE_INSTALL_PREFIX` flag.  When I set it to a different directory ($HOME/tools), it looks like I get copies of `bin/     etc/     include/ lib/ ` in that directory with the correct local location of lib prescribed in the binaries.  Then I have those some directories/contents in the build directory with the correct local location (build directory) pre

[2020-01-15 19:06] srherbener commented on #243
@jjguerrette, Sorry about the confusion. The build area gets `bin/ lib/ include/` directories for the purpose of building and testing programs/scripts that are part of that build. The install area mimics this, but is intended to be separate from the build area. This allows you to build, test and run `make install` providing all the data needed to use the libraries/programs/scripts that are part of

[2020-01-15 20:30] jjguerrette commented on #243
Thank you for the explanation.  That all makes sense to me now.

[2020-01-15 20:30] #243 closed

[2020-01-15 23:01] jjguerrette commented on #242
I have a working prototype for a WRFDA radiance ncdiag converter in feature branch `feature/wrfda_rad_diag`.  So far only the obs converter is implemented.  I do not know if we will need a geovals and/or obsdiag converter similar to GSI.

I tested this for an ncdiag file containing super-obbed goes-16-abi observations and the output looks reasonable.  The input file is 56MB and the output file is

[2020-01-15 23:20] srherbener commented on #242
Great news!

You would only need the geovals files if you plan to run ufo-bundle (ie, without a model) and want to test the obs operators, filters, etc. with the new geostationary obs data.

The test you describe is still too big for unit testing (ctest).  If you can take 100s of pixels from an image and get meaningful results, then it would make sense to create a fast running test for unit testin

[2020-01-18 01:42] jjguerrette commented on #242
I am working on creating a new obs and geovals file, because I would like to add a test for the new Cloud_Fraction geoval in UFO (https://github.com/JCSDA/ufo/pull/787).  The easiest way for me to do this that I see (already done) is writing an hofx feedback file and geoval file from an hofx application test with mpas-jedi.  This circumvents the need to convert from an old dataset (GSI or WRFDA),

[2020-01-23 20:49] srherbener commented on #242
@jjguerrette, sorry about the slow response. I think what you are doing is reasonable. You may still want the WRFDA hofx results for something to compare with as a check on the UFO results. (I'm thinking WRFDA since that is where the obs data came from.)

I'm going to add more assignees so that they can help with this.

[2020-01-23 22:07] jjguerrette commented on #242
When we use WRFDA as a converter and for cloud detection, we also use the GFS analysis as the background.  GFS does not have hydrometeors on their analysis output, meaning we can't simulate all-sky radiances.  So we would need to perform forecasts in WRF in order to initialize hydrometeors.  That adds a great expense to this preprocessing/conversion.

[2020-01-23 22:18] srherbener commented on #242
I thought for the obs/geovals generated from GSI that a model forecast is run, but we should probably hear from others since I'm not an expert in this process. I agree that it would be good to avoid having to run a forecast.

[2020-01-23 23:37] shlyaeva commented on #242
@jjguerrette: I think this is a good approach, and I agree with all your points on the clean-up of the output files.
The only other way to generate files that I can think of is to have some other system (GSI?) run with using Cloud Fraction and have it save the GeoVaLs. I do not know whether GSI or any other system uses this capability in CRTM. @emilyhcliu, @rhoneyager: do you know?

[2020-01-24 00:13] emilyhcliu commented on #242
@shlyaeva @jjguerrette  Yes, the cloud fraction can be generated from the GSI.  The current operational GSI does not run with cloud fraction, but the cloud fraction is stored in the GFS forecast files and can be used in CRTM.  I do have the plan to create the GSI diagnostic files with all hydrometeors and cloud fraction included.  The goal is to port the capability of assimilation hydrometeor-affe

[2020-01-27 17:05] jjguerrette commented on #242
Thank you @emilyhcliu for that useful description of your plans.  When the [UFO PR](https://github.com/JCSDA/ufo/pull/787) for cloud fraction geovals is merged, UFO will be ready.  We are already using this code with MPAS successfully.

@shlyaeva, so either I can generate both geoval and reference hofx files using mpas-jedi+UFO or we can wait on some equivalent output from GSI.  Or both.  Do you h

[2020-02-05 22:00] jmccreight commented on #206
[This commit](https://github.com/JCSDA/ioda-converters/commit/3108b0e7c6f2153a2e0cd3ae091739447e598df5) represents a MVP
1. it's tested
2. it does the basic conversion

Next:
1) There are lots of TODOs in the main script for potentially desired functionality.
2) Scope the IODA format requirements/conventions/best practices (as mentioned above) and ensure compliance good faith.

[2020-02-05 22:08] markjolah commented on #190
Closed by #212

[2020-02-05 22:08] #190 closed

[2020-02-05 22:27] markjolah opened #244 "gsi-ncdiag Converter: Eliminate nrecs"
Currently the `gsi-ncdiag` converter package is producing improperly formatted NetCDF IODA files.  These files are retaining a `nrecs` dimension and some are also retaining variables indexed by `nrecs`.  This is a problem, as these invalid `nrecs` indexed variables are preserved in the HofX output IODA files, and this can lead to problems concatenating the output HofX files from each processor.  A

[2020-02-05 22:38] markjolah opened #245 "gsi-ncdiag converter: Add units to variables"
Many of the IODA files produced by the `gsi-ncdiag` converter program are not adding units to the variables.  The existence of units in each IODA file can be confirmed with `ncdump -h <file>`, which will list any units specified.  Most likely for each IODA file, the variables in groups `@ObsValue`, `@ObsError`, `@GsiHofx`, `@GsiHofxBc`, `@GsiFinalObsError`, `@GsiAdjustObsError` should all have the

[2020-02-05 22:47] markjolah opened #246 "gsi-ncdiag converter: Missing GsiHofX groups"
Some of the ouput files from `gsi-ncdiag` converter are missing the `@GsiHofX` and associated groups like `@GsiHofXBc`.

In particular, the following files seem to be incomplete (there may be others):
* sst
* gps_bend,

Example of missing `@GsiHofX` variables
[code]

[2020-02-06 09:12] emilyhcliu commented on #244
@markjolah I will look into this.

[2020-02-06 13:04] emilyhcliu commented on #246
If any of the observation types is missing the GsiHofX, this means this particular data type has not been tested using the IODA file converted from GSI ncdiag file in UFO

[2020-02-06 13:11] emilyhcliu commented on #246
The GNSSRO development is not using  GSI files for IODA.  The GNSSRO file you have now is directly generated from raw data from IODA format, and the GsiHofX reference is not included.

[2020-02-06 13:19] emilyhcliu commented on #244
@markjolah  Here is my plan: I am modifying the IODA converter to remove nrecs related things, and also add units now.  I am dealing with satellite radiance data first and will send you AMSU-A from 2019070100 for testing soon.  Once you give me a green light, I will re-generate the whole month for all instruments.  I can generate the entire month of obs data in 1-2 days (if machines behave normall

[2020-02-10 20:11] emilyhcliu commented on #244
@markjolah @cyberbass The updated obs files for 2019070100 can be found on s4 at the following location: /data/users/eliu/AOP75/2019070100_new/obs

Things fixed in this updated data set are:
(1) Removed obsolete "nrecs" dimension from obs files
(2) Added units to GSI reference variables (e.g., @GsiHofX)
(3) Added  @GsiHofX and @GsiHofXBc for sea surface temperature in SSTS obs file

Please let me

[2020-02-10 20:13] emilyhcliu commented on #245
@markjolah @cyberbass The updated obs files for 2019070100 can be found on s4 at the following location: /data/users/eliu/AOP75/2019070100_new/obs

Things fixed in this updated data set are:
(1) Removed obsolete "nrecs" dimension from obs files
(2) **Added units to GSI reference variables (e.g., @GsiHofX)**
(3) Added  @GsiHofX and @GsiHofXBc for sea surface temperature in SSTS obs file

Please let

[2020-02-10 20:14] emilyhcliu commented on #246
@markjolah @cyberbass The updated obs files for 2019070100 can be found on s4 at the following location: /data/users/eliu/AOP75/2019070100_new/obs

Things fixed in this updated data set are:
(1) Removed obsolete "nrecs" dimension from obs files
(2) Added units to GSI reference variables (e.g., @GsiHofX)
(3) **Added  @GsiHofX and @GsiHofXBc for sea surface temperature in SSTS obs file**

Please let

[2020-02-10 20:17] emilyhcliu commented on #245
@markjolah @cyberbass
I was not able to generate the **geoval** file for sst correctly. I am debugging now. This will not affect jedi-rapids run since we only need obs files.

[2020-02-10 20:26] emilyhcliu commented on #246
@emilyhcliu @cyberbass GNSSRO data have not been tested and validated using ioda file converted from gsi ncdiag file. GNSSRO data is converted to IODA format directly from raw data.

[2020-02-10 21:36] srherbener commented on #244
@emilyhcliu, just want to double check that you will eventually be submitting a PR with these modifications. Thanks!

Also, how much work would it be to regenerate the GSI related obs files in the IODA test file set (April 15, 2018 dated obs files) using the new converter once it's completed? The concern is that something got changed that causes a test failure, and we don't discover what the issue

[2020-03-04 18:22] weihanucar opened #253 "ioda data structure for hyperspectral IR sounder radiance"
@srherbener @emilyhcliu
Currently, each channel has a separate variable for the radiance input netcdf file.
For  hyperspectral IR sounder radiance, there are 1000 to 16000 channels which could be a challenge to the current IODA netcdf data format.
I think it is worth having a conversation about how best to accommodate hyperspectral IR sounders with thousands of channels, and also other radiance da

[2020-03-04 21:21] srherbener commented on #253
@weihanucar and @emilyhcliu, I agree that having a separate variable for each channel is not a good implementation. We did it that way simply because there was not a way to accommodate  one variable with many channels in the initial IODA implementation. I am currently upgrading the IODA implementation to be able to handle mulit-dimensioned (more dimensions other than nlocs) data. Once that is done

[2020-03-10 16:03] emilyhcliu commented on #244
@srherbener
I would like to update ioda-converters in two steps (PRs)
The first one would be the following:
(1) add missing units for some variables
(2) remove obsolete variables
(3) add new variables

The second one is to remove "nrecs" dimension:
The GPSRO people told me that they are still using nrecs in GPSRO data.
Do we still want to remove nrecs?

[2020-03-10 17:07] srherbener commented on #244
@emilyhcliu, Thanks for bringing this to our attention. We do want to get rid of nrecs in the ioda obs files, and I think your plan is good.

The reader in IODA is ignoring nrecs in the file, and the reader itself is generating the nrecs value and associated record numbers. It's likely that we can removed nrecs and @RecMetaData variables and the GPSRO operators would not notice. I'll work this out

[2020-03-11 19:26] srherbener commented on #182
Looks like I missed closing this. Travis-CI has been running in ioda-converters for a while now.

[2020-03-11 19:26] #182 closed

[2020-03-18 16:19] srherbener commented on #244
PRs #256, #257, #258 have resolved this issue. The original PR (#255) that this issue was tied to was closed before merging and replaced by #256 which has been merged. Therefore I'm going to close this issue now.

[2020-03-18 16:19] #244 closed

[2020-03-19 20:47] ilianagenkova opened #259 "Add ProdGSI variables to gsi-ncdiag converter"
Created ProdGSI/wind_vars branch (from feature/files_for_jedi) to add 3 satwind variables to GSI_diags/diag_conv_uv_ges.2018041500_ensmean.nc4

Created ioda-convertesr branch to add 3 new satwind variables to ioda obs files:
origin/IGBG-ic-satwind
gsi_add_vars_uv = {
...
    'Errinv_Input': 'GsiInputObsError',
    'SWCM_spec_type': 'SpectralType',
    'SAZA_sat_zen_angle': 'SatZenAngle',
    'SCCF

[2020-03-19 21:47] ilianagenkova commented on #259
Renamed branch IGBG-ic-satwind to feature/ic-satwind to comply with Git-Flow naming conventions.

[2020-03-24 01:56] emilyhcliu commented on #259
@ilianagenkova Do you have the output file generated on HERA?  To begin with, we can check if the variables you need are in the output file.

[2020-03-24 15:02] srherbener commented on #259
@ilianagenkova, the next step would be to make a pull request (PR) out of the branch you created and ask some of us to review it.

Before creating the PR, you will likely need to update the test with a new "expected results" netcdf file. I believe that is the file that @emilyhcliu is asking about. I can help you get the new file installed in the proper place.

Thanks!

[2020-03-24 17:09] ilianagenkova commented on #259
@emilyhcliu
The GSI (diag_conv_uv_*) and ioda-converter (satwind_*) output files are in:
/scratch2/NCEPDEV/stmp1/Iliana.Genkova/JEDI_conv/output/2018041500/
I copied the new _obs_ files to /testinput_tier_1 already and confirmed that the ufo satwind tests completed ok.

@srherbener
Which test needs to be updated? The bundle that goes on S3?

I'll wait for your comments before I create a PR.
thanks

[2020-03-24 17:38] srherbener commented on #259
@ilianagenkova, I was referring to updating a test in ioda-converters. I was assuming that there was a test in ioda-converters for the GSI ncdiag satwind obs type, but I just checked and there isn't one.

There do exist two tests for the GSI ncdiag converters, one for conventional obs (surface virtual temperature) and one for radiance (amsua, aqua). There is a tradeoff between testing every possib

[2020-03-25 19:07] jjguerrette commented on #242
I'm closing this, because the ioda-converters aspect was addressed in #249.
https://github.com/JCSDA/ufo/issues/786 has two remaining items that cover the geovals/reference output issues for UFO.

[2020-03-25 19:07] #242 closed

[2020-03-30 16:50] ilianagenkova commented on #259
@emilyhcliu
Now there are
/test/testinput/gsidiag_conv_uv_testinput.nc
/test/testoutput/satwind_obs_2018041500.nc4
committed with the branch.

@srherbener and @CoryMartin-NOAA
/test/CMakeLists.txt  is updated to add test_iodaconv_gsidiag_conv_uv

[2020-03-30 17:12] CoryMartin-NOAA commented on #259
@ilianagenkova great! I look forward to the upcoming PR to review.

[2020-03-30 17:31] srherbener commented on #259
@ilianagenkova, sounds great! I tried your branch on my iMac and the test passed so it looks good.

It looks like you you need to merge develop into your feature/ic-satwind branch. Then you should be all synced up and ready to submit the PR.

Thanks for taking care of this!

[2020-04-06 17:46] srherbener commented on #198
@ytremolet, can this be closed?

[2020-04-06 17:59] #198 closed

[2020-04-06 18:17] srherbener commented on #181
@xinzhang8noaa, you don't need GSI bias correction parameters from GSI anymore, correct? In other words I should be able to close this issue.

[2020-04-06 18:22] srherbener commented on #204
@flampouris, @emilyhcliu what is the status of this work? Can this issue be closed? Thanks!

[2020-04-06 18:31] xinzhang8noaa commented on #181
Yes,  you can close, Thanks !

[2020-04-06 19:35] emilyhcliu commented on #204
@srherbener @flampouris I did not notice this issue was assigned to me until today. So I did not respond until today.  I apologize for my late response.  My use of ioda-converter is mainly to generate the test data sets from GSI NC diagnostic files.  The problem in this issue is related to the conversion of bufr to IODA format.  I have not run into a chance to work with ncep_classes.py before, so

[2020-04-06 19:42] #181 closed

[2020-04-06 19:48] srherbener commented on #204
Thanks @emilyhcliu! @flampouris is it okay with you to  close this. We can submit specific ZenHub issues in the future if anything comes up. Thanks!

[2020-04-08 15:54] flampouris commented on #204
@srherbener

 @YanHao-NOAA is currently working on the updates of the ncep_classes. Hopefully, there will be a PR in the next days or so.

I update the assignment.

[2020-04-08 16:44] srherbener commented on #204
@flampouris, thanks for the response. I'll move this issue to the "In Progress" stage.

[2020-04-08 18:55] flampouris opened #267 "Ocean color converters for VIIRS and MODIS"
Add converters in python  for ocean color L2 data from VIIRS and MODIS. The conversion is from the native format of the provider to ioda NetCDF.

The converters are needed for the Ocean DA activities.

[2020-04-12 21:57] ilianagenkova commented on #259
@CoryMartin-NOAA , @srherbener and @emilyhcliu ,

First off,  I had to update ProdGSI one last time (changes already pushed into feature/files_for_jedi) to extract more satwind BUFR variables.

Now gsi_ncdiag.py has two updated dictionaries:
all_LocKeyList = {
    ...
    'SWCM_spec_type': ('satwind_spectral_type', 'float'),
    'SAZA_sat_zen_angle': ('sensor_zenith_angle', 'float'),
    'SCCF_cha

[2020-04-13 15:16] #259 closed

[2020-04-14 13:39] danholdaway opened #270 "Input observation error"
There were some recent commits to gsi_ncdiag.py that have broken our ability to convert ncdiags on the GMAO side, I'm guessing also on the EMC side but I haven't tested there. I think this may be a bug. Specifically at line 1130 it is now requesting 'input_observation_error' from radiance files, which is not a variable we have, and I don't think is a variable that the EMC version of GSI outputs ei

[2020-04-14 13:40] danholdaway commented on #270
@markjolah please assign anyone else that may be able to help, I'm not sure who works on this the most at the moment.

[2020-04-14 13:53] CoryMartin-NOAA commented on #270
@danholdaway @emilyhcliu looks like it was added here: https://github.com/JCSDA/ioda-converters/pull/254 I remember Emily saying it was because the value we were using before was not correct. Is it simply a matter of merging in changes to GSI from feature/files_for_jedi?

[2020-04-14 13:59] danholdaway commented on #270
@emilyhcliu @CoryMartin-NOAA Is this something that has always been written to the GSI binary diags? Since at GMAO we are looking at running a converter from the binary diags to ncdiags and then the to ioda converter. We are going off the operational system so merging new things into gsi isn't really an option.

[2020-04-14 14:02] CoryMartin-NOAA commented on #270
@danholdaway Emily would know more than I. I have never used the binary diags. Perhaps the converter will have to be modified? Or else we can add logic to the GSI ioda-converter to fall back if that variable doesn't exist? It may only be an issue for all-sky radiances.

[2020-04-14 14:10] danholdaway commented on #270
I was looking at some of the GSI diag files, not sure how up to date they are, and it seems some files have input_observation_error, but not all of them.

[2020-04-14 14:39] srherbener commented on #267
@flampouris, please add an estimate to this issue. Thanks!

[2020-04-14 14:41] srherbener commented on #270
Could someone please add an estimate to this issue. Thanks!

[2020-04-14 15:26] emilyhcliu commented on #270
@danholdaway The "Input_Observation_Error" field saves the original observation error assignment.
The dimension is number of channels.  It contains the error assignment save in the following nc_diag field:
         do i=1, nchanl
              n=ich(i)
                 :
              call nc_diag_chaninfo("error_variance", varch(n))
         enddo

This is Ok for instruments assimilated under cle

[2020-04-14 15:31] emilyhcliu commented on #270
@danholdaway Are you using the information saved in the "Input_Observation_Error" in the assimilation?  My guess is not, since it contains original observation error and what you need is the final observation error in the assimilation.

Are you using the GSI feature branch: feature/files_for_jedi?

[2020-04-14 16:06] danholdaway commented on #270
I see, so in order to have Input_Observation_Error we need to be using feature/files_for_jedi in the GSI. Since we aren't using that branch, the diags from from the operational system, is there a workaround? Can we put 1/Inverse_Observation_Error instead? Are you saying that would only impact All Sky?

[2020-04-14 16:20] emilyhcliu commented on #270
@danholdaway I see, so you have your own GSI branch for data conversion.
Yes, putting 1/inverse_observation_error works since the dimension is location and channel.
In ioda-converter, the "Input Observation Error" field is now a function of location and channel for all instruments.  IASI for example, it will be the same set of obs error values for all locations.

[2020-04-14 16:24] danholdaway commented on #270
@will-mccarty brining your attention to this thread regarding the email I sent you. Looks like we can do the 1/inverse hack for now.

[2020-04-16 22:39] srherbener commented on #77
@CoryMartin-NOAA, do you anticipate this getting completed in either April 2020 or May 2020. If so, please add the corresponding Milestone (OBS - April 2020, OBS - May 2020). Thanks!

[2020-04-16 22:39] srherbener commented on #206
@jmccreight, do you anticipate this getting completed in either April 2020 or May 2020. If so, please add the corresponding Milestone (OBS - April 2020, OBS - May 2020). Thanks!

[2020-04-16 22:40] srherbener commented on #246
@cyberbass, @emilyhcliu, do you anticipate this getting completed in either April 2020 or May 2020. If so, please add the corresponding Milestone (OBS - April 2020, OBS - May 2020). Thanks!

[2020-04-17 02:54] jmccreight commented on #206
@amfox37 ☝️

[2020-04-21 21:16] #267 closed

[2020-05-06 21:21] #77 closed

[2020-05-16 01:44] emilyhcliu opened #276 "OBS1.5.EMC21 IODA-converters development and enhancement"
The goal is to develop and enhance IODA-converters to process GSI NetCDF diagnostic files to IODA format for UFO development
---

### General-purpose of the GSI NetCDF diagnostics in IODA format
- [ ] Observation information (values, metadata, ... etc)
- [ ] Test references (HofX, ObsBias, ..etc)

[2020-05-21 01:42] emilyhcliu opened #279 "Prepare test data set with test references for radiosonde temperature observation"
@emilyhcliu commented on [Wed May 20 2020](https://github.com/JCSDA/ufo/issues/1079)

Make test data set with test references for radiosonde temperature observation

[2020-05-22 22:56] srherbener commented on #279
@emilycliu, could you add an estimate to this issue? Thanks!

[2020-06-03 20:17] srherbener opened #282 "Coding style error in marine convert scripts"
@gthompsnJCSDA got the following error when running ctest:

[code]

It seems that this has surfaced due to a newer version of pycodestyle. The ``iodaconv_marine_coding_norms`` test passes on my iMac. I've got version 2.5.0 of pycodestyle installed, and @gthompsnJCSDA is using version 2.6.0.

[2020-06-04 21:59] srherbener commented on #282
I've verified that the error that is being flagged is a new check (E741) that got introduced between version 2.5.0 and 2.6.0 (latest) of pycodestyle.

This E741 check is flagging variable names that are single letters that can be confused with numerical digits. I'm guessing in this case the variable 'l' (lower case ell) is being flagged because it looks like the digit 1 (one).

I think this is a r

[2020-06-05 14:09] #282 closed

[2020-06-05 23:39] srherbener commented on #154
I believe this issue is resolved now.

The NetcdfIO subclass on IodaIO class now checks each variable for an _FillValue attribute. If it exists the code uses the  value in the attribute to identify missing values, and if it doesn't exist it uses the netcdf default fill value to identify missing values.

The OdcIO subclass does the same thing for an ODB file using the ODC API to get the missing dat

[2020-06-10 18:55] CoryMartin-NOAA opened #286 "netCDF compression for IODA files?"
@YoulongXia-NOAA noticed that the IODA formatted VIIRS AOD files are larger than the original VIIRS AOD files from NESDIS in netCDF format. We realized that the NESDIS netCDF files use deflate_level=2.

Has there been any discussion on using ZLib lossless compression in IODA for saving file size?

[2020-06-11 16:23] srherbener commented on #286
The deflate_level=2 is going pretty light on the compression. The deflate levels for netcdf go from 1 to 9 with 9 being the highest level of compression. In the past, I've found that level 6 is a good tradeoff between compression efficiency and speed of IO. I would recommend changing to deflate_level=6.

I think that we have both szip and zlib available for compression. Is there a preference for o

[2020-06-11 16:26] CoryMartin-NOAA commented on #286
zlib is more universally accepted. We went through this with GFSv16 recently, supposedly szip is faster, but less efficient at compression, but is not standard. All netCDF4 installs will support zlib.

Would this need to be chosen in the IODA API or could there be an optional argument to choose the amount of compression used?

[2020-06-11 16:51] srherbener commented on #286
The new IODA interface allows you to select between szip and zlib, and it also lets you configure the compression level. We could make level = 6 and zlib be the defaults, if you think that would be helpful.

[2020-06-11 16:54] CoryMartin-NOAA commented on #286
I think the algorithm should be zlib by default, yes. As far as the level, I'll defer to you or someone else on what the default value would be. 6 is fine for now I think, and we can always change if needed.

[2020-06-14 03:07] emilyhcliu opened #287 "ctest failed for test_iodaconv_ncep_bufr"
@CoryMartin-NOAA @srherbener

I checked out the latest ioda-converters.  The build was OK, but ctest failed for test_iodaconv_ncep_bufr.

The error message is:
[code]

The previous version also uses "import ncepbufr"  and it built without a problem.   

I am wondering if you also see the same problem? 

[2020-06-15 00:44] srherbener commented on #287
@emilyhcliu, I'm going to be on vacation this week so hopefully @mmiesch may be available to help. This is working on my Mac and in the containers so I'm not sure what has changed.

I suspect that either ncepbufr got moved/removed or PYTHONPATH is not getting set properly. Python can find packages in standard locations (such as /usr/local/lib) but if a package is not in a standard location, PYTHON

[2020-06-15 12:44] CoryMartin-NOAA commented on #287
I agree with @srherbener , it seems like a python installation issue. Which version are you using? Is this on Hera?

[2020-06-15 14:29] emilyhcliu commented on #287
@CoryMartin-NOAA Thanks for looking into this.
I am using the following for python:

[code]

[2020-06-15 14:33] CoryMartin-NOAA commented on #287
Hmmm, Try Jong's Anaconda install:
module use -a /scratch2/NCEPDEV/marineda/Jong.Kim/save/modulefiles/

[2020-06-15 14:45] emilyhcliu commented on #287
@CoryMartin-NOAA
As you suggested, I use Jong's install:
[code]
That works!!  Thank you so much~~
I have another question about the module use for GSI.  I will open an issue there.

[2020-06-15 17:04] #287 closed

[2020-06-17 13:42] CoryMartin-NOAA opened #288 "TROPOMI NO2 converter"
To support development of TROPOMI NO2 UFO for NOAA HSUP2 WF1 project

[2020-06-19 22:07] emilyhcliu opened #291 "Create google spreadsheet documenting the mapping of BUFR Mnemonics to Unified IODA variables for radiance data"
**Create google spreadsheet that maps BUFR Mnemonics to Unified IODA Variables for radiance data:**

- [ ] IASI
- [ ] AIRS/AMSUA on AQUA
- [ ] CrIS
- [ ] AVHRR
- [ ] ATOVS - AMSUA, MHS, and HIRS
- [ ] ATMS
- [ ] SSMIS
- [ ] SAPHIR
- [ ] SEVIRI
- [ ] ABI (not operational)
- [ ] AHI (not operational)

---

Template for IODA-variable spreadsheet can be obtained from the following link:
https://drive.

[2020-06-27 00:01] srherbener opened #294 "Make interpreter explicitly python3"
In the spirit of phasing out support of python2, we would like to make sure python3 is being used. The primary change would be to make sure all the interpreter specs be of the form:
[code]

[2020-06-27 00:05] srherbener opened #295 "Formalize the packaging and distribution of python scripts"
Would like to get to a standard (best practice) way of building and distributing python scripts. This includes a manner in which to install python modules and packages so that top-level scripts can find them in a standard fashion.

[2020-06-29 16:39] srherbener opened #297 "Code coverage in auto testing"
If feasible, it would be good to add code coverage to the CI testing.

[2020-07-07 17:05] srherbener commented on #204
@YanHao-NOAA, does your current PR (#296) address everything remaining in this issue? If so, please attach this issue to PR #296. Also, in the initial description in PR #296, add the text `Closes #204` and when the PR gets merged, this issue will automatically get closed.

Thanks!

[2020-07-08 21:20] YanHao-NOAA commented on #204
@srherbener I did not notice this issue.
No, not all the problems in this issue were solved.
- Remove the prepbufr/ bufr separation; it does not offer something extra as long, the bufr tables are used; (Not solved)

- Generalize the use of the message name, e.g., NC001002 or ADPUPA or radiosonde, etc. The fast update instead of generalization: There is an if statement to select a different kind, c

[2020-07-10 15:59] srherbener commented on #204
Thanks for the response @YanHao-NOAA. At this point, I think it would be good to close this issue, and submit new issues, one each, to cover the bullet points that are not solved yet. Doing this will help us track and schedule these updates more effectively.

Could you do this? I think it would work to create two new issues, one each for the items you marked "Not solved". Let's not create an issue

[2020-07-10 21:45] YanHao-NOAA commented on #204
@srherbener , I think it is a good idea to close this issue. I will submit two new issues.

- Issue one : "remove the prepbufr/ bufr separation", I have a question about this issue: are we planning to drop everything related to prepbufr in this code?

- Issue two: "if statements should be based on bufr table, remove NetCDF variables", I will look into this one, not sure which variables were referr

[2020-07-10 22:37] srherbener commented on #204
@YanHao-NOAA, thanks for looking into this. I think the contents of your code should be driven by the people that will be using your converter. I'm not the one to decide if you should or should not include prepbufr.

It might be good to ask Stelios these questions since he was the one who originally submitted this issue.

Thanks!

[2020-07-11 15:21] flampouris commented on #204
Oh! That's from last August...

- There is no real reason to invest time on the first issue, it's a simplification for the user.
- I cannot recall the reason for the second issue, probably it has to do with some shortcut that I took during development.

If it was my call,  I would close this issue. Especially if there are plans for the new ioda engine and obs in BUFR. @srherbener apologies, I did

[2020-07-13 14:19] srherbener commented on #204
@flampouris, no worries about last week, and thanks for responding to this issue. I'll go ahead and close this now.

[2020-07-13 14:19] #204 closed

[2020-07-28 14:02] karpob opened #301 "units incorrect for ozone after update for ozone retrievals"
Ozone was updated globally as mass fraction in pull request #299 . For radiance geovals the units are actually in ppmv, not mass fraction. Revert this change back to the original value.

[2020-07-31 17:43] HamidehGMAO opened #303 "SSS convertors longitude shift"
SSS files longitudes are in the range of 0 to 360 degree. We are going to convert them to -180 to 180  to be consistent with the Gaussian filtering

[2020-07-31 18:59] jjguerrette commented on #303
Just to save you some time, if you are talking about the `Gaussian_Thinning` filter, then it was updated in the below PR to work with either convention.

https://github.com/JCSDA/ufo/pull/1135

[2020-08-01 01:16] HamidehGMAO commented on #303
Sounds great! Thanks a lot @jjguerrette

[2020-08-01 01:18] #303 closed

[2020-08-05 20:51] #301 closed

[2020-08-14 18:10] rmclaren opened #305 "Create src/bufr subdirectory for bufr converting code."
Create src/bufr and move move over source code which is currently available in https://github.com/aerorahul/bufr-tools/tree/feature/cplusplus_read_bufr.

The objective of this converter is to read in bufr files and create IODA data based on the contents of a yaml file.

[2020-08-14 18:14] rmclaren opened #306 "Modify BUFR converters to support 3D data if necessary."
Modify the source code in src/bufr to support 3D data if it is determined that there are BUFR files that require this. Currently the code supports 2D data.

[2020-08-25 22:26] #305 closed

[2020-08-25 22:27] rmclaren commented on #305
Successfully moved over to the soda-converter repo.

[2020-08-28 15:32] markjolah opened #313 "Cmake update for `feature/bufr-converter`"
This package no longer is ecbuild-based.   The `feature/bufr-converter` is a C++ package which was depending on ecbuild and will need to be refactored to work in standard CMake.

[2020-08-28 15:33] markjolah commented on #313
@aerorahul @rmclaren I will not have time to visit this issue until next week.  In the meantime you can probably keep working in the branch as it exists.  I will submit a PR against it.

[2020-08-28 15:35] aerorahul commented on #313
Thanks @markjolah Next week or the week after is fine.

[2020-08-28 19:21] aerorahul opened #315 "Unable to find ioda-engines from ioda-converters when in a bundle."
`jedi` and `ioda_engines` from ioda-engines are required libraries for mapping raw data into IODA objects.
In the ioda-converters, we are trying to find those libraries, while building in an ioda-bundle.

The ioda-bundle branch is: `feature/ioda-engines-ioda-integration`
The ioda-converters branch is: `feature/bufr-converter`

`find_package(jedi REQUIRED)` and `find_package(ioda_engines REQUIRED)`

[2020-08-28 19:44] aerorahul commented on #315
I am guessing the issue at the core is `ioda-engines` is vanilla cmake and not `ecbuild_project` and thus the other components of the bundle (in this case ioda-converters) does not know about where to look for `ioda-engines`.

[2020-08-28 20:03] srherbener commented on #315
@aerorahul, not sure what's going wrong. I'm finding jedi and ioda-engines okay with my work for ioda.

I'm using the feature/ioda-engines-ioda-integration branch in ioda-bundle, and the develop branch for ioda-engines.

Here's what I have in my ioda CMakeLists.txt file:
[code]

[2020-08-28 20:10] aerorahul commented on #315
@srherbener where in ioda are you using ioda-engines?
where is the find_package(ioda_engines) line in ioda?

[2020-08-28 20:12] aerorahul commented on #315
Ok. I see.
So there is no need for `find_package(ioda_engines)`
I will try that.

[2020-08-28 20:13] srherbener commented on #315
I believe that that you don't need the find_package command when using an ecbuild_bundle command.

[2020-08-28 20:15] aerorahul commented on #315
ioda does not need to do `find_package(ioda_engines)`? and yet you can do `target_link_libraries( ${PROJECT_NAME} PUBLIC ioda-engines )`

so how about when something is not using a bundle.

[2020-08-28 20:17] aerorahul commented on #315
Also, if I want to build ioda-converters out of the bundle I will need the find_package.  How do I keep that and skip it when I am in a bundle?  This implies I will always have to be in the bundle.

[2020-08-28 20:21] srherbener commented on #315
I don't think it hurts to have the find_package command when using the ecbuild_bundle method. And as you say, including the find_package makes it so you can switch back and forth.

I wonder if the issue is that the find_package is creating a different name for referencing ioda-engines than whatever ecbuild_bundle is doing. We've probably got some inconsistency somewhere in this regard.

[2020-08-28 20:26] srherbener commented on #315
I just looked at ecbuild_bundle source code and what it does is point the find_package search to the build area:

[code]

[2020-08-28 20:30] srherbener commented on #315
Do you have a ioda-engines package installed somewhere where find_package could locate it? Eg, in /usr/local or you have ioda_engines_ROOT set to where it is installed. If this is true, perhaps the ecbuild_bundle trick just confuses find_package or some other part of the cmake configuration. Maybe you need to unset the variable or uninstall ioda-engines if this is the case.

[2020-08-28 20:36] aerorahul commented on #315
@srherbener
No, ioda-engines is being built as part of the bundle. I don't set any variables.
I added:
[code]

And that works, although I don't have code in place for ioda-engines.

I had to remove the line `find_package(ioda-engines)` because it throws this error during configuration with ecbuild:
[code]

ecbuild or not, there should be a line in the top-level CMakeLists.txt that find's packages

[2020-08-28 21:00] aerorahul commented on #315
Since I can link ioda-converters with ioda-engines in the bundle, I will close this issue.
Thanks @srherbener

[2020-08-28 21:00] #315 closed

[2020-08-28 21:13] srherbener commented on #315
I agree, you shouldn't have to edit a CMakeLists.txt file when switching between ecbuild_bundle and using an installed library.

I wonder if we should leave this open to remind us to address this later on.

I'm glad you are up and working now.

[2020-08-28 21:20] aerorahul commented on #315
I think I will leave this issue closed.  @markjolah said he will refactor the `feature/bufr-converter` branch with removing ecbuild from it as he did in develop.  I think he will do it properly (and have a proper answer).

[2020-08-28 21:45] srherbener commented on #315
Sounds good. Thanks

[2020-08-31 18:35] CoryMartin-NOAA commented on #288
Closed by PR# #300

[2020-08-31 18:35] #288 closed

[2020-08-31 22:40] srherbener opened #317 "Remove obsolete odb/odc converters and tools"
The current scripts in src/ODB2 and src/odc are based on an experimental odb file layout of which we have decided not to use. Instead we will be using the UKMO/ECMWF file layout, and the Met Office will be contributing a converter/reader/writer for their layout in the near future.

Because of this, we need to get rid of the converters and scripts based on the experimental layout.

[2020-09-01 13:56] #317 closed

[2020-09-01 15:54] rmclaren commented on #315
Unfortunately the prescribed changes don't really seem to produce a working build... I've updated the ioda-converter feature/bufr-converter branch with my latest changes. If you look at src/bufr/CMakeLists.txt you will notice we're I manually specified a bunch of things in order to get make things work...

[2020-09-01 16:06] aerorahul commented on #315
I am going to let @markjolah handle that when he gets to it. This seems rather messy.

[2020-09-01 20:35] srherbener commented on #315
@rmclaren if the feature/bufr-converter branch CMake configuration is working for you now I would leave it as is until we get our c++14 compatibility issues straightened out. @markjolah has a set of PRs that will allow the usage of bufrlib or NCEPLIBS-bufr in ioda-converters, but these are being held up with the c++14 work. Once we get the c++14 issues resolved (which should be soon) and @markjola

[2020-09-01 21:05] srherbener opened #320 "ioda old file format to ioda new file format converter"
To facilitate the migration of converters and UFO obs operators and filters to ioda-engines, we need to be able to convert our existing ioda test data to the new ioda format. The primary feature of the new format is the storage of radiance data as a single 2D variable. We need to have both versions of storage (current - set of vectors, and new - single 2D variable) available so that we don't have

[2020-09-01 21:11] srherbener opened #321 "Create a matching set of the ioda test files in the new format"
To facilitate the migration of converters and UFO obs operators and filters to ioda-engines, we need to have the ioda test files in both the current and new formats. The primary feature of the new format is the storage of radiance data as a single 2D variable. We need to have both versions of storage (current - set of vectors, and new - single 2D variable) available so that we don't have to switch

[2020-09-03 01:10] markjolah commented on #246
This is not longer relevent.  Reopen if it becomes so again.

[2020-09-03 01:10] #246 closed

[2020-09-03 01:11] markjolah commented on #245
I'm not sure if this is still an issue, reopen if so.

[2020-09-03 01:11] #245 closed

[2020-09-03 13:07] rmclaren commented on #315
Sounds good, Thanks Steve!

[2020-09-14 02:07] aerorahul opened #325 "Update GODAE/FNMOC converters to ioda-engines."
The marine GODAE/FNMOC python converters will be replaced with the new IODA format dictated by IODA-Engines.

Tagging @guillaumevernieres @srherbener for awareness.

[2020-09-14 14:56] guillaumevernieres commented on #325
@aerorahul , thanks for doing that work. Marine obs are not part of the obs group yet, switched the milestone to soca.

[2020-09-14 23:18] markjolah opened #326 "Consolidate GIIRS converters and tests"
At present, there are multiple giirs converters under the ssec directory:

* The `giirs_ssec2ioda.py` (branch: [feature/giirs_ssec_perfomance](https://github.com/JCSDA/ioda-converters/tree/feature/giirs_ssec_performance)) is currently running on the NRT system and has received bugfixes for problems encountered with production datafiles.

* The `giirs_lw2ioda.py` is obsolete and un-testable by the

[2020-09-14 23:22] markjolah commented on #270
@danholdaway I suspect this is resolved by now?

[2020-09-14 23:30] markjolah commented on #286
I agree. Stick with zlib, because szip and other options are not so portable.  I think anything from `4-8` could be appropriate, I think `6` sounds reasonable.  Also definitely enable `shuffle` filter by default if `zlib` is enabled.  This reduced file size and improved performance in my (limited) tests, but is in general a great idea with our types of data.

[2020-09-15 13:28] danholdaway commented on #270
Yes, it is resolved.

[2020-09-15 13:28] #270 closed

[2020-09-21 15:59] ytremolet opened #330 "Move to ecbuild"
ioda-converters has to be build with ecbuild like the rest of JEDI.

[2020-09-23 18:28] #313 closed

[2020-09-25 15:19] rmclaren opened #332 "Fix BUFR Ingester exceptions."
Move ioda-converters/src/bufr to use eckit style exceptions instead of printing strings and aborting manually.

[2020-09-25 15:22] rmclaren opened #333 "Add support for transforms to BUFR code."
Add support for simple transforms when exporting mnemonic data from the BUFR converting code.

[2020-09-28 15:54] rmclaren opened #335 "IODA-converters YAML configuration changes."
- Support a list of input data (bufr, marine, or other)->ioda configuration pairs in the YAML configuration under a tag called observations. The parsers will be specified as "obs space" and the encoders will be specified in "ioda" sections.
- Add a nice way to add new types of parsers to the converter tool.

[2020-10-01 13:53] rmclaren commented on #335
Coding is done. I'm just awaiting Rahul's approval before submitting another pull request.

[2020-10-05 02:49] ilianagenkova opened #337 "Add Satellite ID and Generating Center info to satwind IODA obs files"
Adding Satellite ID and Generating Center info to satwind IODA obs files will allow for unambiguous differentiation between wind vectors from one and the same platform,  but from different  producers and/or one and the same channels for Cloudy or Clear air retrieved AMVs recognition.

[2020-10-06 16:53] lliu1220 opened #338 "Adding ioda-converter for marine glider BUFR data."
Converted EMC BUFR marine glider data into IODA format

[2020-10-06 16:57] lliu1220 opened #339 "Adding converter for marine radar radial velocity."
Converter for marine radar radial velocity has been built.

[2020-10-24 14:22] markjolah opened #347 "Bad git lfs file `test/testinput/odb_sonde_16019.odb`"
I have been getting persistent git errors with this file: `test/testinput/odb_sonde_16019.odb`.

When I clone this repo I get this error:
[code]

Then if the repo directory is moved to a new location,  I will see an error like this when I've never modified this file:
[code]

Then if I try to unmodify/restore the file, I get this same error repeatedly.
[code]

At this point I'm forced to delete and

[2020-10-27 18:52] #253 closed

[2020-10-30 20:53] aerorahul opened #350 "add bufr parser to convert bufr data to ioda"
Read bufr radiance data and convert to ioda-engines obs space objects.
Two backends are supported:
- in memory
- netcdf

[2020-11-02 15:46] ytremolet commented on #202
Can we close this? I think it is worked on elsewhere.

[2020-11-02 15:48] #202 closed

[2020-11-02 15:48] aerorahul commented on #202
#331 partially resolves this

[2020-11-02 15:51] CoryMartin-NOAA commented on #202
and issue #350 will be closed by #331 , so I'll close this old issue.

[2020-11-03 21:42] srherbener opened #353 "GIIRS test is failing on iMac platform"
The `test_iodaconv_giirs_ssec2ioda` test fails with the following messages from nccmp:

[code]

The differences are quite small, plus the tolerance options to nccmp are not being used. In general, a relative tolerance (-T option to nccmp) should be used to account for tiny differences when testing for matching floating point values.

[2020-11-04 16:49] rhoneyager commented on #326
Need to send back to developers and obs team.

[2020-11-04 18:03] #353 closed

[2020-11-04 19:57] srherbener opened #355 "Clang CodeBuild configuration gets error in the build step"
The Clang CodeBuild builds are getting the following error:

[code]

It looks like the wrong mpi wrapper is being used for the CXX compiler. (`mpiicpc` is the Intel wrapper, correct?)

[2020-11-04 20:14] mer-a-o commented on #355
I made a mistake when setting CodeBuild Clang and pulled the Intel container instead of Clang container. I fixed the issue in AWS and I am testing it in PR #356.

[2020-11-04 20:57] #355 closed

[2020-11-05 17:11] #330 closed

[2020-11-13 16:19] CoryMartin-NOAA opened #358 "Simple Script to Make Single Observation File"
For single observation tests.

[2020-11-23 22:30] srherbener commented on #347
I'm seeing this error too. It appears to occur when you start with a fresh clone. I've had a clone for a long time on my iMac, I've been updating it all this time and this fault hadn't appeared in my clone.

[2020-11-23 23:08] #350 closed

[2020-11-24 00:00] #358 closed

[2020-11-24 20:11] #347 closed

[2020-11-24 22:26] #335 closed

[2020-11-24 22:26] #333 closed

[2020-11-24 22:26] #332 closed

[2020-11-24 22:30] rmclaren opened #365 "Split Bufr Ingester lib."
Split the ingester lib into ioda_encoder and bufr_parser in order to facilitate the creation of new parsers.

[2020-11-24 22:47] rmclaren opened #367 "Enhanced Exports features to BUFR Parser."
- Add the ability to split output into separate files based on the value of one or more mnemonics.
- Add ability to apply some simple filtering to the data (remove data where mnemonic is outside a specified bounds for example).
- Update source descriptions to be more specific "variable/radiance" vs just radiance.
- Add some attributes to the data so you can do stuff like "variable/radiance.nrows"

[2020-12-01 23:20] srherbener opened #369 "Create a common top level namespace for C++ code"
At the moment we have only the bufr parser and ioda encoder functions that are written in C++. The top level namespace is called "Ingester" which is fine for the current code. In anticipation of more C++ functions being added which might go outside the realm of "Ingester" we should probably use a more generic name for the top level namespace such as "iodaconv". We can then make "Ingester" a sub-na

[2020-12-01 23:23] rmclaren commented on #369
Please take a look at ioda-converter feature/bufr_lib_split.

[2020-12-01 23:30] srherbener opened #370 "CI testing is not building and running the EMC bufr ingester code"
The EMC bufr ingester code is optionally built and tested only when the following packages are found:
- eckit
- oops
- ioda_engines
- bufr

The CI test containers, I believe don't have the ioda_engines module yet so the build and test of the EMC bufr ingester is disabled.

We are on the verge of merging the ioda and ioda-engines repositories, so the ioda_engines dependency in the list above will c

[2020-12-01 23:35] srherbener opened #371 "CI testing needs to add pygrib dependency for new GRIB converters"
A new PR under review (#361) will introduce a GRIB file converter. This PR introduces a new dependency, namely the pygrib python module. Currently the CI test container does not have this dependency which results in the build and test of the GRIB converters to be disabled.

[2020-12-02 16:25] mer-a-o commented on #371
@srherbener Do we need to update containers with pygrib or can we install it as an additional step in CodeBuild?

[2020-12-02 18:08] srherbener commented on #371
@mer-a-o EMC said that the usage of the GRIB converters is limited so no need to update the containers. We can do it as an additional step in CodeBuild for now. However, if it's easier/better to update the containers, then let's do that. pygrib is installable via pip if that helps.

[2020-12-02 19:08] jswhit commented on #371
Note that pygrib requires the [ECCODES](https://confluence.ecmwf.int/display/ECC) C library.  There is a conda package for both pygrib and eccodes.

[2020-12-02 19:10] jswhit commented on #371
assimilation of [MRMS](https://www.nssl.noaa.gov/projects/mrms/) radar data is another possible use case for a grib converter.

[2020-12-02 21:27] srherbener commented on #371
@jswhit, thanks for the information. If GRIB becomes more common, then I think we should install pygrib in the containers, but I'm not sure if we are at that threshold yet.

Won't the `conda install` or `pip install` take care of installing eccodes as a dependency? I seem to recall `pip install pygrib` taking care of installing eccodes.

[2020-12-03 03:07] jswhit commented on #371
conda install will install the library, pip install will not.

[2020-12-03 16:10] rmclaren opened #372 "BufrConverter: Both nlocs and nchans are defined with unlimited size."
For some reason the dimensions for the NetCDF files created are reported to have UNLIMITED size. According to @srherbener these sizes should be fixed.

[2020-12-03 16:12] rmclaren opened #373 "BufrConverter: Output variables are double precision instead of single precision."
The variables in the NetCDF output should be encoded as single precision (floats) instead of double precision (doubles) numbers.

[2020-12-03 16:22] rmclaren opened #374 "BufrConverter: Tool to create YAML files."
Investigate writing tool that can read BUFR file table data and aid the user in creating YAML configuration data for that file with a GUI of some kind.

[2020-12-03 16:27] rmclaren opened #375 "BufrConverter: Tool for creating YAML via GUI"
Investigate writing a tool that could read BUFR table data and provide a GUI which would allow the user to select which mnemonics to use in the YAML configuration file.

[2020-12-03 20:59] srherbener commented on #372
The unlimited size is coming from this line:

https://github.com/JCSDA-internal/ioda-converters/blob/1ed4019613a611deea243f36cdb4392df45232a9/src/bufr/IodaEncoder/IodaEncoder.cpp#L62

This argument to the NewDimensionScale constructor is setting the maximum allowed dimension size.

It's best to set dimensions to fixed sizes if you know those sizes beforehand. I'm not sure if it's possible to know

[2020-12-03 22:36] mer-a-o commented on #371
Thanks @jswhit.
[Here](https://pypi.org/project/pygrib/) it is recommended to use conda. But we don't have conda in our containers. I was able to run `ECCODES_DIR=path/to/eccodes pip install pygrib` after downloading and installing eccodes. I think the steps are a little too complicated to have as part of CodeBuild and it is best to include it in the container. I can still try to add it to CodeBui

[2020-12-03 23:37] srherbener commented on #371
I must have used `conda install` before because I don't remember having to do anything about the eccodes library.

This isn't urgent so I think the best path forward is to install pygrib in the containers and simply wait until that is complete for the CI testing to pick up the new tests. That way we can avoid spending precious time on a temporary solution. Plus we will be set if/when the pygrib de

[2020-12-04 14:29] rmclaren opened #377 "BufrConverter: Value transform from lookup table data."
Investigate the possibility of adding an export transform to BufrParser that can convert BUFR mnemonic numbers (for example: scan  angles) to their actual values. In bufr these values are often represented as integer numbers (0-50 say) and then are later converted to actual angle values...

You can already kind of handle this if you are willing to hard coded values in the YAML file by using export

[2020-12-04 16:57] YoulongXia-NOAA opened #378 "Issue on not fill zero values for snow depth in GHCN some stations"
I am working GHCN ioda converters for GHCN snow depth. Now I have an issue about not fill zero values for snow depth in GHCN some stations when snow depth is zero.  The data file use the space instead. I do not know if this is missing value or not fill zero value from the data file. Now my python code assumed as that it is missing value. Does anyone has experience to process this situation?

[2020-12-04 17:06] YoulongXia-NOAA commented on #378
If who knows the experts in this direction, please assign her/him here so that I can get help.

[2020-12-04 19:05] amfox37 commented on #378
I believe this potential problem came up in our discussion on Monday, but @tsga indicated it had been addressed. Can you check in with him to make sure about that? Thanks, Andy

[2020-12-04 19:21] YoulongXia-NOAA commented on #378
Okay, I will share my python code with @tsga and see if my code also fixes that problem. @tsga, could you please check my python code in feature/ghcn_snowd and see if it has fixed this problem?

[2020-12-05 14:38] tsga commented on #378
@YoulongXia-NOAA, let's have a short call, the two of us, and talk about it. I think you already have addressed it, but let's just go over it to make sure.

[2020-12-07 16:49] YoulongXia-NOAA commented on #378
Tsega and I have looked at my python code. The code has fixed this issue. So I closed it. Thank you all for your inputs and comments.

[2020-12-07 16:49] #378 closed

[2020-12-09 20:54] srherbener commented on #326
@weihanucar we are interested in cleaning up the GIIRS scripts in the ioda-converters repo. We would like to delete obsolete scripts and make sure the scripts that are not obsolete are functional and maintainable.

It looks like the only script being used on our side is `giirs_ssec2ioda.py`. This is being used in the NRT flow for example. So, from our perspective it seems that all the other script

[2020-12-17 19:20] rmclaren opened #384 "Bufr Converter: Add ability to read BUFR sequences."
Currently the BUFR converter uses the NCEPLib BUFR calls **ufbrep** and **ufbint** to read BUFR mnemonic data. There is however a seperate class of data, sequences, which we do not handle (read using **ufbseq**).

YAML wise we could extend the section mnemonicSets with a new type, **_sequence_**.

[2020-12-31 16:41] rmclaren opened #385 "BufrConverter: Add ability to declare specify subset ID in YAML config."
Add ability to specify subset ID's and what mnemonics to parse from each one. I'm thinking of following the following example (need feedback):

[code]

[2020-12-31 17:12] rmclaren opened #386 "Automate SatWnds Processing."
Automate satwnds processing via a script that splits the Satwnds files into its subsets and then processes each one with bufr2ioda.x.

[2020-12-31 19:31] rmclaren commented on #372
@srherbener

I can determine the number of locations ahead of time very easily, but I had some additional questions:

1) Should chunk sizes for dimension variables be defaulted to a value like (ex: 1000) or just be the length of that dimension (ex: nlocs)?

2) Should the user be able to specify a chunksize for a dimension variable manually through the configuration or by adding an optional "chunkS

[2021-01-05 20:04] #286 closed

[2021-01-06 15:18] rmclaren opened #387 "BufrConverter: Need type checking for YAML config."
Ran into a confusing instance where a subconfiguration to a YAML object was a dictionary and not a list as it was supposed to be. The process completed without letting the user know there was anything wrong. Need to add type validation when reading the YAML config so that the process refuses to execute if there is a problem like this (preventing potentially bad output).

[2021-01-07 14:30] rmclaren opened #389 "BufrConverter: Use old NetCDF format for now."
We are currently using the new NetCDF format when writing output. Unfortunately many of the tools in existence still depend on the "old" NetCDF format. So we decided standardize on the "old" format for now (as the new ioda reader can handle both), and then switch to the "new" format once we know all the tools have transitioned.

[2021-01-08 00:03] srherbener commented on #372
@rmclaren sorry about the slow response on this. It dropped through the cracks.

1. The HDF5 developers recommend keeping the chunk size <= 1 MB. The chunk size determines how much space is allocated so ideally you want the chunk size to be a factor of the total size. If the total size is 20, then chunk sizes of 4, 5, 10 are good because the memory gets utilized at a 100%. If you were to select a

[2021-01-08 19:11] emilyhcliu opened #390 "Integrate and test satellite wind processing from BUFR dump file to IODA format"

[2021-01-08 19:27] emilyhcliu commented on #390
@emilyhcliu I got the IODA-converters issue you opened for me.  I will begin to document my work on this page.

[2021-01-11 15:49] rmclaren opened #391 "Bufr Converter: Refactor config parameter reading code."
Use the JEDI parameter framework to clean up (refactor) the way that YAML configuration is being read and validated.

https://jointcenterforsatellitedataassimilation-jedi-docs.readthedocs-hosted.com/en/latest/inside/jedi-components/configuration/parameters.html

[2021-01-11 21:03] JeffreyKSmith-NOAA commented on #390
- Downloaded and built Ron's programs
- Wrote Python script to verify the correctness of output
- Commenced testing/debugging above Python script

[2021-01-12 19:36] aerorahul opened #393 "ghcn_snod test fails due to file not found."
https://github.com/JCSDA-internal/ioda-converters/blob/cfa4344fd5a0845c7b889ac50ac5ae538898efeb/test/CMakeLists.txt#L496

This test will always fail because the `doc/fix/ghcn-stations.txt` is not present in the `CMAKE_BINARY_DIR`

[2021-01-12 20:04] YoulongXia-NOAA commented on #393
Will take a look soon when hera returns tomorrow. Thank you.

[2021-01-12 23:44] YoulongXia-NOAA commented on #393
Hi Rahul,

I just did on hera:
git checkout develop
git pull
git checkout feature/smap_ssm
git merge develop

and then did:
ecbuild, make, make install, and ctest command. The last two tests are:

Start 36: test_iodaconv_ghcn_snod
36/37 Test #36: test_iodaconv_ghcn_snod ..............   Passed    4.08 sec
      Start 37: test_iodaconv_smap_ssm
37/37 Test #37: test_iodaconv_smap_ssm ...............

[2021-01-12 23:54] srherbener commented on #393
I think the issue is that when you build ioda-converters in a bundle ${CMAKE_BINARY_DIR} is set to point to the top of the build area but the ioda-converter CMake configuration is placing the doc/fix files in ${CMAKE_BINARY_DIR}/**iodaconv**/doc/fix. The tests cannot find the files because they expect them to be in ${CMAKE_BINARY_DIR}/doc/fix.

When you build ioda-converters stand alone (not in a

[2021-01-13 00:00] YoulongXia-NOAA commented on #393
I am not familiar with that part. Stephen, could you please help to fix it?

[2021-01-13 00:33] srherbener commented on #393
I can, but I won't be able to get to this for a while. I'm extremely busy with assisting the OBS code sprint and getting the IODA PRs in place.

[2021-01-13 00:50] YoulongXia-NOAA commented on #393
Okay, Stephen. Do not worry this issue and do your work first. Let me git clone the bundle and see if I am able to fix it. Which bundle do I need to clone?

[2021-01-13 01:11] srherbener commented on #393
@YoulongXia-NOAA, use jcsda-internal/ioda-bundle and add this line after the similar line for the ioda repository:

[code]
Thanks for giving this a shot.

[2021-01-13 21:04] aerorahul commented on #390
@JeffreyKSmith-NOAA Can you please create a branch and push the python script used for validation here, so others can exercise them.

[2021-01-13 21:50] rmclaren opened #395 "Bufr Converter: Add transform to make it possible to transform longitude 0-360 to -180-180 and vise versa."
Unfortunately there is currently no easy way transform longitude that are represented as 0-360 into -180-180 via the YAML configuration. We should add a transform to make this possible.

[2021-01-13 21:52] nicholasesposito opened #396 "IODA converter example to be added"
I have opened the [feature/converter-example](https://github.com/JCSDA-internal/ioda-converters/tree/feature/converter_example) branch on JCSDA-internal/ioda-converters.

The purpose is to add an sample of how the ioda converter would be.

In the branch, there is:
- a README file dictating how to run the converter, information about the input, output, yaml input, and environment file.
- an input d

[2021-01-13 21:53] nicholasesposito opened #397 "Investigate problems with using panoply to plot ioda-formatted netcdf files"
Panoply currently has trouble determining which variables can be plotted in 2D from ioda-formatted netcdf files.
Investigation should include why it does this and potential fixes.

Note that adding the bolded line for each variable in the ioda section of the yaml file seems to help.
        - name: "pressureAir@ObsValue"
          **coordinates: "longitude latitude"**
          source: "pressureAi

[2021-01-14 14:24] YoulongXia-NOAA opened #398 "Implement h5py module in the containers for AWS check"
All three checks fails in feature/smap_ssm due to no h5py module found in the containers. This is a needed module for HDF5 format file and need to be implemented in the containers. This will help ioda-converter development when NASA H5 files are used.

[2021-01-14 18:29] #367 closed

[2021-01-14 18:29] #372 closed

[2021-01-14 18:29] #373 closed

[2021-01-14 18:29] #386 closed

[2021-01-14 18:29] #387 closed

[2021-01-14 18:29] #389 closed

[2021-01-14 18:30] #393 closed

[2021-01-15 18:27] nicholasesposito commented on #396
Additional information:
When the feature/converter-example branch is checked out, the project is in the CONVERTER_EXAMPLE directory.

The README and HERA environment file are both in the main directory.
There is also the yaml used with the converter in the main directory, and it is named "bufr_adpsfc.yaml"
The input data is in the DATA/ directory and is named "adpsfc"
The output directory is named

[2021-01-15 18:39] aerorahul commented on #396
1. Please don't include the HERA file.  This is not a place for it.
2. Name the testinput file for adpsfc bufr as the original; e.g. gdas.t00z.adpsfc.bufr_tm00
3. name the testoutput file for adpsfc netcdf as e.g. gdas.t00z.adpsfc.nc
4. The Input and output data needs to be in testinput and testoutput directories.
5. The README.md should be updated in the bufr directory.

[2021-01-15 21:45] CoryMartin-NOAA commented on #396
Just for my understanding/clarification, is this supposed to parallel the existing test/example that @rmclaren has (https://github.com/JCSDA-internal/ioda-converters/blob/develop/test/testinput/bufr_mhs.yaml and https://github.com/JCSDA-internal/ioda-converters/blob/a6140dc9107817f8dd23b4c57a50ef54ceba0dbc/test/CMakeLists.txt#L450) but for adpsfc?

[2021-01-19 16:21] CoryMartin-NOAA opened #399 "Replace/modify ioda_conv_ncio for ioda-engines"
Most of these converters are python-based and they leverage the ioda_conv_ncio module included in this repository. If it's relatively easy enough, the best/fastest way to update all the converters is to keep the scripts the same and modify the module they call to use the ioda-engines python bindings rather than the netCDF I/O and setup routines defined in ioda_conv_ncio.py

[2021-01-19 16:31] YoulongXia-NOAA commented on #398
I am able to use netCDF4 module to handle h5 format SMAP soil moisture file and do not need to implement h5py module. I close this issue request ticket.

[2021-01-19 16:31] #398 closed

[2021-01-19 17:06] YoulongXia-NOAA opened #400 "Intially inplement SMAP Level 2 NRT surface soil moisture to ioda-converters"
Use netCDF4 module to initially implement SMAP surface soil moisture to ioda-converters for land DA users.

[2021-01-19 18:29] nicholasesposito commented on #396
Cory, yes, this will be parallel to it. I'll probably name it "test_iodaconv_bufr_adpsfc2ioda".
Rahul, will do. Working on it now.

[2021-01-19 20:55] #400 closed

[2021-01-20 15:43] srherbener commented on #399
@CoryMartin-NOAA, thanks for submitting this issue. @rhoneyager and I are meeting this week to discuss doing exactly what you are suggesting. The BuildNetcdf routine in ioda_conv_ncio.py appears quite amenable to converting to using the ioda-engines Python API.

[2021-01-21 00:03] JeffreyKSmith-NOAA commented on #390
Pushed satwinds Python BUFR to IODA program validation script validateSatwndsConv.py to github in branch feature/bufrpeek of JCSDA-internal/ioda-converters/tools (since it uses a couple of existing files in that branch).

[2021-01-21 22:27] shlyaeva opened #402 "Write a converter for satbias files"
To simplify ufo code, bias correction coefficients need to be stored in self-described file.

Write a ioda converter that read bias coeffs from GSI satbias file and stores them in a ioda-readable file containing:
- coeffiicients
- predictor names
- channel indices

[2021-01-22 15:06] emilyhcliu opened #403 "Test and Enhance BUFR-to-IODA YAML for ATMS"
**Create YAML file that maps the BUFR Mnenomics to Unified IODA Names for ATMS**

**To-do list**
- [ ] Creat YAML for ATMS
- [ ] Run BUFR2IODA and verify consistency between BUFR and IODA

---

[2021-01-22 18:57] nicholasesposito commented on #396
Rahul - ignore most of my previous email. I added all of the changes, minus the ctest. I took the README out because yes, it should be explained in the contents of the bufr directory. The input yaml/bufr and output nc are in the testinput and testoutput directories, respectively. The environment file has been removed.

I made the changes to add the ctest to test/CMakeLists.txt, but I couldn't get

[2021-01-22 19:00] CoryMartin-NOAA commented on #396
@nicholasesposito as far as I can tell it looks like you added the new test correctly. Let me checkout the branch and see if it is there for me.

[2021-01-22 19:41] aerorahul commented on #396
@nicholasesposito
your branch is stale.
You are using the "newer" format for yaml with the old code.
Please update your branch and fix the yaml file.

[2021-01-22 20:02] aerorahul commented on #396
@nicholasesposito
I merged `develop` in your branch and fixed the `bufr_adpsfc.yaml` file.
The test fails because `nccmp` fails.  It failed because the reference output file is has a `coordinate of latitude longitude` on `datetime` variable.  it should not.
I fixed that too.

See branch `feature/converter_example-fixed`

[2021-01-22 21:02] rmclaren opened #406 "Bufr Converter: Add support for missing_value parameter to ioda variables."
Accodring to @aerorahul:

netCDF can prescribe a variable attribute such as _FillValue or missing_value. See here
We should be able to put that attribute into the netCDF file.

NCEPlibs-bufr assigns missing values as 1e11. This is defined in bfrini.f

valid_range is fine, but we should define a variable attribute _FillValue or missing_value using the value from bufr data.

[2021-01-22 23:01] #396 closed

[2021-01-22 23:08] srherbener opened #407 "The CI test configuration is not building and testing the new EMC converter."
The new EMC converter is a C++ implementation that can convert a number of radiance and conventional obs types provided in BUFR and prepBUFR files. It is set up to build and test optionally when eckit, bufr, oops and ioda libraries are available (since these are dependencies).

I believe that eckit and bufr are being built in the CI testing configuration, and it looks like ioda and oops need to be

[2021-01-25 15:26] mer-a-o commented on #407
@srherbener Do we want to have a bundle of ioda-converters, ioda, and oops for ioda-converters Codbuilds?

[2021-01-25 22:02] ilianagenkova commented on #390
@JeffreyKSmith-NOAA , please go to the relevant [ZenHub issue](https://app.zenhub.com/workspaces/jedi-5eb436d0a544107acce79780/issues/jcsda-internal/ioda-converters/390) and enter something for Estimate. ( 1/2 day of work is One Estimate Unit ). Thanks!

[2021-01-25 23:23] ilianagenkova commented on #337
satwnd_*_obs*.nc4 files with SAID and OGCE bufr mnemonics were created and used for UFO QC development.

These files will not be added to the AWS tarball  because soon obs files will be generated with BUFR2IODA converters.

[2021-01-25 23:25] #337 closed

[2021-01-26 20:29] YoulongXia-NOAA opened #408 "Work on the initial implementation for SMOS Level 2 NRT Soil Moisture ioda-converter"
SMOS L2 NRT soil moisture website:
https://earth.esa.int/eogateway/missions/smos
https://smos-diss.eo.esa.int/oads/access/

Data file example:
W_XX-ESA,SMOS,NRTNN_C_LEMM_20201110022133_20201109235712_20201110012802_o_v200_l2sm.nc

Documents and user handbook:
https://earth.esa.int/documents/10174/1854503/SMOS-level-2-Soil-Moisture-NRT-V200-release-note

Related (Key) Documentation:
See Related (Ke

[2021-01-27 00:48] srherbener commented on #407
@mer-a-o let's use ioda-bundle as we discussed in the core team meeting today. The ioda converters build is enabled with `BUILD_IODA_CONVERTERS=ON`. Example:
[code]

Let me know if you need anything else. Thanks for helping with this!

[2021-01-27 01:15] srherbener commented on #407
@mer-a-o, another detail is that the following modules need to be accessible:

- bufr
- gsl-lite

ioda-bundle provides the other dependencies for the converters:

- eckit
- oops
- ioda (which includes ioda engines)

[2021-01-27 01:16] srherbener commented on #370
I'm going to close this issue since it is a duplicate of #407

[2021-01-27 01:16] #370 closed

[2021-01-27 17:28] gthompsnJCSDA commented on #279
I am pretty sure this issue can be closed as we have a number of test datasets during Obs team code sprints.  @emilyhcliu  can re-open the issue if she disagrees

[2021-01-27 17:28] #279 closed

[2021-01-28 20:21] #408 closed

[2021-01-28 21:53] #402 closed

[2021-01-29 16:58] JeffreyKSmith-NOAA opened #412 "Implement and Validate BUFR to IODA Conversion for Scatterometer Winds"
Create Python driver and YAML file to use bufr2ioda.x to convert scatterometer winds BUFR files to IODA format. Validate the conversion.

[2021-01-29 17:51] rmclaren opened #413 "BUFR Converter: Bug where m x n data is being read wrong where both m and n are > 1."
Jeff Smith discovered a bug where data was being read incorrectly when reading an m x n block from the BUFR file. So if you do something like this in the YAML it will not give you the expected data:

        - mnemonics: [GNAP, PCCF]
          channels: 1-12

If you read GNAP and PCCF individually it would work:

        - mnemonics: [GNAP]
          channels: 1-12
        - mnemonics: [PCCF]

[2021-02-01 15:06] YoulongXia-NOAA opened #415 "Initial implementation for ASCAT Level 2 NRT Soil Moisture Normalized converter"
## Description

Provide an initial implementation for ASCAT Level 2 Soil Moisture Normalized converter in support the community land DA task.

To finally add the capacity of converting native netcdf format ASCAT soil moisture data including its errors and pre-qc flag to ioda-converters standard netcdf format, a new python converter code needs to be added.  The instructions needs to be added in REA

[2021-02-01 15:24] YoulongXia-NOAA commented on #415
ASCAT level 2 soil moisture websites:
25km - https://vnavigator.eumetsat.int/product/EO:EUM:DAT:METOP:SOMO25, https://navigator.eumetsat.int/product/EO:EUM:DAT:METOP:SOMO25

12.5km -  https://navigator.eumetsat.int/product/EO:EUM:DAT:METOP:SOMO12

[2021-02-01 15:29] YoulongXia-NOAA commented on #415
SMOS Level 2 NRT Soil Moisture Normalized:
Unit: 0-100%

The example of filename for 25km:
W_XX-EUMETSAT-Darmstadt,SURFACE+SATELLITE,METOPA+ASCAT_C_EUMP_20201111013300_72972_eps_o_250_ssm_l2.nc

The example of filename for 12.5km:
W_XX-EUMETSAT-Darmstadt,SURFACE+SATELLITE,METOPA+ASCAT_C_EUMP_20201111132100_72979_eps_o_125_ssm_l2.nc

File format: netcdf

[2021-02-01 15:43] YoulongXia-NOAA commented on #415
Pre-QC procedure:

If  Wetland_flag >15%  (Dharssi et al., 2011) or topography_flag > 20% ( Dharssi et al., 2011)
pre-qcflag = 1        ! quality is poor and not in use

then

pre-qcflag = 0   ! good quality

**References:**
Dharssi, I., K. Bovis, B. Macpherson, and C. Jones, 2011: Operational assimilation of ASCATsurface soil wetness at the Met Office, Hydrol. Earth Syst. Sci., 15, 2729–2746.

**

[2021-02-01 15:49] YoulongXia-NOAA commented on #415
**ASCAT Level 2 NRT soil moisture user guide and handbook:**

https://www-cdn.eumetsat.int/files/2020-07/ASCAT%20User%20Guide.pdf
https://www-cdn.eumetsat.int/files/2020-04/pdf_ascat_lev2_soil_moisture.pdf
https://www-cdn.eumetsat.int/files/2020-04/pdf_soilmoisture_prod_hb.pdf
https://www-cdn.eumetsat.int/files/2020-04/pdf_ascat-b_l2_soil_moisture_pvr.pdf

[2021-02-01 15:49] aerorahul commented on #415
@YoulongXia-NOAA
The code block:
[code]

reads like a filter and should be implemented in the UFO.

Where are the Wetland_flag and topography_flag variables being read in from?  If they are in the original dataset, then transferring this data to the IODA netcdf is fine.

[2021-02-01 15:59] YoulongXia-NOAA commented on #415
These flags are read from ASCAT input file. Can I transfer these two flags into ioda netcdf file in @metadata? I looked at all output netcdf files in testouput directory, and I found only  one file containing zenith angle in @metadata but no other flags are outputted there. These input data include both satellite and in-situ observations. If you suggest me to include them in output file, I will wo

[2021-02-01 16:02] aerorahul commented on #415
@YoulongXia-NOAA
Yes, absolutely do transfer the data from the ASCAT input file to the IODA netCDF file.
That is the purpose of the converter to translate/transfer from the input (ASCAT) to output (IODA).  The only restriction imposed is to not add information that could be perceived as subjective.

[2021-02-01 16:11] YoulongXia-NOAA commented on #415
Okay, originally I thought that I can transfer obs value, error and pre-qc flag, lat, lon, time to ioda format netcdf file. Now you told me that I can transfer some flags to ioda format netcdf file. That is great. I can do that and ask you to review when I pull a PR in future.

[2021-02-01 17:05] YoulongXia-NOAA commented on #415
I will use WetlandFraction and TopographyComlexity as the two flags' names. This may be needed to to ask Greg to add them to his ioda_ObsConventions document.

[2021-02-01 17:14] ClaraDraper-NOAA commented on #415
Thanks Youlong, Can you please also add the soil_moisture_error too (if you have not already)?

[2021-02-01 17:23] YoulongXia-NOAA commented on #415
Yes, it is one of the three needed variables (observed value, error and pre-qc), already in list.

[2021-02-01 17:24] ClaraDraper-NOAA commented on #415
Perfect, thanks.

[2021-02-02 19:07] shlyaeva opened #417 "Update VarBC documentation"
## Description

- [ ] update yaml syntax
- [ ] add documentation on bias coefficients files

## Requirements

Have documentation on VarBC up to date.

[2021-02-03 17:20] JeffreyKSmith-NOAA commented on #412
A first attempt has been created and the output has been validated. A discussion of what fields are to be transferred to the IODA netCDF file is needed.

[2021-02-03 18:19] rmclaren opened #418 "Bufr Converter: Add support for standard WMO bufr files."
Add support for reading standard WMO bufr files. Standard WMO Bufr files do not include the BUFR table data as part of the file (must be read seperatly).

[2021-02-03 18:19] #413 closed

[2021-02-04 16:47] srherbener opened #419 "NCAR needs path to migrate their ioda test files to the new ioda format"
@srherbener commented on [Thu Feb 04 2021](https://github.com/JCSDA-internal/ioda/issues/85)

NCAR has built up a repository of test files (including ioda obs files) over the past year and need a path for migrating this data set to the new ioda format which will be introduced in the upcoming JEDI 1.1.0 release.

Other partners may also have this issue.

Options for addressing this issue:

- Update

[2021-02-04 16:48] srherbener commented on #419
Sorry, I built this in the wrong repo so I used the github move issue to place it here.

[2021-02-04 16:49] srherbener commented on #419
Who from the OBS team should be assigned to this?

[2021-02-04 17:17] svahl991 commented on #419
Tagging @liujake and @snyderdad on this issue.

[2021-02-04 17:23] #407 closed

[2021-02-04 17:42] cyberbass opened #420 "Add support to user defined variables and attributes when using the new c++ converter"
## Description

Need the capability to add certain variables or attributes created by the user rather than transferring from their bufr equivalents.

For example:
1. Add metadata such as`platformCategory` or `instrumentName` for designated platform/instrument as a global attribute to the output netcdf file.
2. Add variable such as: `Center Wavelength` to specify the wavelength of each radiance cha

[2021-02-04 17:47] cyberbass commented on #420
Working on converting the MHS bufr data to ioda format following the new naming convention. Current working yaml and sample outputs can be found on s4 under the following path:

Yaml:
[code]

Output:
[code]

[2021-02-04 21:56] cyberbass commented on #420
@rhoneyager @srherbener Do you have some quick instructions so that I can start to look if we can add some global attributes first?

[2021-02-05 00:06] YoulongXia-NOAA opened #421 "Fix wrong lat/lon for afwa snowDepth converter when stereographic projection is used"
## Description

Need to modify the converter python codes using pyproj to calculate lat/lon when North/South polar stereographic projection parameters are used. For test cases with small region data,  this issue is not found. However, the users found this bug when the converters are used for northern/southern hemisphere AFWA grib1 data file and IMS grib2 data file to ask me to fix.

## Requirement

[2021-02-05 00:32] YoulongXia-NOAA commented on #421
data = pygrib.open(filename)
 lat, lon= data[1].latlons()

These two sentences cannot read the correct geographic latitudes and longitudes when north/south polar stereographic projection is used for grib file. It needs to calculate x and y and use pyproj to convert the correct lat/lon values.

[2021-02-05 01:00] barlage commented on #421
@YoulongXia-NOAA to be clear, the issue does exist in the subset, it is just not noticeable, i.e., doesn't have obviously incorrect latitudes.

[2021-02-05 13:28] YoulongXia-NOAA commented on #421
Yes for test cases as the input file used is via COPYGB to extract small region data from north hemisphere afwa data file.

[2021-02-05 13:36] YoulongXia-NOAA commented on #421
COPYGB also uses to cut small region for IMS snow cover. Therefore, for these two test cases, the codes work reasonably.  However, when the original hemisphere file is used, the codes seem to have problems.

[2021-02-05 15:29] huishao-r commented on #420
@cyberbass This work is not particular for radiance. You may use OBS1.2.2 for the Epic. In addition, please update the title and your description to indicate what converter you are talking about, e.g., BUFR converter

[2021-02-05 17:52] emilyhcliu opened #422 "Test and Enhance BUFR-to-IODA YAML for AMSU-A (ATOVS)"
## Description

**Create YAML file that maps the BUFR Mnenomics to Unified IODA Names for AMSU-A (ATOVS) and validate the IODA output**

Working branch: [feature/query_tovs](https://github.com/JCSDA-internal/ioda-converters/tree/feature/query_tovs)

**To-do list**
- [x] Create [YAMLs](https://github.com/jcsda-internal/ioda-converters/issues/422#issuecomment-894264427) for AMSU-A
- [x] Test YAMLs
-

[2021-02-05 17:52] emilyhcliu opened #423 "Test and Enhance BUFR-to-IODA YAML for MHS"
## Description

**Complete YAML file that maps the BUFR Mnenomics to Unified IODA Names for MHS (ATOVS)**

**Branch** - [feature/bufr2ioda_mhs](https://github.com/JCSDA-internal/ioda-converters/tree/feature/bufr2ioda_mhs)

**To-do list**
- [x] Complete YAML for MHS
- [x] Run BUFR2IODA and verify consistency between BUFR and IODA

**Resources**
[NOAA NCEP BUFR Table 021](https://www.nco.ncep.noaa.g

[2021-02-05 18:04] emilyhcliu opened #424 "Create google spreadsheet documenting the mapping of BUFR mnemonics to Unified IODA variables for ozone data"
## Description

**Create google spreadsheet that maps BUFR Mnemonics to Unified IODA Variables for ozone data:**
- [ ] SBUV (not operational)
- [ ] GOME (not operational)
- [ ] OMI
- [ ] OMPS Nadir
- [ ] OMPS Total Column
- [ ] OMPS Limb (under development)

*(Instructions: replace text in this and all sections with your own text)*

Provide a detailed description of this issue.

What problem needs

[2021-02-05 19:32] emilyhcliu opened #425 "NOAA EMC Observation Data (BUFR/PrepBUFR) to IODA Conversion Software Development"
## Description

### **BUFR Converter - an IODA-Engines based ingester**

### **What is it?**
- C++ tool that converts BUFR file to IODA ObsGroup object (saving to as NetCDF if desired).
- YAML file is used to describe the mapping between the input and the output.
- Supports simple transformations of “export” data so that the units of the data can be converted to the desired representation.
- Compi

[2021-02-05 19:33] emilyhcliu opened #426 "NOAA EMC BUFR to IODA Conversion Software Support and Enhancement for Satellite Derived Winds"
## Description

This Epic is to support and enhance the BUFR/PrepBUFR to IODA (bufr2ioda) conversion software development (Epic #425) through the following work for satellite-derived winds (AMV and Scatterometeor winds) used in the current GDAS operational system :

- Extract BUFR Mnemonics and related information (variable definition, dimension, and unit) used by GDAS analysis (GSI) from the BUFR

[2021-02-05 19:38] emilyhcliu opened #427 "NOAA EMC PrepBUFR to IODA Conversion Software Support and Enhancement for Conventional Data"
## Description
This Epic is to support and enhance the PrepBUFR to IODA (bufr2ioda) conversion software development (Epic #425) through the following work for conventional data used in the current GDAS operational system :

- Extract PrepBUFR Mnemonics and related information (variable definition, dimension, and unit) used by GDAS analysis (GSI) from the PrepBUFR file
- Create variable mappings be

[2021-02-05 19:41] emilyhcliu opened #428 "NOAA EMC BUFR to IODA Conversion Software Support and Enhancement for Satellite Radiances"
## Description

**This Epic is to support and enhance the BUFR to IODA (bufr2ioda) conversion software development (Epic #425) through the following work for [sensors used in the current GDAS operational system](https://docs.google.com/presentation/d/1Oi8LjeBFYlRjKOGcXcwWsjfY42qcoK8cr51DR9ofkDE/edit?usp=sharing)** :

- Extract BUFR Mnemonics and related information (variable definition, dimension,

[2021-02-05 20:17] YoulongXia-NOAA commented on #421
I have checked that IMS snow cover converter works well when northern hemisphere grib2 file is read. Its python code does not need to be modified. Some minor revisions, e.g., adding unit % and changing "snow_cover_fraction" into "snowCoverFraction" based on Greg Thomson's document rule, will be done.

[2021-02-08 17:09] srherbener commented on #420
@cyberbass, as we discussed in last Thursday's meeting (2/4/2021), we don't want to be introducing new obs variables via YAML, but it is okay to add global attributes and supplementary meta data (such as channel wavelength) that are not available in the input BUFR.

Note that meta data is typically added as a 1D variable that is indexed by the relevant dimension of the obs data it is describing. S

[2021-02-08 20:12] cyberbass commented on #420
@srherbener Thanks Steve! I am doing as you described above and looking into the ioda repo for examples.

[2021-02-10 15:20] #154 closed

[2021-02-10 15:25] rhoneyager commented on #226
@shlyaeva Is this still active?

[2021-02-10 15:30] shlyaeva commented on #226
Not relevant anymore; closing.

[2021-02-10 15:30] #226 closed

[2021-02-10 15:32] rhoneyager commented on #221
This issue has been inactive for a while. I have placed it in the AOP20 icebox for discussion in April. If resolved already, please close.

[2021-02-10 17:48] rmclaren commented on #384
Currently thinking about the following YAML format changes to the BUFR description section.

- Remove mnemonicSets section
- Add sequences section (I'm going to try to eliminate the need for this section).
- Bufr export variables now indicate a path to the Mnemonic so it lists the sequences.
- Bufr export variables now list the indices that are desired to be exported for a specific key.

Here is a

[2021-02-10 18:15] gthompsnJCSDA commented on #384
@rmclaren  So is a sequence the same as what debufr.x reports as a 'replication?'  If I interpret your screen capture correctly, I assume that a sequence of __root__ would be any unchanging header-like data for station ID/name, position info, a radiosonde launch time; but any named sections below root are referring to the repeated info such as a air_temperature at distinct heights of a sonde while

[2021-02-10 20:43] rmclaren commented on #384
Hi Greg,

Let me start by posting a part of a BUFR table as an example:

![image.png](https://images.zenhubusercontent.com/5efcacfc3b91075e014181ba/5912745e-cd6a-4d25-b984-8d047f8812c3)

So in BUFR there are basically two types of mnemonics (basically data field ID's). **Data** mnemonics such as CLATH which are straight forward mnemonics that represent a data field (via a "Table B" descriptor), an

[2021-02-10 23:00] emilyhcliu opened #430 "Create a google spreadsheet that document the mapping between BUFR Mnemonics and the Unified IODA Names for each sensor type"
## Description

**Create a google spreadsheet that documents mapping between BUFR Mnemonics and the Unified IODA Names for each sensor**

**List of Sensors**:
- [x] IASI
- [x] CrIS
- [x] AIRS
- [x] AVHRR
- [x] ATOVS - AMSU-A and MHS
- [x] EOS AMSU-A (on AQUA)
- [x] ATMS
- [x] SSMIS
- [x] SAPHIS
- [x] SEVIRI

**Results:**
Google Spreadsheets https://github.com/JCSDA-internal/ioda-converters/issues/

[2021-02-11 04:04] emilyhcliu commented on #430
**Google Spreadsheets**
[Mapping between BUFR Mnemonics and Unified IODA names ](https://drive.google.com/file/d/1c0b3FoaAA_7XI0PwQkXZM9zPzbQWgDVQ/view?usp=sharing)

[2021-02-11 06:10] #430 closed

[2021-02-11 14:56] gthompsnJCSDA opened #431 "BufrConverter: add support of prioritized list of mnemonics"
## Description

A number of incoming BUFR files have possibility of more than one representation of the same basic piece of data and passing all possibilities into ObsSpace then requiring further codes to pick which one seems burdensome.  One really strong example of this situation are a "coarse" lat/lon or more high-res lat/lon represented in BUFR mnemonics as CLAT or CLATH for latitude for examp

[2021-02-12 12:58] emilyhcliu opened #432 "NOAA EMC BUFR to IODA Conversion Software Support and Enhancement for Conventional Data"
## Description
This Epic is to support and enhance the BUFR to IODA (bufr2ioda) conversion software development (Epic #425) through the following work for conventional data used in the current GDAS operational system :

- Extract BUFR Mnemonics and related information (variable definition, dimension, and unit) used by GDAS analysis (GSI) from the BUFR file
- Create variable mappings between BUFR M

[2021-02-12 23:52] emilyhcliu opened #433 "NOAA EMC Marine Data to IODA Conversion Software Support and Enhancement"
## Description

Convert SFCSHP from Prepbufr and Dump to IODA files

[Task List](https://docs.google.com/document/d/1xd6RKEWJIKdiXKIIBh9wx9Xjf-OxU8V3/edit)

To-do list:
- [ ] Create Yaml file for dbuoyb bufr file.
- [ ] Create Yaml file for mbuoyb bufr file.
- [ ] Create Yaml file for ship bufr file.
- [ ] Create Yaml file for argo and glider bufr file.
- [ ] Create small test file for testinput.

[2021-02-12 23:55] emilyhcliu opened #434 "NOAA EMC Land Data to IODA Conversion Software Support and Enhancement"
## Description

This task is to support the community land Data Assimilation (Land DA) activities by developing ioda-converters for snow products (e.g., IMS snow cover fraction, AFWA snow depth, GHCN snow depth, GTS snow depth), surface soil moisture (e.g., ASCAT Level 2 NRT product for both 12.5 and 25 km resolution, SMAP Level 2 NRT product, and SMOS Level 2 NRT product), and the other surface v

[2021-02-13 00:01] emilyhcliu opened #435 "NOAA EMC BUFR to IODA Conversion Software Support and Enhancement for Ozone Data"
## Description

*(Instructions: replace text in this and all sections with your own text)*

Provide a detailed description of this issue.

What problem needs to be fixed? What new capability needs to be added?

If this is a bug, describe the current behavior (or use the bug template).

[Be sure to add a Pipeline, Label, Estimate, Assignees, and Epic](https://jointcenterforsatellitedataassimilation

[2021-02-16 02:35] emilyhcliu commented on #423
[code]

[2021-02-16 02:36] emilyhcliu commented on #423
**Example of the header of the IODA for MHS NOAA-19**
[code]

[2021-02-16 02:43] emilyhcliu commented on #423
****To Do**: need to think about how and what to add to the global attributes**

Here are the global attributes in the chest for AMSU-A
[code]

[2021-02-16 18:12] rmclaren commented on #420
Please take a look at simular issue #377.

Basically the result of today's meeting we agreed to add a "globals" section to the ioda section in the YAML file. We also said that we would add a new variable type, mapping variable to the exports/variable section.

On second though about mapping, it might be more appropriate to have the mapping as a transform instead of another variable type so the YAM

[2021-02-16 21:36] gthompsnJCSDA commented on #431
Update... Making some progress on this task using branch feature/allow_multi_mnemonics

[2021-02-17 01:47] emilyhcliu commented on #423
To Do: adding additional variables

[Ron's comments about adding globals section in YAML from #420](https://github.com/JCSDA-internal/ioda-converters/issues/420#issuecomment-780022693)

[2021-02-17 03:38] emilyhcliu commented on #423
To Do: adding channel-related information for the sensor

[code]
Auxiliary information from CRTM spectral coefficient file for the sensor (netCDF format)?

[2021-02-17 16:33] YoulongXia-NOAA commented on #421
Modified ims_scf2ioda.py by adding unit %.

[2021-02-17 16:46] YoulongXia-NOAA commented on #421
When the code uses pygrib to read afwa snow depth data, for south polar stereographic projection, Lat of True Origin(lat_ts) is 60 rather than -60. Therefore python code needs to reset this value as -60. Additionally, the initial x is positive value rather than negative value as read in other standard grib1/grib2 file, so that the code uses x = llcrnrx - dx*np.arange(nx) to calculate x location. A

[2021-02-17 17:29] YoulongXia-NOAA commented on #421
Based on CPC and EMC scientists' experience in use of AFWA snow depth for CFS or using grads for make plots for monitoring purpose.  The approach is that first change orientation angle from 100 to -80 so that COPYGB and gribctl can work. After COPYGB processing, both grads and pygrib work reasonably. The reason remains unclear if AFWA snow depth grib1 file is not standard or if pygrib can handle s

[2021-02-18 16:56] jjguerrette commented on #221
This is probably a workflow problem and not an `ioda-converters` problem.  The workflow needs to decipher which variables are available in the obs file and then compile the list of `simulated variables`.  Closing.  Might be important to consider in EWOK.

[2021-02-18 16:56] #221 closed

[2021-02-20 19:37] cyberbass commented on #420
Global attributes added to the ioda file with preliminary code commited to branch:
[code]

[2021-02-22 16:30] #417 closed

[2021-02-22 21:47] srherbener commented on #371
Note in addition to installing pygrib in the containers, you also need to add `-DUSE_PYGRIB=1` to the ecbuild command for ioda-bundle to enable the tests of scripts using pygrib.

[2021-02-24 18:38] gthompsnJCSDA commented on #431
Update... This is now working.  Branch: feature/allow_multi_moments that also contains a merge of Ron McLaren's bufr_standard_wmo_support permits this to happen.

Next step needed will become a separate issue.  The work so far has considered only a single observation in BUFR in which one mnemonic is prioritized over another from a list, but the problem with many reports in a single file is that so